{% spaceless %}
{% load i18n %}
{% load url from future %}

{% autoescape off %}
    {% trans "Your account is not enough money." %}<br>
    {% trans "Regular payment was implemented." %}<br>
    {% trans "ID of regular payment"%} -  {{ regular_payment_id }}.<br>
    {% trans "Please fill up your account for the further implementation of regular payments." %}<br>
    {% trans "Thank you for using our service." %}
    <br>
    {% blocktrans %}team {{ site_name }}.{% endblocktrans %}
{% endautoescape %}
{% endspaceless %}