{% spaceless %}
{% load i18n %}
{% load url from future %}

{% autoescape off %}
    {% trans "Not selected operation mode. On this issue, write a letter to the administration of the site.." %}<br>
    {% trans "Regular payment was implemented." %}<br>
    {% trans "ID of regular payment"%} - {{ regular_payment_id }}.<br>
    {% trans "Thank you for using our service" %}
    <br>
    {% blocktrans %}team {{ site_name }}.{% endblocktrans %}
{% endautoescape %}
{% endspaceless %}