{% spaceless %}
{% load i18n %}
{% load url from future %}

{% autoescape off %}
    {% trans "Balance for the currency was not creating." %}<br>
    {% trans "Regular payment was implemented." %}<br>
    {% trans "ID of regular payment"%} - {{ regular_payment_id }}.<br>
    {% trans "Thank you for using our service" %}
    <br>
    {% blocktrans %}team {{ site_name }}.{% endblocktrans %}
{% endautoescape %}
{% endspaceless %}