{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    {% include "account/regular_payment/menu.html" %}
    <h1>{% trans "Update a regular payment" %}</h1>
    <div class="form_container">
        {% include "account/regular_payment/update/_form.html" %}
    </div>
</div>
{% endspaceless %}