{% spaceless %}
{% load i18n %}
{% if request.is_ajax %}
    <script type="text/javascript">
        init_cusel();
    </script>
{% endif %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<form method="POST" action="{% url "withdrawal_funds_create" %}"  class="withdrawal_funds_create main_send_html_post" id="withdrawal_funds_create">
    {% csrf_token %}
    <div class="row">
        <div class="col title"></div>
        <div class="col wide">
            {% trans "Data of form are considered taking commission." %}
        </div>
    </div>
    {% for field_obj in form %}
        <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %}hidden{% endif %}  {% if field_obj.field.required %}required{% endif %} field_{{ field_obj.name }}  ">
            <div class="col title">
                <label>
                    {{ field_obj.label }} {% if field_obj.field.required %}*{% endif %}:
                </label></div>
            <div class="col wide">
                <div class="field_{{ field_obj.name }}">{{ field_obj }}</div>
                {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
        {% if field_obj.field.widget.attrs.hidden == "hidden" %}
            <div class="row">
            {% if field_obj.errors %} <div class="error">{{ field_obj.label }} {{ field_obj.errors }}</div>{% endif %}
            </div>
        {% endif %}
    {% endfor %}

{#    С вашего счета снимится 20 грн#}
{#    коммиссия системы составила 1 грн#}
{#    к получению 1 доллар#}
{##}
{#    Вы получите 20грн#}
{#    коммиссия системы составила 1 грн#}
{#    с Вашего счета снимумтся 100грн#}
{##}
{#    {% if amount_to_withdrawal and currency_to_withdrawal %}#}
{#        <div class="row">#}
{#            {% blocktrans %}#}
{#                You withdrawal in system {{ amount_to_withdrawal }} {{ currency_to_withdrawal }}#}
{#            {% endblocktrans %}#}
{#        </div>#}
{#    {% endif %}#}
{##}
{#    {% if amount_to_obtain and currency_to_obtain %}#}
{#        <div class="row">#}
{#            {% blocktrans %}#}
{#                You withdrawal in system {{ amount_to_obtain }} {{ currency_to_obtain }}#}
{#            {% endblocktrans %}#}
{#        </div>#}
{#    {% endif %}#}
    {% if amount_to_withdrawal %}
        {% blocktrans %}
            <p>You withdrawal from you bill: {{ amount_to_withdrawal }} {{ currency_to_withdrawal }}</p>
            <p>System commission: {{ commission }} {{ currency_to_withdrawal }}</p>
            <p>withdrawn from your account: {{ amount_to_withdrawal_with_commission }} {{ currency_to_withdrawal }}</p>
            <p>You amount for obtain: {{ amount_to_obtain }} {{ currency_to_obtain }}</p>
        {% endblocktrans %}
    {% endif  %}
    <div class="row">
        <input type="submit" class="aright green-btn" id="enter" name="withdrawal" value="{% trans "Send" %}">
    </div>

</form>
<div class="cleaner"></div>
{% endspaceless %}