{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Withdrawal funds" %}</h1>
    {% include "account/withdrawal_funds/menu.html" %}
    <div class="form_container">
        {% include "account/withdrawal_funds/create/_form.html" %}
    </div>
</div>
{% endspaceless %}
