{% spaceless %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
<form action="/i18n/setlang/" method="POST" name="languageForm" class="shell">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language" id="id_language"  class="custom-sel lang">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}" {% if LANGUAGE_CODE == language.code%} selected="selected" {% endif %}>{{ language.name_local }} ({{ language.code }})</option>
        {% endfor %}
    </select>
    <input type="submit" id="lang_go"  value="Go" style="display: none;" />
</form>
{% endspaceless %}