{% spaceless %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
<form method="POST" action="{% url "balance_informer_login" shop.id %}"  name="login_frm" class="login-form" id="login-form">
    {% csrf_token %}
    {% with login_form as form %}
        <div>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
    {% endwith %}
    <div>
        <input type="submit" class="green-btn aright" value="Enter">
    </div>
</form>
<div class="social-set shell"><span class="title">{% trans "Sign in with" %}:</span>
    <div class="social-list aright o-shell">
        <a href="javascript:void(0);" onClick="Glogin();" class="aright"><img src="{% static "main/images/social-list/g+.png" %}" alt="Google" width="23" height="23"></a>
        <a href="javascript:void(0);" onClick="Tlogin();" class="aright"><img src="{% static "main/images/social-list/Twitter.png" %}" alt="Twitter" width="23" height="23"></a>
        <a href="javascript:void(0)" onClick="FbLogin();" class="aright"><img src="{% static "main/images/social-list/fb.png" %}" alt="Facebook" width="23" height="23"></a>
    </div>
</div>
<div class="reg_cont">
    <a href="{% url "registration" %}" target="_blank">{% trans "Registration" %} </a>
</div>
{#<a href="#" onclick="socialLogin({'uid': 'alexandr.okunovich@gmail.com', 'email': 'alexandr.okunovich@gmail.com', 'username': 'АлександрОкунович', 'first_name':'Александр', 'last_name': 'Окунович'}, 'google')"> --------- </a>#}
{% endspaceless %}