{% spaceless %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
    <h1>{% trans "Balance informer" %}</h1>
    <div class="error"></div>
    {% if shop %}
        {% if shop.status != "a" or not shop.shop_informer %}
            {% trans "Shop isn't active or shop_informer is disable" %}
        {% else %}
            {% trans "Your shop" %}: {{ shop.id }} {{ shop.password }}
            {% if request.user.is_authenticated %}

                <a href="{% url "profile" %}" target="_blank">{{ request.user.username }}</a>
                {% if request.user.profile.avater %}
                        <img src="{{ profile.avatar.url_180x180 }}" alt="{{ profile.user|display_name }}">
                    {% else %}
                        <img src="{{ STATIC_URL }}main/images/avatar.png" alt="">
                {% endif %}

                <a href="{% url "balance_informer_logout" shop.id %}" class="balance_logout">{% trans "Logout" %}</a>
                <div class="shop_informer">
                    <ul>
                        {% for balance in user_balance %}
                            <li> {{ balance.state }} {{ balance.currency.iso_code }}</li>
                        {% empty %}
                            {% trans "You don't have balance" %}
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="login_form container">
                    {% include "balance_informer/_login_form.html" %}
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% trans "You haven't shop" %}
    {% endif %}
{% endspaceless %}