{% spaceless %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title> {% trans "Informer" %} </title>
    {% if shop and shop.informer_css %}
        <style>
            {{ shop.informer_css }}
        </style>
    {% else %}
        <link rel="stylesheet" href="{% static "financial_system/css/informer.css" %}">
    {% endif %}
    {% if shop %}
        <script type="text/javascript">
            var shop_id = "{{ shop.id }}";
{#            var shop_password = "{{ shop.password }}";#}
            //TODO simple login
           //TODO auth loggin by twitter and facebook
        </script>
   {% else %}
        <script type="text/javascript">
            var shop_id = false;
            var shop_password = false;
        </script>
   {% endif %}
    <script type="text/javascript">
        function now_timestamp(){
            return new Date().getTime();
        }

        function socialLogin(user, provider){
            $(".loader").show();
            $.ajax({
                url:'/balance_informer/soc_auth/'+shop_id+'/?timestamp=' + now_timestamp(),
                type: 'POST',
                data: {"uid": user.uid, "email": user.email, "username": user.username, "first_name":user.first_name, "last_name": user.last_name, "provider": provider},
                dataType: "html",
                success: function(data){
                    $(".loader").hide();
                    $(".wrapper").html(data);
                }
            });
            return false;
        }

    </script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery-1.8.3.min.js" %}"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="{% static "financial_system/js/ex4_oauthio/app.js" %}"></script>
    <script src="{% static "financial_system/js/ex4_oauthio/controllers.js" %} "></script>
    <script src="{% static "financial_system/js/ex4_oauthio/services.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/t_auth.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/fc_informer.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/google_auth.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/fb_auth.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/ex4_oauthio/oauth.js" %}"></script>

</head>
<body>
    <div class="language">
        {% include "balance_informer/_language.html" %}
    </div>
    <div class="wrapper">
        {% include  "balance_informer/_view.html" %}
    </div>

    <div class="loader">
        <div class="wrapper_pop_up"></div>
        <div class="pop_up">
            <div class="inner_popup">
                <div class="preload"></div>
            </div>
        </div>
    </div>
</body>
</html>
{% endspaceless %}