{% spaceless %}
{% load i18n %}
{% if request.is_ajax %}
    <script type="text/javascript">
        init_cusel();
    </script>
{% endif %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}

{% load selectable_tags %}
{#   {% include_jquery_libs %}#}
{{ form.media.css }}
{{ form.media.js }}
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>

<form method="POST" action="{% url "transfer_funds_create" %}"  class="transfer_funds_create main_send_html_post" id="transfer_funds_create">
    {% csrf_token %}

    {% for field_obj in form %}
        <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %}hidden{% endif %}  {% if field_obj.field.required %}required{% endif %} field_{{ field_obj.name }}  ">
            <div class="col title">
                <label>
                    {{ field_obj.label }} {% if field_obj.field.required %}*{% endif %}:
                </label></div>
            <div class="col wide">
                <div class="field_{{ field_obj.name }}">{{ field_obj }}</div>
                {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
        {% if field_obj.field.widget.attrs.hidden == "hidden" %}
            <div class="row">
            {% if field_obj.errors %} <div class="error">{{ field_obj.label }} {{ field_obj.errors }}</div>{% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% if amount %}
    <div class="row">
        <div class="col title">
        </div>
        <div class="col wide">
        {% blocktrans %}
            You transfer {{ amount }} {{ currency }}<br>
            The commission will be {{ commission }} {{ currency }}<br>
            Withdrawn from your account {{ amount_with_commission }} {{ currency }}<br>
            Counterparty receives {{ amount_to_obtain }} {{ currency_to_obtain }}
        {% endblocktrans %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <input type="submit" class="aright green-btn" id="enter" name="transfer" value="{% trans "Send" %}">
    </div>

</form>
<div class="cleaner"></div>
{% endspaceless %}