{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="transfer_funds action_menu history">
    <li>
        <a href="{% url "transfer_funds_list" "my" %}" class="{% active request "my"  %}">{% trans "My list of trunsfer funds" %}</a>
    </li>
    <li>
        <a href="{% url "transfer_funds_list" "for_me" %}" class="{% active request "for"  %}">{% trans "List of trunsfer funds for me" %}</a>
    </li>
    <li>
        <a href="{% url "transfer_funds_create" %}" class="{% active request "create"  %}">{% trans "Initiate transfer funds" %}</a>
    </li>
</ul>
<div class="cleaner"></div>
{% endspaceless %}
