{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Conversion funds" %}</h1>
    {% include "account/conversion_funds/menu.html" %}
    <div class="form_container">
        <div class="row">
            <div class="col title"><label>{% trans "Conversion funds" %}: </label></div>
            <div class="col wide"> #ID {{ object.id }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "User" %}:</label></div>
            <div class="col wide">{{ object.user }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Credit amount" %}:</label></div>
            <div class="col wide">{{ object.credit_amount }} {{ object.credit_currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Commission" %}:</label></div>
            <div class="col wide">{{ object.credit_commission }} {{ object.credit_currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Credit amount with commission" %}:</label></div>
            <div class="col wide">{{ object.credit_amount_with_commission }} {{ object.credit_currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Debit amount" %}:</label></div>
            <div class="col wide">{{ object.debit_amount }} {{ object.debit_currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Date create" %}:</label></div>
            <div class="col wide">{{ object.date_create }}</div>
        </div>
    </div>
</div>
{% endspaceless %}
