{% spaceless %}
{% load i18n %}
{% if request.is_ajax  %}
<script type="text/javascript">
    $(document).ready(function() {
        var params = {
            changedEl: ".custom-sel",
            visRows: 5,
            scrollArrows: true
        };

        cuSel(params);
    });
</script>
    {% if messages %}
        {% include "messages.html" %}
    {% endif %}
{% endif %}

<div class="registration_wrapper">
    <div class="registration_body">
        <form method="POST" id="registration-form"  action="{% url "registration" %}" class="shell">
            {% csrf_token %}
            <div class="reg_col reg_col_1">
                {% for field in user_form %}
                <div class="row form_{{ field.name }}">
                    <div class="col title">{{ field.label_tag }}:</div>
                    <div class="col wide">
                        {{ field }}
                        {% if field.errors %}<div class="error">{{ field.errors }}</div>{% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="reg_col reg_col_2">
                {% for field in profile_form %}
                    <div class="row form_{{ field.name }}">
                        <div class="col title">{{ field.label_tag }}:</div>
                        <div class="col wide">
                            {{ field }}
                            {% if field.errors %}<div class="error">{{ field.errors }}</div>{% endif %}
                            {% if field.name == 'captcha' %}
                                <div class="aright"><a href="javascript:void(0);" class='js-captcha-refresh captcha_note' >{% trans "Refresh image" %}</a></div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="o-shell btns-set">
                <input type="submit" class="green-btn aright" value="{% trans "Register" %}">
            </div>
            <div class="cleaner">&nbsp;</div>
        </form>
    </div>
</div>
{% endspaceless %}