{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="wrapper">
        <h1>{% trans "Registration complete" %}</h1>
        {% trans "Thank you for your time. In your email has been sent information to login to the site." %}<br>
        <a href="{% url "login" %}">{% trans "Login" %}</a>
    </div>
{% endblock %}