{% load i18n %}{% load url from future %}{% autoescape off %}
    {% blocktrans %}You register on the site {{ site_name }}.{% endblocktrans %}
    <br>
    {% trans "You may log in using the username or email:" %}<br>
    <b>login:</b> {{ options.user.username }}<br>
    <b>email:</b> {{ options.user.email }}<br>
    <b>password:</b> {{ options.password }}<br>
    {% trans "Thank you for using our service" %}
    <br>
    {% blocktrans %}team {{ site_name }}.{% endblocktrans %}
    <br>
{% endautoescape %}
