{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="adding_funds action_menu history">
    <li>
        <a href="{% url "adding_funds_list" %}" class="{% active request "list"  %}">{% trans "List of adding funds" %}</a>
    </li>
    <li>
        <a href="{% url "adding_funds_create" %}" class="{% active request "create"  %}">{% trans "Initiate adding funds" %}</a>
    </li>
</ul>
<div class="cleaner"></div>
{% endspaceless %}
