{% extends "base.html" %}
{% block content %}
    <div class="wrapper">
        Форма 1 - глупая
        <form method="POST" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml?">
            <input name="receiver" type="hidden" value="410012156955897">
            <input name="label" type="hidden" value="1">
            <input name="quickpay-form" type="hidden" value="shop">
            <input name="referer" type="hidden" value="">
            <input type="hidden" name="targets" value="verifair adding funds">
            <input name="sum" value="0.1" id="sum" type="text" maxlength="10" data-type="number">
            <input name="some_field" value="0.1" id="some_field" type="text" maxlength="10" data-type="number">
            <input type="submit" value="Оплатить" class="green-btn" name="submit-button">
        </form>

        <hr>
        Форма 2
        <form method="POST" target="_blank" action="https://sp-money.yandex.ru/oauth/authorize?">
            <input name="client_id" type="text" value="E076DEFF40A0A45397A9B55B67061DA3D4CDE98C5828C7989A1E06B3BF845F52">
            <input name="response_type" type="text" value="code">
            <input name="redirect_uri" type="text" value="http://finance.ti.dn.ua/yandex_result/">
            <input name="scope" type="text" value="account-info operation-details operation-history payment-p2p">
{#            payment.to-account('410012156955897','account')#}
            <input type="submit" value="Оплатить" class="green-btn" name="submit-button">
        </form>
    </div>
{% endblock %}


