{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Invoice" %}</h1>
    {% include "account/invoice/menu.html" %}
    <div class="form_container">
        <div class="row">
            <div class="col title"><label>{% trans "Invoice" %}: </label></div>
            <div class="col wide"> #ID {{ object.id }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Owner" %}:</label></div>
            <div class="col wide">{{ object.owner.username }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Payer" %}:</label></div>
            <div class="col wide">{{ object.payer.username }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount" %}:</label></div>
            <div class="col wide">{{ object.amount }} {{ object.currency }}</div>
        </div>
        {% if object.payment_amount %}
        <div class="row">
            <div class="col title"><label>{% trans "Payement amount" %}:</label></div>
            <div class="col wide">{{ object.payment_amount }} {{ object.payment_currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Payment commission" %}:</label></div>
            <div class="col wide">{{ object.payment_commission }} {{ object.payment_currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount width commission" %}:</label></div>
            <div class="col wide">{{ object.payment_amount_with_commission }} {{ object.payment_currency }}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col title"><label>{% trans "Short description" %}:</label></div>
            <div class="col wide">{{ object.short_description }}</div>
        </div>
        {% if object.comment %}
         <div class="row">
            <div class="col title"><label>{% trans "Comment" %}:</label></div>
            <div class="col wide">{{ object.comment }}</div>
        </div>
        {% endif %}
        {% if object.shop %}
        <div class="row">
            <div class="col title"><label>{% trans "Shop" %}:</label></div>
            <div class="col wide">{{ object.shop }}</div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col title"><label>{% trans "Status" %}:</label></div>
            <div class="col wide">{{ object.status }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Paid" %}:</label></div>
            <div class="col wide">{{ object.paid }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Active" %}:</label></div>
            <div class="col wide">{{ object.active }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Date create" %}:</label></div>
            <div class="col wide">{{ object.date_create }}</div>
        </div>

        {% if invoice.completed %}
            {% trans "The invoice completed" %}<br>
            <a href="{% url "invoice_discussion" object.id %}" class="green-btn a_history">{% trans "Discussion" %}</a>
        {% else %}
            {% if invoice.paid and invoice.payment_coupon == "E" %}
                {% trans "This is invoce has escrow mode." %}<br>
                {% if object.payer == request.user %}
                    {% trans "The funds don't received to owner invoice" %}<br>
                    <a href="{% url "invoice_complete_in_favor_owner" object.id %}" class="green-btn a_history">{% trans "Credit funds for owner invoice account" %}</a>
                {% elif object.owner == request.user %}
                    {% trans "You can return the funds to the buyer" %}<br>
                    <a href="{% url "invoice_complete_in_favor_payer" object.id %}" class="green-btn a_history">{% trans "Credit funds for payer" %}</a>
                {% endif %}
                &nbsp;
                <a href="{% url "invoice_discussion" object.id %}" class="green-btn a_history">{% trans "Discussion" %}</a>

            {% endif %}
        {% endif %}
    </div>
</div>
{% endspaceless %}
