{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="conversion_funds action_menu history">
    <li>
        <a href="{% url "conversion_funds_list" %}" class="{% active request "list"  %}">{% trans "List of conversion funds" %}</a>
    </li>
    <li>
        <a href="{% url "conversion_funds_create" %}" class="{% active request "create"  %}">{% trans "Initiate conversion funds" %}</a>
    </li>
</ul>
<div class="cleaner"></div>
{% endspaceless %}
