{% spaceless %}
{% load i18n %}
{% if request.is_ajax %}
    <script type="text/javascript">
        init_cusel();
        micCheckbox($(".mic_check"));
    </script>
{% endif %}


{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}

    <form method="POST" action="{% url "shop_update" object.id %}"  class="shop_update main_send_html_post" id="shop_update">
    {% csrf_token %}
    {% for field_obj in form %}
        <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %}hidden{% endif %}  {% if field_obj.field.required %}required{% endif %} field_{{ field_obj.name }}  ">
            <div class="col title">
                <label>
                    {{ field_obj.label }} {% if field_obj.field.required %}*{% endif %}:
                </label>
            </div>
            <div class="col wide">
                <div class="field_{{ field_obj.name }} {% if field_obj.name == "shop_informer" %}aleft{% endif %}" >
                    {% if field_obj.name == "shop_informer" %}
                        <label>{{ field_obj }}</label>
                    {% else %}
                        {{ field_obj }}
                    {% endif %}
                </div>
                {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
        {% if field_obj.field.widget.attrs.hidden == "hidden" %}
            <div class="row">
            {% if field_obj.errors %} <div class="error">{{ field_obj.label }} {{ field_obj.errors }}</div>{% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <input type="submit" class="aright green-btn" id="enter" name="transfer" value="{% trans "Send" %}">
    </div>
    </form>
<div class="cleaner"></div>
{% endspaceless %}