{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Shop update" %}</h1>
    {% include "shop/menu.html" %}
    <div class="form_container">
        {% include "shop/update/_form.html" %}
    </div>
</div>
{% endspaceless %}
