{% spaceless %}
{% load i18n %}
{% if request.is_ajax %}
    <script type="text/javascript">
        $(".calendar").datepicker(calendar_congig);
{#        $(".datetime").datetimepicker(datetime_congig);#}
        micCheckbox($(".mic_check"));
        init_cusel();

    </script>
{% endif %}
{% load selectable_tags %}
{{ form.media.css }}
{{ form.media.js }}
 <script type="text/javascript">
    $(document).ready(function() {
{#        $('.recipients').djselectable();#}
    });
</script>
<form method="POST" action="{% url "regular_payment_create" %}"  class="regular_payment_create main_send_html_post" id="regular_payment_create">
    {% csrf_token %}
    {% for field_obj in form %}
        <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %} hidden {% endif %} field_{{ field_obj.name }}">
            <div class="col title"><label>{{ field_obj.label }}:</label></div>
            <div class="col wide">
                <div class="field_{{ field_obj.name }}">{{ field_obj }}</div>
                {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
        {% if field_obj.field.widget.attrs.hidden == "hidden" %}
            <div class="row">
            {% if field_obj.errors %} <div class="error">{{ field_obj.label }} {{ field_obj.errors }}</div>{% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <input type="submit" class="aright green-btn" value="{% trans "Send" %}">
    </div>
</form>
<div class="cleaner"></div>
{% endspaceless %}