{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="invoice action_menu history">
    <li>
        <a href="{% url "invoice_list" "my" %}" class="{% active request "my"  %}">{% trans "My invoice list" %}</a>
    </li>
    <li>
        <a href="{% url "invoice_list" "for_me" %}" class="{% active request "for_me" %} {% active request "paid" %}">{% trans "Invoice list for me" %}</a>
    </li>
    <li>
        <a href="{% url "invoice_create" %}" class="{% active request "create"  %}">{% trans "Invocie create" %}</a>
    </li>
</ul>
<div class="cleaner"></div>
{% endspaceless %}
