{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="shop action_menu history">
    <li>
        <a href="{% url "shop_list" %}" class="{% active request "/list"  %}">{% trans "Shop list" %}</a>
    </li>
    <li>
        <a href="{% url "shop_create" %}" class="{% active request "create"  %}">{% trans "Shop create" %}</a>
    </li>
    <li>
        <a href="{% url "shop_payment_list" %}" class="{% active request "payment_list"  %}">{% trans "Shop payment list" %}</a>
    </li>
    <li>
        <a href="{% url "get_perform_payment" %}" class="{% active request "get_perform_payment"  %}">{% trans "Shop get perform payment form" %}</a>
    </li>
{#    <li>#}
{#        <a href="{% url "shop_perform_payment" %}" class="{% active request "perform_payment"  %}">{% trans "Shop perform payment" %}</a>#}
{#    </li>#}
</ul>
<div class="cleaner"></div>
{% endspaceless %}
