{% spaceless %}
{% load i18n %}
<tr>
    {% if multiple_action %}
        <th class="check_all">
            <label>
                <input class="check_all {{ check_item_class }}" type="checkbox" name="chek_all" value="0">
            </label>
        </th>
    {% endif %}
    {% for column in object_columns %}
        <th>
            <a href="{{ column.href }}" class="sort_bt {% if  column.order_value == "1" %}sort_up{% elif column.order_value == "-1" %}sort_down{% endif %}">
                {{ column.title }}
            </a>
        </th>
    {% endfor %}
    {% if object_options|length != 0 %}
        <th>{% trans "Options" %}</th>
    {% endif %}
</tr>
{% endspaceless %}