{% spaceless %}
{% load i18n %}
{% load grid %}
{% if request.is_ajax %}
     <script type="text/javascript">
        init_cusel();
        micCheckbox($(".mic_check"));
    </script>
    {% if messages %}
        {% include "messages.html" %}
    {% endif %}
{% endif %}


{% if filter_form %}
    {% include "includes/grid/_filter_form.html" %}
{% endif %}


<form method="POST" action="" class="multiple_action_form" id="multiple_action_form" name="multiple_action_form">
    {% if multiple_action %}
        <div class="aleft">
            <select class="custom-sel" name="multiple_action">
                <option value="">{% trans "Choose the action" %}</option>
                {% for action in multiple_action %}
                    <option value="{{ action.0 }}">{{ action.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" id="multiple_sub" name="multiple_sub" class="multiple_sub green-btn" style="margin-left: 20px">
    {% endif %}

    {% csrf_token %}
    <div class="cleaner"></div>
    <div class="cont_ok_grid">
    <table class="ok_grid table-dark table-trades">
    <thead>
        {% include "includes/grid/tr_thead.html" %}
    </thead>
    <tbody class="history">
        {% load pagination_tags %}
        {% autopaginate object_list 10 %}
        {% for item in object_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
             {% if multiple_action %}
                <td>
                    <label class="black_bg">
                        <input type="checkbox" class="check_item {{ check_item_class }}" name="check_item" id="check_{{ item.id }}" value="{{ item.id }}">
                    </label>
                </td>
            {% endif %}
            {% for column in object_columns %}
                <td>
                    {% if column.action_update %}
                        <a href="{% url column.action_update item.id  %}">
                    {% endif %}
                        {% if item|get_data:column.name|is_false %}
                            <span class="icon-false"></span>
                        {% elif item|get_data:column.name|is_true %}
                            <span class="icon-true"></span>
                        {% elif  item|get_data:column.name %}
                            {{ item|get_data:column.name }}
                        {% else %}
                            {% trans "Not data" %}
                        {% endif %}
                    {% if to_uapdate and forloop.first %}
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
            {% if object_options|length != 0 %}
                <td>
                    {% for opt in object_options %}
                        {% if opt.rule %}
                            {% if item|check_rule:opt.rule %}
                                <a href="{% url opt.name item.id  %}">{{ opt.title }}</a>&nbsp;
                            {% else %}
                              {#  #}
                            {% endif %}
                        {% else %}
                            <a href="{% url opt.name item.id  %}">{{ opt.title }}</a>&nbsp;
                        {% endif %}
                    {% endfor %}
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</form>
{% if object_list_count > items_on_page %}
    <div class="pagination-wrap pagination ok_grid_paginate">
        {% paginate %}
    </div>
{% endif %}
{% endspaceless %}