{% extends "base.html" %}
{% block content %}
 <form method="POST" action="https://www.liqpay.com/api/pay">
  <input type="hidden" name="public_key" value="i63228891445" />
  <input type="hidden" name="amount" value="5" />
  <input type="hidden" name="currency" value="UAH" />
  <input type="hidden" name="description" value="Мой товар" />
  <input type="hidden" name="order_id" value="123456" />
  <input type="hidden" name="result_url" value="http://finance.ti.dn.ua/liqpay_result/" />
  <input type="hidden" name="server_url" value="https://finance.ti.dn.ua/liqpay_server/" />
  <input type="hidden" name="type" value="buy" />
  <input type="hidden" name="signature" value="6aogGWpJar6EVQ6AKTktJClt8gw=" />
  <input type="hidden" name="language" value="ru" />
  <input type="image" src="//static.liqpay.com/buttons/p1ru.radius.png"
  name="btn_text" />
</form>
{% endblock %}
