{% spaceless %}
{% load i18n %}
{% if form %}
    <form method="POST" action="{% if payment_system %}{% url "adding_funds_by_ps" payment_system.sys_code %}{% else %}{% url "adding_funds" %}{% endif %}{% if yandex_auth_code %}?yandex_auth_code={{ yandex_auth_code }}{% endif %}" id="adding_funds_form" name="adding_funds_form">
        {% csrf_token %}
        {% for field_obj in form %}
            <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %} hidden {% endif %}">
                <div class="col title"><label>{{ field_obj.label }}:</label></div>
                <div class="col wide">
                    {{ field_obj }}
                    {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                    {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
                </div>
            </div>
            {% if field_obj.field.widget.attrs.hidden == "hidden" %}
                <div class="row">
                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" class="hidden" value="{% trans "Send" %}">
    </form>
{% endif %}

{% if payment_amount %}

    {% if order_form %}
        <div class="create_order_form_container">
            {% with order_form as form %}
                {% include "account/adding_funds/_order_form.html" %}
            {% endwith %}
        </div>
    {% endif %}
{% endif %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}

{% endspaceless %}