{% spaceless %}
{% load i18n %}
{% if form %}
    <form method="POST" action="{% if payment_system %}{% url "adding_fund_create_order_by_ps" payment_system.sys_code %}{% else %}{% url "adding_fund_create_order" %}{% endif %}{% if yandex_auth_code %}?yandex_auth_code={{ yandex_auth_code }}{% endif %}" id="adding_funds_create_order_form" name="adding_funds_create_order_form">
        {% csrf_token %}
        {% for field_obj in form %}
            <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %} hidden {% endif %} field_{{ field_obj.name }}">
                 <div class="col title"><label>{{ field_obj.label }}:</label></div>
                <div class="col wide">
                    {{ field_obj }}
                    {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                    {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
                </div>
            </div>
            {% if field_obj.errors  and  field_obj.field.widget.attrs.hidden == "hidden" %}
                <div class="row">
                    <div class="error">{{ field_obj.errors }}</div>
                </div>
            {% endif %}
        {% endfor %}
        {% if not ps_form %}
            <input type="submit" class="aright green-btn" value="{% trans "Send" %}">
        {% endif %}
    </form>
{% endif %}

{% if ps_form %}
    <div class="ps_form_container hidden">
        {% include "account/adding_funds/_ps_form.html" %}
    </div>
{% endif %}
{% endspaceless %}