{% spaceless %}
{% load i18n %}
<ul class="payment_systems_menu history">
    {% for ps in  payment_systems %}
        <li><a href="{% url "adding_funds_by_ps"  ps.sys_code %}" class="{% if ps.sys_code == payment_system.sys_code %}active{% endif %}">{{ ps.name }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}