{% spaceless %}
{% load i18n %}
{% if request.is_ajax and redirect_url %}
    {% trans "Invoice for payment has been created" %}<br>
    {% trans "If the window does not open automatically payment, please go to link" %}:<br>
    <a href="{{ redirect_url }}" id="redirect_url">{% trans "Link for payment" %}</a>
    <script type="text/javascript">
        $(".ps_form_container").removeClass("hidden").show();
        window.location= $("#redirect_url").attr("href");
    </script>
{% endif %}
    {% if request.is_ajax and messages %}
        {% include "messages.html" %}
    {% endif %}
{% if ps_form %}
    <form method="POST" action="{{ ps_form_url }}" class="ps_form_{{ payment_system.sys_code }}" id="ps_form">
            {% csrf_token %}
            {% for field_obj in ps_form %}
                <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %} hidden {% endif %} field_{{ field_obj.name }}">
                    <div class="col title"><label>{{ field_obj.label }}:</label></div>
                    <div class="col wide">
                        {{ field_obj }}
                        {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                        {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
                    </div>
                </div>

                {% if field_obj.field.widget.attrs.hidden == "hidden" %}
                    <div class="row">
                    {% if field_obj.errors %} <div class="error">{{ field_obj.label }} {{ field_obj.errors }}</div>{% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        <input type="submit" class="aright green-btn" value="{% trans "Send" %}">
    </form>
{% endif %}
<script type="text/javascript">
    $("#ps_form").submit();
</script>
{% endspaceless %}