{% spaceless %}
{% load i18n %}
{% load finance_tags %}
{% load custom_tags %}
{% load grid %}

<div class="wrapper">
    <span class="hidden page_path">{{ request.path }}</span>
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    {% include "account/regular_payment/menu.html" %}
    <h1>{% trans "Regular payment list" %}</h1>

    {% if request.is_ajax and messages %}
        {% include "messages.html" %}
    {% endif %}

    {% if not object_list or object_list|length == 0 %}
        {% trans "You don't have regular payments" %}
    {% else %}
        {% grid_view object_list=object_list object_columns=object_columns multiple_action=multiple_action items_on_page=10  %}
    {% endif %}
</div>
{% endspaceless %}