{% spaceless %}
{% load i18n %}
<div class="login-container">


    <form method="POST" action="{% url "login" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"  name="loginForm" class="shell" id="login-form">
        {% csrf_token %}
        {% for field  in form %}
            {{ field }}
            {% if field.errors %}<div class="error">{{ field.errors }}</div>{% endif %}
        {% endfor %}
        <div class="links-set aleft">
            <a href="{% url "registration" %}" class="lnk">{% trans "Registration" %}</a> <span class="sep"> &bull; </span> <a href="/resetpassword/" class="lnk">{% trans "Forgot your password?" %}</a>
        </div>
        <input type="submit" class="green-btn aright" value="{% trans "Enter" %}">
    </form>
    <div class="social-set shell">
        <span class="title">{% trans "Sign in with" %}:</span>
        <div class="social-list aright o-shell">
            <a href="{% url "socialauth_begin" "google" %}" class="aright"><img src="{{ STATIC_URL }}main/images/social-list/g+.png" alt="{% trans "Google+" %}" width="23" height="23"></a>
            <a href="{% url "socialauth_begin" "twitter" %}" class="aright"><img src="{{ STATIC_URL }}main/images/social-list/twitter.png" alt="{% trans "Twitter" %}" width="23" height="23"></a>
            <a href="{% url "socialauth_begin" "facebook" %}" class="aright"><img src="{{ STATIC_URL }}main/images/social-list/fb.png" alt="{% trans "Facebook" %}" width="23" height="23"></a>
        </div>
    </div>
</div>
{% endspaceless %}