{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Shop payment" %}</h1>
    {% include "shop/menu.html" %}
    <div class="form_container">
        <div class="row">
            <div class="col title"><label>{% trans "Shop payment" %}: </label></div>
            <div class="col wide"> #ID {{ object.id }}</div>
        </div>
        {% if object.sender %}
            <div class="row">
                <div class="col title"><label>{% trans "Sender" %}:</label></div>
                <div class="col wide">{{ object.sender }}</div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col title"><label>{% trans "Amount" %}:</label></div>
            <div class="col wide">{{ object.amount }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Commission" %}:</label></div>
            <div class="col wide">{{ object.commission }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount with commission" %}:</label></div>
            <div class="col wide">{{ object.amount_with_commission }} {{ object.currency }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Shop" %}:</label></div>
            <div class="col wide">{{ object.shop }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Payment signature" %}:</label></div>
            <div class="col wide">{{ object.payment_signature }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Payment system" %}:</label></div>
            <div class="col wide">{{ object.payment_system }}</div>
        </div>

        {% if object.phone %}
            <div class="row">
                <div class="col title"><label>{% trans "Phone" %}:</label></div>
                <div class="col wide">{{ object.phone }}</div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col title"><label>{% trans "Status" %}:</label></div>
            <div class="col wide">{{ object.get_status }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Date created" %}:</label></div>
            <div class="col wide">{{ object.date_create }}</div>
        </div>

    </div>
</div>
{% endspaceless %}
