{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="withdrawal action_menu history">
    <li>
        <a href="{% url "withdrawal_funds_list" %}" class="{% active request "list"  %}">{% trans "List of withdrawals" %}</a>
    </li>
    <li>
        <a href="{% url "withdrawal_funds_create" %}" class="{% active request "create"  %}">{% trans "Initiate withdrawal" %}</a>
    </li>
</ul>
<div class="cleaner"></div>
{% endspaceless %}
