{% spaceless %}
{% load i18n %}
{% if request.is_ajax %}
    <script type="text/javascript">
        $(document).ready(function(){
            micCheckbox($(".mic_check"));
            init_cusel();
        });
    </script>
{% endif %}

<form method="POST" action="{% url "account_settings" %}" id="account_settings" name="account_settings" class="account_settings main_send_html_post">
    {% csrf_token %}
    {% for field_obj in account_settings_form %}
        <div class="row">
            <div class="col title"><label>{{ field_obj.label }}:</label></div>
            <div class="col wide">
                {% if field_obj.name == "escrow" %}
                    <label>{{ field_obj }} {{ field_obj.help_text }}</label>
                {% else %}
                    {{ field_obj }}
                    {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% endif %}

                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
    {% endfor %}

    {% for field_obj in profile_settings_form %}
        <div class="row">
            <div class="col title"><label>{{ field_obj.label }}:</label></div>
            <div class="col wide">
                {% if field_obj.name == "escrow" %}
                    <label>{{ field_obj }} {{ field_obj.help_text }}</label>
                {% else %}
                    {{ field_obj }}
                    {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% endif %}

                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="cleaner"></div>
    <div class="row">
        <input type="submit" class="aleft green-btn" value="{% trans "Save" %}">
    </div>
</form>

{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}

{% endspaceless %}