{% spaceless %}
{% load i18n %}
{% load custom_tags %}
<div class="wrapper">
    {% include "menu.html" %}
    <h1>{% trans "Settings" %}</h1>
    <div class="form_container">
        {% include "member/settings/_form.html" %}
    </div>
    <div class="cleaner"></div>
    <div class="form_container">
        {% if api_token %}
        <div class="row">
            <div class="col title"><label>{% trans "API TOKEN" %}:</label></div>
            <div class="col wide">
                {{ api_token }}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col title"><label>{% trans "Generate API TOKEN" %}:</label></div>
            <div class="col wide">
                <form method="POST" action="{% url "generate_api_token" %}" id="generate_api_token" name="generate_api_token" class="generate_api_token main_send_html_post">
                {% csrf_token %}
                <input type="submit" class="aleft green-btn" value="{% trans "Generate" %}">
            </form>
            </div>
        </div>
    </div>

    <div>
        {% blocktrans %}
            Get Balance Informer
        {% endblocktrans %}
    </div>

</div>
{% endspaceless %}
