{% spaceless %}
{% load i18n %}
{% if form %}
    <form method="POST" action="{% if payment_system %}{% url "adding_funds_create_by_ps" payment_system.sys_code %}{% else %}{% url "adding_funds_create" %}{% endif %}{% if yandex_auth_code %}?yandex_auth_code={{ yandex_auth_code }}{% endif %}" id="adding_funds_create_form" name="adding_funds_create_form">
        {% csrf_token %}
        {% for field_obj in form %}
            <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %} hidden {% endif %} field_{{ field_obj.name }}">
                 <div class="col title"><label>{{ field_obj.label }}:</label></div>
                <div class="col wide">
                    {{ field_obj }}
                    {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                    {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
                </div>
            </div>
            {% if field_obj.errors and field_obj.field.widget.attrs.hidden == "hidden" %}
                <div class="row">
                    <div class="error">{{ field_obj.errors }}</div>
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" class="aright green-btn" name="adding" id="send" value="{% trans "Send" %}">
    </form>
{% endif %}
{% if bank %}
    {% trans "Bank addres" %}: {{ bank.address }}<br>
    {% trans "Account number" %}: {{ bank.account_number }}<br>
    {% trans "SWIFT" %}: {{ bank.swift }}<br>
{% endif %}
{% if payment_amount_real %}
    {% trans "Would amount to" %} {{ payment_amount_real }} {{ ps_currency }} ({% trans "Commission system is" %} {{ commission }}  {{ ps_currency }})
{% endif %}
<br>
{% if payment_amount != payment_amount_real %}
    {% blocktrans %}
        Sorry, but payment system {{ payment_system }} so not support fractional payments.<br>
        And now you refill you account with {{ payment_amount }} {{ ps_currency }}<br>
        Your account must be replenished on {{ amount_real }} {{ currency }}<br>
    {% endblocktrans %}
{% endif %}

{% if ps_form %}
    <div class="ps_form_container hidden">
        {% include "account/adding_funds/create/_ps_form.html" %}
    </div>
{% endif %}
{% endspaceless %}