{% spaceless %}
{% load i18n %}
{% load custom_tags %}

{% if request.is_ajax %}
<script type="text/javascript">
    $(document).ready(function(){
        init_cusel();
    });
</script>

    {% if messages %}
        {% include "messages.html" %}
    {% endif %}

{% endif %}

<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Adding funds" %}</h1>
    {% include "account/adding_funds/menu.html" %}
    <div class="aleft">
        {% include "account/adding_funds/create/_payment_systems_menu.html" %}
    </div>
    {% if  payment_system %}
        {{ payment_system.description }}
        <div class="conteiner_right">
            {% if payment_system.sys_code == "YM" and not yandex_auth_code %}
                <form method="POST" action="{{ yandex_auth_uri }}">
                    {{ yandex_auth_form }}
                    <input type="submit" class="green-btn" value="{% trans "Auth" %}">
                </form>
            {% else %}
                {% include "account/adding_funds/create/_form.html" %}
            {% endif %}
        </div>
    {% else %}
        {% trans "Not selected financial system" %}
    {% endif %}

    {% if redirect_url %}
        {% trans "Invoice for payment has been created" %}<br>
        {% trans "If the window does not open automatically payment, please go to link" %}:<br>
        <a href="{{ redirect_url }}" id="redirect_url">{% trans "Link for payment" %}</a>
        <script type="text/javascript">
            $(".ps_form_container").removeClass("hidden").show();
            window.location = $("#redirect_url").attr("href");
        </script>
    {% endif %}
</div>
{% endspaceless %}