{% load i18n %}
<form method="POST" action="http://{{ request.META.HTTP_HOST }}{% url "shop_perform_payment" %}"  class="shop_perform_payment" id="shop_perform_payment">
    {% for field_obj in form %}
        <div class="row field_{{ field_obj.name }}">
            <div class="col title">
                <label>
                    {{ field_obj.label }}:
                </label>
            </div>
            <div class="col wide">
                <div class="field_{{ field_obj.name }}">
                    {{ field_obj }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <input type="submit" id="enter" name="send" value="{% trans "Send" %}">
    </div>
</form>