{% spaceless %}
{% load i18n %}



<textarea style="height: 500px;">
<html>
<title>YourlStore</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var WM_currency = {"WMU": "WMU", "WMR": "WMR", "WMZ": "WMZ", "WME": "WME", "WMB": "WMB", "WMX": "WMX"};
        var QM_currency = {"QMR": "QMR", "QME": "QME", "QMK": "QMK", "QMU": "QMU"};
        var LPM_currency = {"LPRUB": "RUB", "LPEUR": "EUR", "LPUSD": "USD", "LPUAH": "UAH"};

        function perform_ps_currency(){
            var ps_currency = false;
            $("#id_ps_currency_type option").remove();
            $(".field_ps_currency_type").hide();

            if ($("#id_payment_system").val()=="WM"){
                ps_currency = WM_currency;
            }
            else if ($("#id_payment_system").val()=="QM"){
                ps_currency = QM_currency;
            }
            else if ($("#id_payment_system").val()=="LPM"){
                ps_currency = LPM_currency;
            }

            if (ps_currency){
                $.each(ps_currency, function(key, value) {
                     $("#id_ps_currency_type")
                         .append($("<option></option>")
                         .attr("value",key)
                         .text(value));
                });
                $(".field_ps_currency_type").show();
            }
            return true;
        }
        perform_ps_currency();

        $("#id_payment_system").on("change", function(){
            perform_ps_currency();

        });
    });

</script>
<body>
	<h1>Your store</h1>
    {% include "shop/get_perform_payment/_form.html" %}
</body>
</html>
</textarea>


<div class="cleaner"></div>
{% endspaceless %}