{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Product pay form" %}</h1>
    {% include "shop/menu.html" %}

    {% blocktrans %}
        This is a sample html page with a form of payment. <br>
        Place example of this form on your site.
    {% endblocktrans %}

    <div class="form_container">
        {% include "shop/get_perform_payment/_view_form.html" %}
    </div>
</div>
{% endspaceless %}
