{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Adding funds" %}</h1>
    {% include "account/adding_funds/menu.html" %}
    <div class="form_container">
        <div class="row">
            <div class="col title"><label>{% trans "Adding funds" %}: </label></div>
            <div class="col wide"> #ID {{ object.id }}</div>
        </div>
        {% if object.transaction %}
            <div class="row">
                <div class="col title"><label>{% trans "Transaction" %}:</label></div>
                <div class="col wide">{{ object.transaction }}</div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col title"><label>{% trans "User" %}:</label></div>
            <div class="col wide">{{ object.user.username }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount" %}:</label></div>
            <div class="col wide">{{ object.amount }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Commission" %}:</label></div>
            <div class="col wide">{{ object.commission }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount with commission" %}:</label></div>
            <div class="col wide">{{ object.amount_with_commission }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Payment system amount" %}:</label></div>
            <div class="col wide">{{ object.ps_amount }} {{ object.ps_currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Status" %}:</label></div>
            <div class="col wide">{{ object.status }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Paid" %}:</label></div>
            <div class="col wide">{{ object.paid }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Date create" %}:</label></div>
            <div class="col wide">{{ object.date_create }}</div>
        </div>

        {% if object.payment_system.sys_code == "BT" %}
            {% trans "Bank name" %}: {{ object.bank.name }}<br>
            {% trans "Account number" %}: {{ object.bank.account_number }}<br>
            {% trans "SWIFT" %}: {{ object.bank.swift }}<br>

            <a href="{% url "bank_payment_blank_view" object.id %}" target="_blank">Download payment blank</a>

        {% endif %}
    </div>



</div>
{% endspaceless %}


