{% spaceless %}
{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load custom_tags %}
{% block title %}{% trans "Verifair - page 404 " %}{% endblock %}
{% block content %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
    <div class="for_padding_bottom_block">
        <div class="foty_four_block">
            <div class="foty_inside_block">
                <h1>{% trans "Error 404" %}</h1>
                <h2>{% trans "Page not found" %}</h2>
                <div class="line_foty_block"></div>
                <p>
                    {% blocktrans %}
                        Page has been deleted or does not exist. You can return <br>
                        <a href="javascript:history.back()">previous</a> or<br>
                        on <a href="http://{{ request.get_host }}">main</a> page
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% endspaceless %}



