{% spaceless %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="Index,follow">
    <meta name="copyright" content="{{ meta_copyright }}">
    <link rel="canonical" href="{{ meta_canonical }}">
    <meta name="title" content="{% block meta_title %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static "financial_system/js/html5.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/css3-mediaqueries.js" %}"></script>
    <![endif]-->

    {# <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">#}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "financial_system/css/jquery-ui-timepicker-addon.min.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/jquery.mCustomScrollbar.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/jquery.multiSelect.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/jquery.sb.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/jquery.fancybox.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/cusel.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/rateit.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/smartpaginator.css" %}">

    <link rel="stylesheet" href="{% static "financial_system/css/style.css" %}">
    <link rel="stylesheet" href="{% static "financial_system/css/dev_style.css" %}">


{#    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>#}
    <script type="text/javascript" src="{% static "financial_system/js/jquery-1.8.3.min.js"%}"></script>
{#    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}

    <!--[if IE 8]>
    <script type="text/javascript">
    $(document).ready(function(){
        $("form input").live('keypress',function (e) {
            if(e.which === 13) {
              $(this).submit();
            }
        });
    });
    </script>
    <![endif]-->


    <script type="text/javascript" src="{% static "financial_system/js/jquery.history.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery-ui-v1.10.2.js" %}"></script>
{#    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>#}

    <script type="text/javascript" src="{% static "financial_system/js/jquery-ui-timepicker-addon.min.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.ui.touch-punch.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.formset.min.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.cookie.js" %}"></script>

    <script type="text/javascript" src="{% static "financial_system/js/jquery.fileupload.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.form.min.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.fancybox.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.rateit.min.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.carouFredSel-6.1.0-packed.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.multiselect.min.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.sb.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/jquery.scrollTo.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/popoverWindow.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/ti_custom_checkbox.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/detectmobile.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/cusel.min.fixed.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/smartpaginator.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/mic_checkeds.js" %}"></script>

    <script type="text/javascript" src="{% static "financial_system/js/scripts.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/history_wrap.js" %}"></script>
    <script type="text/javascript" src="{% static "financial_system/js/dev_scripts.js" %}"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div id="page">
    <header id="header">
        {% include "header.html" %}
    </header>

    <div id="main">
        <div class="container" role="main">
            {% block content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
</div>
<footer id="footer">
    {% include "footer.html" %}
</footer>
<div class="loader">
    <div class="wrapper_pop_up"></div>
    <div class="pop_up">
        <div class="inner_popup">
            <div class="preload"></div>
        </div>
    </div>
</div>

{% if messages %}
    {% include "messages.html" %}
{% endif %}


</body>
</html>
{% endspaceless %}