{% spaceless %}
{% load i18n %}
{% load custom_tags %}
<div class="footer-container">
    <div class="wrapper o-shell">
        <ul class="f-menu shell aleft">
            footer link
        </ul>
        <div class="f-social shell aright">
{#            <form action="/i18n/setlang/" method="POST" name="languageForm1" class="shell">#}
{#                {% csrf_token %}#}
{#                <input name="next" type="hidden" value="{{ redirect_to }}" />#}
{#                <select name="language" id="id_language1"  class="lang">#}
{#                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                    {% for language in languages %}#}
{#                        <option value="{{ language.code }}" {% if LANGUAGE_CODE == language.code%} selected="selected" {% endif %}>{{ language.name_local }} ({{ language.code }})</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <input type="submit" id="lang_go1"  value="Go" >#}
{#            </form>#}
        </div>
    </div>
</div>
{% endspaceless %}

