{% spaceless %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
<div class="wrapper">
    <div class="inner shell">
        <a href="http://{{ request.get_host }}" class="logo aleft" title="{% trans "Verifair" %}">{% trans "Verifair" %}</a>

        <ul class="h-menu shell aleft">
            <li><a href="/pages/about_us/" class="lnk" title="{% trans "About us" %}">{% trans "About us" %}</a></li>
            <li><a href="/pages/support_center" class="lnk" title="{% trans "Support Center" %}">{% trans "Support Center" %}</a></li>
            <li><a href="/pages/how_it_works/" class="lnk" title="{% trans "How it works?" %}">{% trans "How it works?" %}</a></li>
            <li><a href="/pages/for_partners/" class="lnk" title="{% trans "For partners" %}">{% trans "For partners" %}</a></li>
        </ul>

        <div class="aright h-links">
            {% if user.is_authenticated %}
                <a href="{% url "logout" %}" class="aright logout" title="{% trans "Logout" %}">
                    <i class="icon-login aleft"></i>
                    <span class="title shell">{% trans "Logout" %}</span>
                </a>
                <a href="{% url "profile" %}" class="aright" id="private_href" title="{% trans "private" %}">
                    <span class="title shell">{{ user|display_name }}</span>
                </a>
            {% else %}
                <a href="{% url "login" %}" class="aright" title="{% trans "Authorization" %}"><i class="icon-login aleft"></i><span class="title shell">{% trans "Authorization" %}</span></a>
                <a href="{% url "registration" %}" class="aright" id="registration" title="{% trans "Registration" %}">
                    <span class="title shell">{% trans "Registration" %}</span>
                </a>
            {% endif %}

            <a href="{% url 'settings' %}" class="aright settings-lnk" title="{% trans "Settings" %}">
                    <span class="icon-lang aleft">
                        <img src="{{ STATIC_URL }}main/images/{{ LANGUAGE_CODE }}.png" alt="">
                    </span>
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    {% if LANGUAGE_CODE == language.code %}
                        <span class="title shell">{{ language.name_local }}, ({% get_currency %})</span>
                    {% endif %}
                {% endfor %}
            </a>
        </div>
    </div>
</div>
{% endspaceless %}