{% spaceless %}
{% load i18n %}
{% load custom_tags %}
<ul class="main_menu history">
    <li><a href="{% url "profile" %}" class="{% if main_menu_page == "profile" %}active{% endif %}">{% trans "Main" %}</a></li>
    <li><a href="{% url "account" %}" class="{% if main_menu_page == "account" %}active{% endif %}">{% trans "Personal account" %}</a></li>
    <li><a href="{% url "account_settings" %}" class="{% if main_menu_page == "account_settings" %}active{% endif %}">{% trans "Settings" %}</a></li>
    <li><a href="{% url "shop_list" %}" class="{% if main_menu_page == "shop" %}active{% endif %}">{% trans "Shop" %}</a></li>
</ul>
{% endspaceless %}
