{% spaceless %}
{% load i18n %}
{% if messages %}
    <div class="mess_info_block mess">
        <div class="wrapper_pop_up mess"></div>
        <div class="pop_up mess">
            <div class="inner_popup">
                <div class="messages_container">
                    <a class="popup_mess_close green-btn aright" href="javascript:void(0);">{% trans "Close" %}</a>
                    {% for message in messages %}
                        <span class="mess">{{ message|safe }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endspaceless %}