<div class="settings-container">
    {% load i18n %}
    <form action="/i18n/setlang/" method="POST" name="languageForm" class="shell">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language" id="id_language"  class="lang custom-sel">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% if LANGUAGE_CODE == language.code%} selected="selected" {% endif %}>{{ language.name_local }} ({{ language.code }})</option>
            {% endfor %}
        </select>
        <input type="submit" id="lang_go"  value="Go" style="display: none;" />
    </form>

    <form action="{% url "change_currency" %}" method="POST" name="change_currency_form" class="shell">
        {% csrf_token %}
        {{ change_currency_form.currency }}
        <input type="submit" id="change_currency_go"  value="Go" style="display: none;"/>
    </form>



</div>