{% spaceless %}
{% load i18n %}
{% load finance_tags %}
{% load custom_tags %}
{% load grid %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% if request.is_ajax %}
        {% include "messages.html" %}
    {% endif %}
    {% include "menu.html" %}
    <h1>{% trans "Shop list" %}</h1>
    {% include "shop/menu.html" %}
    {% if not object_list or object_list|length == 0 %}
        {% trans "You don't have shops" %}
    {% else %}
        {% grid_view object_list=object_list object_columns=object_columns object_options=object_options multiple_action=multiple_action items_on_page=10  %}
    {% endif %}
</div>
{% endspaceless %}