@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
    /*background: url(../images/selects-2.png) no-repeat;*/
    background-color: #fff;
}
.cusel { /* общий вид селекта включая стрелку справа */
    height: 40px;
    background-position: left top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    cursor: pointer;
    /*font-size: 14px;*/
    z-index: 1;
    vertical-align: top;
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background: url(../images/css/icons.png) -194px -230px;
   /* background-position: right top;*/
}

.cuselText { /* контейнер для отображенного текста селект */
    padding: 8px 14px 0 7px; /* подбираем отступы и высоту для видимого текста в селекте */
    cursor: pointer;
    /*color: #b8b8b8;*/
    /*color:#8b8c8d;*/
    /*overflow: hidden;*/
    color:#1b1b1b;
    position: relative;
    z-index: 1;
    /*font: 12px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;*/ /* шрифты */
    /*position: absolute;*/
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
* html .cuselText { /* высота блока для текста для ие6 */
    height: 22px;
}
.cusel span { /* оформление оптиона */
    display: block;
    color: #1b1b1b;
    cursor: pointer;
    white-space: nowrap;
    padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
    zoom: 1;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
    background: #606469;
    color: #fff;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
    background: #3b444f;
    color: #fff;
    cursor: default;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
    /*background-image: url(../images/selects-focus.png);*/
}

.cuselOpen {
    z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
    background-image: url(../images/selects-2-dis.png) !important;
    cursor: default;
    color: #ccc;
}
.classDisCusel .cuselText {
    cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
    display: block;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff; /* фон выпадающего списка */
    min-width: 100%;
    width: auto;
}
.cusel .jScrollPaneContainer {
    position: relative;
    overflow: hidden;
    z-index: 5;
    /*border: 1px solid #999;*/ /* границы выпадающего спиcка */
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
    height: 100%;
    width: 14px !important;
    background: #ccc;
    position: absolute;
    top: 0;
    right: 4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
    position: absolute;
    background-position: -40px -26px;
    cursor: pointer;
    width: 14px !important;
    height: 27px !important;
    right: 0px;

}

.cusel .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
    position: absolute;
    top: 0;
    right: 2px;
    width: 26px;
    height: 12px;
    cursor: pointer;
    background-position: -2px -26px;
    overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
    width: 25px;
    height: 12px;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3px;
    cursor: pointer;
    background-position: -21px -26px;
    overflow: hidden;
}

.cusel.cuselOpen .cusel-scroll-wrap {
    visibility: visible;
}