.wrap_selectable{
    position: relative;
}
.wrap_selectable .ui-button {
    position: absolute;
    right: 0;
}
.other .info{
    background-color: #22aed1;
}
#modules .arrow-pop{
    left: 20px;
}
.sections_container .arrow-pop{
    left: 50px !important;
}

.loader{
    display: none;
    overflow: hidden;
}
.wrapper_pop_up {
    background: #fff;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
}
/*.loader .wrapper_pop_up{*/
    /*background: none !important;*/
/*}*/

.pop_up {
    position: absolute;
    top: 50%;
    z-index: 1001;
}
.pop_up .inner_popup {
    position: fixed;
    width: 100%;
    z-index: 1001;
    margin-top: 0px;
}
.preload{
    background: url(../images/loading.gif) no-repeat 50% 50%;
    /*opacity: ;*/
    height: 54px;
}
.set.manufacturer ul, set.properies ul{
    list-style: none;
}

.set.manufacturer ul li, .set.properies ul li{
    display: block;
    margin-top: 20px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.products-autocomplete {
    z-index: 9999;
}

.selectable-deck-item.done{
    display: block !important;
    overflow: hidden;
    position: relative;
}

.separate{
    clear: both;
    height: 0px;
}

.restpassword input{
    width:222px!important;
}
.resetpassword-container{
    width: 390px;
}


.comment_vote_container {
    color:#555555;
}

#page div.reviews_container {
    color: #555555;

}
.form_profile_type ul{
    list-style: none;
}

.call_list_content{
    min-height: 550px;
}

#private .ui-tabs .ui-tabs-panel, #data .ui-tabs .ui-tabs-panel{
    padding: 0;
}

.pagination-wrap .disabled.prev, .pagination-wrap .disabled.next{
    display: none;
}
.invoice_discussion_cont{
    height:400px;
    overflow-y: scroll;
}