/*09.01.14 страница заглушки начало*/
/*начало главного блока с картинкой*/
.for_padding_bottom_block{
    padding-bottom: 88px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 8px;
}
.welcome_background_image{
    background: url("../images/welcome_page_main_bg.jpg") no-repeat;
    background-size: cover;
    background-position: left top;
    width: 100%;
    min-width: 900px;
    height: 550px;
    min-height: 360px;
    margin-top: 7px;
}
.welcome_background_image_text_inside_block{
    max-width: 700px;
    text-align: center;
    left: 50%;
    margin:0 auto;
    padding-top: 55px;
}
.welcome_background_image_text_inside_block h1{
    font-family: Calibri;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 22px;
}
.welcome_background_image_text_inside_block p{
    font-family: Calibri;
    font-size: 16px;
    color: #ffffff;
    line-height: 23px;
    margin-bottom: 38px;
}
.welcome_background_image_text_inside_block a{
    font-family: Calibri;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 28px;
    background:#05B393 ;
}
/*конец главного блока с картинкой*/

/*начало черного блока с контентом*/
.black_welcome_block{
    width: 100%;
    min-width: 900px;
    height: 230px;
    background: #15191C;
    margin-top: 10px;
}
.inside_black_block h2{
    font-family: Calibri;
    font-size: 24px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 8%;
}
.inside_black_block{
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 20px;
    min-width: 900px;
    max-width: 100%;
}
.inside_black_block ul li{
    float: left;
    padding-left: 10px;
    height: 165px;
    list-style: none;
    padding: 0 2% 0 8%;
    width: 23%;
}
.inside_black_block ul li h4{
    font-family: Calibri;
    font-size: 18px;
    color: #05b393;
    font-weight: normal;
    padding-top: 24px;
    padding-bottom: 20px;
}
.inside_black_block ul li h5{
    font-family: Calibri;
    font-size: 16px;
    color: #fefefe;
    font-weight: normal;
}
/*.last_lishka{*/
    /*float: right;*/
/*}*/
/*конец черного блока с контентом*/
/*09.01.14 страница заглушки конец*/

/*09.01.14 страница 404 начало*/
.foty_four_block{
    width: 100%;
    min-width: 900px;
    background: #15191C;
    margin-top: 9px;
    height: 790px;
    overflow: hidden;
    display: table;
}
.foty_inside_block{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.foty_inside_block h1{
    font-family: "Calibri Light";
    font-size: 100px;
    color: #ffffff;
}
.foty_inside_block h2{
    font-family: "Calibri Light";
    font-size: 24px;
    color: #ffffff;
}
.line_foty_block{
    width: 60px;
    border-bottom: 1px solid #313538;
    margin: 40px auto 40px;
}
.foty_inside_block p{
    font-family: "Calibri Light";
    font-size: 18px;
    color: #ffffff;
}
.foty_inside_block a{
    font-family: "Calibri Light";
    font-size: 18px;
    color: #0AA98C;
    text-decoration: none;
}
.foty_inside_block a:hover{
    text-decoration: underline;
}
/*09.01.14 страница 404 конец*/
