body{
    background: #000000;
    color: #ffffff;
}

.container{
    width: 600px;
}

.loader{
    display: none;
    overflow: hidden;
}

.wrapper_pop_up {
    background: #fff;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.pop_up {
    position: absolute;
    top: 50%;
    z-index: 1001;
}

.pop_up .inner_popup {
    position: fixed;
    width: 100%;
    z-index: 1001;
    margin-top: 0px;
}

.preload{
    background: url(../images/loading.gif) no-repeat 50% 50%;
    height: 54px;
}