@media screen and (max-width: 940px) {
    .users-sort input.search{
        width: 48%;
    }
    .users-sort .f-toggle{
        width: 47%;
    }
}

@media screen and (max-width: 900px) {
    .search-container input.search{
        width: 35%;
    }
    .search-container .ui-multiselect{
        width: 28% !important;
    }
}


@media screen and (max-width: 730px) {
    #nav-bar{
        float: right;
        position: relative;
    }

    #nav-bar .content{
        right: 15px;
        top: 15px;
    }

    #page{
        float: left;
        overflow: hidden;
        padding: 0;
        width: 660px;
    }
    #footer{
        float: left;
        padding: 0;
    }
}