*{
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
}

@font-face {
    font-family: "Calibri Light";
    src: url("../fonts/calibril.eot"),
         url("../fonts/calibril.ttf");
    font-weight: normal;
    font-style: normal;
}


html,body{
    height: 100%;
}

body{
    background: #3a4559 url(../images/css/noise.jpg);
    color: #858585;
    font: 16px "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    min-width: 980px;
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;
}

textarea{
    resize: vertical;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"]{
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="button"],
input[type="submit"],
button{
    cursor: pointer;
    font-family: "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
    background-color: #fff;
    color: #555;
    font-family: "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 9px 12px;
}

.container input[type="text"],
.container input[type="tel"],
.container input[type="password"],
.container input[type="email"],
.container input[type="search"],
.container textarea{
    padding: 9px 3%;
    width: 94%;
}

input.search{
    background-image: url(../images/css/icons.png);
    background-repeat: no-repeat;
}

input.placeholder,
textarea.placeholder{
    color: #b8b8b8;
}

::-webkit-input-placeholder{
    color: #b8b8b8;
}

:-moz-placeholder{
    color: #b8b8b8;
}

#page{
    min-height:100%;
    height:auto !important;
    height: 100%;
    min-width: 910px;
    padding-right: 70px;
}

.clear{
    display: block;
    height: 70px;
    width: 100%;
}

#header,
.footer-container{
    background-color: #15191c;
    box-shadow: 0px 2px 5px #131619 inset;
}

.wrapper{
    margin: 0 auto;
    padding: 10px 1%;
    width: 98%;
    max-width: 1070px;
}

#main .wrapper{
    padding: 0 1%;
}

#footer{
    height: 70px;
    margin-top: -70px;
    min-width: 910px;
    padding-right: 70px;
}

.footer-container{
    height: 70px;
}

.aleft{
    float: left;
}

.aright{
    float: right;
}

.o-shell{
    overflow: hidden;
}

.shell{
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.hidden{
    display: none;
}

a{
    color: #8b8c8e;
    text-decoration: underline;
}

a span,
a i{
    *cursor: pointer;
}

a.lnk{
    text-decoration: none;
}

a.lnk:hover{
    text-decoration: underline;
}

h1,
h2,
h3,
h4{
    font-weight: normal;
}


/* navigation bar */

#nav-bar{
    background-color: #15191c;
    height: 100%;
    right: 0;
    position: fixed;
    top: 0;
    *position:absolute;
    *top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
    width: 70px;
    z-index: 500;
}

#nav-bar .content{
    float: right;
    margin: 15px 15px 0 0;
    width: 40px;
}

.s-arrow{
    cursor: pointer;
    display: block;
    height: 40px;
    margin-bottom: 23px;
    width: 40px;
}

.s-arrow.to-bottom{
    background: url(../images/css/icons.png) 0 -119px;
}

.s-arrow.to-top{
    background: url(../images/css/icons.png) 0 -180px;
}

#menu a{
    background-image: url(../images/css/icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    float: right;
    clear: both;
    margin: 0 5px 30px 0;
    text-decoration: none;
    text-indent: -9999px;
    width: 30px;
}

#menu a.catalog{
    background-position: -65px -5px;
}

#menu a.search{
    background-position: -65px -55px;
}

#menu a.private{
    background-position: -65px -99px;
}

#menu a.favorites{
    background-position: -65px -145px;
}

#menu a.feedback{
    background-position: -65px -191px;
}

/**/


/* header */

#header .inner.shell{
    width: 100%;
}

.logo{
    background: url(../images/css/logo2.png) no-repeat;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 175px;
}

.h-links{
    margin-top: 5px;
}

.h-links a{
    color: #8b8c8e;
    font-size: 18px;
    line-height: 40px;
    margin: 0 10px 0 50px;
    text-decoration: none;
}

.h-links .title{
    margin-left: 25px;
}

/**/

/* main blocks */

.promo+.promo{
    margin: 20px 0;
}

.promo h1{
    background-color: #04987e;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 10px;
    padding: 0 20px;
}

/* main slider */

.promo.main-slider{
    height: 310px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#slider-home .item{
    color: #fffefe;
    float: left;
    font-size: 18px;
    height: 310px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#slider-home .desc{
    height: 230px;
    float: left;
    padding: 40px 35px 40px 40px;
    position: relative;
    width: 265px;
}

#slider-home .pict{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    margin-left: 350px;
}

.s-nav{
    background: url(../images/css/icons.png) no-repeat;
    cursor: pointer;
    height: 41px;
    position: absolute;
    top: 10px;
    width: 41px;
}

.s-nav.prev{
    background-position: -109px -108px;
    right: 62px;
}

.s-nav.next{
    background-position: -109px -177px;
    right: 10px;
}

#slider-home h3{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
}

#slider-home .excerpt{
    line-height: 22px;
    max-height: 90px;
    overflow: hidden;
}

#slider-home .item a{
    background-color: #15191c;
    bottom: 50px;
    color: #fffefe;
    left: 40px;
    line-height: 30px;
    padding: 5px 20px 5px 10px;
    position: absolute;
    text-decoration: none;
}

#slider-home .icon-tocat{
    float: left;
    margin-right: 10px;
}

/**/

/* catalog item*/

.catalog-list{
    height: 340px;
    overflow: auto;
}

.cat-item{
    box-shadow: 0 0 14px #2e363e;
    float: left;
    font-size: 24px;
    height: 313px;
    position: relative;
    width: 204px;
}

.cat-item a{
    color: #fff;
    display: block;
    height: 313px;
    position: relative;
    text-decoration: none;
    z-index: 2;
}

.cat-item+.cat-item{
    margin-left: 12px;
}

.cat-item .thmb{
    background-color: #fff;
    display: table-cell;
    height: 194px;
    padding-top: 10px;
    text-align: center;
    width: 204px;
    vertical-align: middle;
}

.cat-item .img{
    max-height: 184px;
    max-width: 165px;
}

.cat-item .info{
    bottom: 0;
    height: 89px;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 184px;
}

.cat-item h3{
    font-size: 24px;
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
}

.price{
    overflow: hidden;
    padding-right: 15px;
    position: relative;
}

.price.retail{
    color: #e51400;
}

.price.wholesale{
    color: #15191c;
}

.cat-item .price{
    bottom: 12px;
    left: 10px;
    position: absolute;
}

.price .int{
    float: left;
    font-size: 36px;
    line-height: 36px;
}

.price.wholesale .int{
    font-size: 30px;
    line-height: 30px;
}

.price .fract{
    float: left;
    font-size: 16px;
}

.price .cy{
    bottom: 2px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
}

.price.wholesale .fract,
.price.wholesale .cy{
    font-size: 14px;
}

.add-to-cart{
    background: url(../images/css/icons.png) no-repeat -110px 0;
    display: block;
    height: 40px;
    width: 40px;
}

.cat-item .add-to-cart{
    bottom: 12px;
    height: 40px;
    position: absolute;
    right: 12px;
    z-index: 7;
}

/**/

/* catalog */

.catalog-grid-wrap{
    margin: 0 0 0 -6px;
    overflow: hidden;
    padding: 0 6px;
    width: 100%;
}

.catalog-grid{
    margin: 0 0 5px;
    width: 102%;
}

.catalog-grid .cat-item{
    margin: 10px 12px 5px 0;
}

.catalog-grid .cat-item+.cat-item{
    margin-left: 0;
}

.cat-item.active .substrate{
    background: url(../images/css/cat-active.png) repeat;
    height: 328px;
    left: -6px;
    position: absolute;
    top: -7px;
    width: 216px;
    z-index: 1;
}

.catalog-grid .single-trade{
    position: relative;
    width: 100%;
    display: block;
    float: left;
}

.catalog-grid .single-trade .single-wrap{
    margin-bottom: 0;
}

.catalog-grid .single-wrap .tab .inner{
    height: 420px;
    overflow: auto;
}

/**/

/* top users */

.users-top{
    height: 144px;
    overflow: auto;
}

.users-top .item{
    background-color: #fff;
    float: left;
    height: 121px;
    width: 121px;
}

.users-top .item{
    margin-left: 16px;
}

.users-top .item:first-child{
    margin-left: 0;
}

.users-top .item img{
    max-height: 100%;
    max-width: 100%;
}

/**/

/* single trade */

.single-wrap{
    background-color: #fff;
    margin: 10px 0 20px;
    padding: 20px 1.8%;
}

.favorite-item.single-wrap{
    background-color: #15191c;
    margin: 0;
    padding: 0 0 20px 0;
}

.favorite-item.single-wrap+.favorite-item.single-wrap{
    border-top: 1px solid #2f3235;
    padding-top: 20px;
}

.single-wrap .common{
    font-size: 18px;
    margin-bottom: 40px;
}

.favorite-item.single-wrap .common{
    color: #858585;
    margin-bottom: 0;
}

.single-wrap .common a{
    color: #04987e;
    text-decoration: underline;
}

.single-wrap .preview{
    width: 29%;
}

.single-wrap.favorite-item .preview{
    width: 20.5%;
}

.single-wrap.favorite-item .preview img{
    max-width: 100%;
}

.single-wrap div.desc{
    margin: 0 18% 0 32.7%;
}

.single-wrap.favorite-item div.desc{
    margin: 0 19.5% 0 25.6%;
}

.single-wrap .owner{
    max-width: 17.7%;
    text-align: right;
}

.single-wrap.favorite-item .owner{
    max-width: 19.5%;
}

.single-wrap .preview .big{
    text-align: center;
    width: 69%;
}

.single-wrap .preview .big img{
    max-width: 100%;
}

.single-wrap .thumbs{
    width: 24.2%;
}

.single-wrap .thumbs li{
    list-style-type: none;
    margin-bottom: 10px;
}

.single-wrap .thumbs li a{
    display: block;
    text-align: center;
}

.single-wrap .thumbs li img{
    max-width: 100%;
}

.single-wrap .desc h1{
    color: #15191c;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}

.price-group{
    margin-bottom: 15px;
}

.price-group .title{
    font-size: 24px;
    margin: 6px 8px 0 0;
}

.favorite-item .price .cy{
    color: #fff;
}

.favorite-item .price.wholesale{
    color: #fff;
}

.price-group.wholesale .title{
    margin-top: 2px;
}

.status{
    margin-bottom: 20px;
}

.status.instock{
    color: #04987e;
}

.status.notavailable{
    color: #e51400;
}

.single-wrap a.add-to-cart,
.compare-wrap .item a.add-to-cart{
    background: #04987e url(../images/css/icons.png) 10px -285px no-repeat;
    color: #fff;
    display: inline-block;
    *display: inline;
    height: 40px;
    line-height: 40px;
    margin-right: 2%;
    padding: 0 20px 0 50px;
    text-decoration: none;
    width: auto;
    zoom: 1;
}

.single-wrap .owner h3{
    color: #15191c;
    font-size: 24px;
    line-height: 24px;
}

.single-wrap.favorite-item .desc h1,
.single-wrap.favorite-item .owner h3,
.single-wrap.favorite-item .desc h1 a,
.single-wrap.favorite-item .owner h3 a{
    color: #fff;
}

.single-wrap.favorite-item .desc h1 a,
.single-wrap.favorite-item .owner h3 a{
    text-decoration: none;
}

.single-wrap.favorite-item .desc h1 a:hover,
.single-wrap.favorite-item .owner h3 a:hover{
    text-decoration: underline;
}

.single-wrap .owner p{
    margin-top: 10px;
}

.single-wrap .owner .single{
    margin: 4px 0 20px;
}

.wrapper .ui-tabs .ui-tabs-nav{
    margin: 0;
    padding: 0;
}


.tabs ul{
    list-style-type: none;
    margin-bottom: 30px;
    overflow: hidden;
}

.tabs ul li{
    background-color: #15191c;
    float: left;
    margin-right: 1px;
}

.private-content .tabs ul li{
    background-color: #04987e;
}

.tabs li.ui-state-active,
.private-content .tabs li.ui-state-active{
    background-color: #283036;
}

.tabs ul a{
    color: #fff;
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}

.tabs .tab h2,
.single-wrap .promo h2{
    color: #15191c;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.single-wrap .promo{
    margin: 30px 0 10px;
}

.single-wrap .promo .cat-item{
    margin-bottom: 20px;
}

.features{
    width: 100%;
}

.features td{
    text-align: left;
    vertical-align: top;
}

.features td.name{
    color: #000;
    width: 180px;
}

.features tr+tr td{
    padding-top: 25px;
}

.features td.desc{
    padding-left: 30px;
}

.catalog-wrap .others-list{
    height: auto;
}

.others-list .cat-item,
.others-list .cat-item a{
    height: auto;
    width: 260px;
}

.others-list .offerer{
    background-color: #15191c;
    overflow: hidden;
    padding: 10px;
}

.others-list .offerer .desc{
    margin-left: 78px;
}

.others-list .thmb{
    border: 1px solid #eaeaeb;
    float: left;
    height: 68px;
    padding: 0;
    width: 68px;
}

.others-list h3{
    max-height: none;
}

.others-list .info{
    height: auto;
    padding: 10px;
    position: relative;
    width: auto;
}

.others-list .address{
    color: #b8b8b8;
    font-size: 18px;
    line-height: 18px;
}

.others-list .price{
    bottom: 2px;
    left: 0;
    position: relative;
}

.others-list .price .int{
    font-size: 32px;
    line-height: 32px;
}

.others-list .price .fract,
.others-list .price .cy{
    font-size: 14px;
}

.others-list table{
    font-size: 18px;
    line-height: 18px;
    width: 100%;
}

.others-list .info .payment li{
    float: right;
    list-style-type: none;
}

.others-list .info .payment li+li{
    margin-right: 10px;
}

.others-list .info .payment img{
    height: 16px;
    width: 16px;
}

.others-list td{
    padding-bottom: 8px;
    vertical-align: top;
}

.others-list td.desc{
    text-align: right;
    width: 100px;
}

/**/

/* users list */

.users-list{
    margin: 11px 0 10px;
}

.user-item{
    background-color: #ffffff;
    padding: 20px 20px 15px;
}

.user-item + .user-item{
    margin-top: 10px;
}

.user-item .thmb{
    float: left;
    line-height: 0;
    width: 180px;
}

.user-item .thmb .img{
    max-width: 100%;
}

.user-item .desc{
    margin-left: 200px;
}

.user-item h3{
    font-size: 30px;
    line-height: 30px;
    margin: 0 20px 5px 0;
}

.user-item h3 a{
    color: #000;
    text-decoration: none;
}

.user-item .advanced{
    border-bottom: 1px solid #d4d6d9;
    margin-bottom: 18px;
    padding-bottom: 20px;
}

.user-item a{
    color: #04987e;
}

.user-item .address{
    margin-bottom: 3px;
}

.user-item .top{
    border-bottom: 1px solid #d4d6d9;
    margin-bottom: 18px;
    padding-bottom: 15px;
}

.user-item .user-links{
    text-align: right;
    width: 30%;
}

.user-item .user-links p.big{
    color: #000;
    font-size: 18px;
    margin: 7px 0 5px;
}

.user-item .user-info h4{
    color: #8a8b8d;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}

.user-item .bottom .user-links{
    margin-top: 35px;
}

.user-item .user-links a{
    margin-bottom: 3px;
}

.user-item .user-info{
    margin-right: 35%;
}

.user-item .excerpt h4{
    color: #000;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 12px;
}

.user-item .excerpt div{
    line-height: 20px;
}

.user-item .excerpt .detail{
    margin-top: 12px;
}

/**/

/* compare */

.compare-wrap{
    margin-bottom: 40px;
}

.compare-wrap .catalog-list{
    height: auto;
    padding-bottom: 30px;
}

.compare-wrap .item{
    background-color: #fff;
    float: left;
    margin-top: 10px;
    width: 350px;
}

.compare-wrap .item+.item{
    margin-left: 10px;
}

.compare-wrap .item .inner{
    padding: 20px;
}

.thmb img{
    max-height: 100%;
    max-width: 100%;
}

.compare-wrap .thmb{
    display: block;
    height: 200px;
    margin: 30px 0;
    text-align: center;
}

.compare-wrap .thmb img{
    max-height: 200px;
    max-width: 100%;
}

.compare-wrap .item h2 a,
.compare-wrap .item h3{
    color: #15191c;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}

.compare-wrap .item h2{
    margin-bottom: 5px;
}

.compare-wrap .item h3{
    font-weight: normal;
    margin: 14px 0;
}

.compare-wrap .price-group.wholesale,
.compare-wrap .status{
    margin-bottom: 10px;
}

.compare-wrap .feature-item+.feature-item{
    margin-top: 20px;
}

.compare-wrap .feature-item h4{
    color: #000;
    font-size: 16px;
    margin-bottom: 2px;
}

/**/

/* private */

.private-wrap{
    margin: 10px 0 20px;
    position: relative;
    width: 100%;
}

.private-tabs{
    list-style-type: none;
    width: 22.4%;
}

.private-tabs li{
    background-color: #15191c;
    position: relative;
}

.private-tabs li.ui-state-active{
    background-color: #04987e;
}

.private-tabs li+li{
    margin-top: 10px;
}

.private-tabs li a{
    color: #fffefe;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    text-decoration: none;
}

.private-content,.profile-content{
    background-color: #15191c;
    font-size: 18px;
    color: #fff;
    margin-left: 23.4%;
}

.profile-content{
    margin-left: 0 !important;
}


.private-content .inner,.profile-content .inner{
    padding: 20px 2.4%;
}

.private-content .tab .inner{
    padding: 10px 0 0;
}

.data-content{
    font-size: 18px;
}

.data-content .thmb{
    width: 180px;
}

.data-content .m-side{
    margin-left: 200px;
}

.data-content h3{
    color: #f7f7f7;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 12px;
}

.data-content .excerpt,
.data-content .title{
    color: #737577;
}

.data-content .row{
    margin-top: 10px;
}

.data-content .row .title{
    margin-bottom: 10px;
}

.data-content .row .title.aleft{
    margin-bottom: 0;
}

.data-content .row .title.aleft+.desc{
    margin-left: 190px;
}

.data-content p+p{
    margin-top: 22px;
}

.orders-tab .item .title{
    cursor: pointer;
    padding: 10px;
}

.orders-tab .item h3,
.orders-tab .item .title{
    font-size: 18px;
}

.orders-tab .item .title .total-price{
    color: #04987e;
    margin-right: 60px;
}

.orders-tab .item.open{
    margin-bottom: 10px;
}

.orders-tab .item.open h3{
    font-size: 24px;
}

.orders-tab .item.open .title .date{
    font-size: 16px;
}

.orders-tab .item.open .title .total-price{
    display: none;
}

.orders-tab .item .content{
    border-bottom: 1px solid #28292e;
    display: none;
    padding: 10px 0 20px;
}

.import-container .item .content{
    display: none;
}

.orders-tab .item.open .content,
.import-container .item.open .content{
    display: block;
}

.orders-tab .item .description .set{
    font-size: 16px;
    margin: 30px 0 0 20px;
}

.orders-tab .item .description .o-shell+.o-shell{
    margin-top: 12px;
}

.orders-tab .item .description .aleft+.aleft{
    color: #04987e;
    margin-left: 5px;
}

.orders-tab .item .description .address .aleft{
    color: #fff;
}

.btns-set{
    margin-top: 10px;
}

.btns-set .aright+.aright{
    margin-right: 20px;
}

.table-dark{
    border-spacing: 0;
    width: 100%;
}

.table-dark th,
.table-dark td{
    font-size: 16px;
    padding: 13px 10px;
    text-align: left;
}

.table-dark th{
    background-color: #28292e;
    color: #fff;
    font-weight: normal;
}

.table-dark th+th,
.table-dark td+td{
    border-left: 1px solid #15191c;
}

.table-dark td{
    background-color: #fff;
    border-top: 1px solid #15191c;
    color: #15191c;
}

.table-dark.table-orders .name,
.table-dark.table-orders .amount{
    width: 26%;
}

.table-dark.table-orders .sum{
    width: 24%;
}

.table-dark .action a{
    margin: 0 8px 0 10px;
}

.tab#import-trade{
    font-size: 18px;
}

.tab#import-trade h3{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
}

.import-container{
    margin-top: 30px;
}

.import-container h3{
    background: url(../images/css/icons.png) no-repeat 0 -393px;
    cursor: pointer;
    padding-left: 25px;
}

.import-container .open h3{
    background: url(../images/css/icons.png) no-repeat 0 -427px;
}

.import-container .item+.item{
    margin-top: 15px;
}

.import-container .item .row+.row,
.import-container .item .row .row{
    margin-top: 35px;
}

.import-container .item .title{
    color: #737577;
    width: 200px;
}

.import-container .item .controllers{
    margin-left: 220px;
}

.import-container .item .controllers .col{
    float: left;
    width: 29.7%;
}

.import-container .item .controllers .col p+p{
    margin-top: 15px;
}

.import-container .item .controllers .col+.col{
    margin-left: 5%;
}

.import-container .item .controllers .icon-checkbox{
    float: left;
    margin-top: 3px;
}

.table-trades td,
.table-trades th{
    width: 16.8%;
}

.table-trades th:first-child,
.table-trades td:first-child{
    width: 20px;
}

.table-trades .action{
    width: 120px;
}

.table-trades .pos{
    text-align: center;
}

.private-content .tab h3{
    font-size: 24px;
    margin-bottom: 15px;
}

.new-trade .row{
    margin: 10px 0;
    width: 100%;
}

.new-trade .col{
    float: left;
    width: 25.8%;
}

.new-trade .col.title{
    color: #737577;
    line-height: 40px;
}

.new-trade .col+.col{
    margin-left: 2.6%;
}

.new-trade select,
.new-trade .c-sel{
    width: 100% !important;
}

.new-trade .col.wide{
    float: none;
    margin: 0 0 0 28.4%;
    width: auto;
}

.new-trade .add-row{
    background: url(../images/css/icons.png) no-repeat 0 -399px;
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 10px 0 0 2.6%;
    width: 15px;
}

.new-trade .del-row{
    background: url(../images/css/icons.png) no-repeat 0 -432px;
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 10px 0 0 2.6%;
    width: 15px;
}


/**/

/* auth form */

.login-container{
    color: #fff;
    width: 390px;
}

.login-container form{
    border-bottom: 1px dotted #5c5e61;
    font-size: 14px;
    padding-bottom: 10px;
    width: 100%;
}

.login-container input[type="text"],
.login-container input[type="password"]{
    width: 166px;
}

.login-container a{
     color: #fff;
}

.login-container .links-set{
    margin-top: 20px;
}

.login-container .links-set span{
    color: #fff;
    padding: 0 5px;
}

.social-set{
    padding-top: 10px;
    width: 100%;
}

.social-set a{
    margin-left: 12px;
}

.data-content .social-list a{
    margin-right: 12px;
}

.data-content hr.sep{
    background-color: #2d3033;
    height: 1px;
    margin-top: 15px;
}

.data-content .row h3{
    font-size: 24px;
}

/**/

/* settings form */

.settings-container{
    width: 390px;
}

.settings-container div.shell{
    margin-bottom: 10px;
}

.settings-container .custom-sel{
    width: 390px;
}

.settings-container .custom-sel.two-col{
    width: 190px;
}

.settings-container .custom-sel.lang{
    margin-right: 6px;
}

.search-container .ui-multiselect{
    float: right;
    margin-right: 10px;
    width: 190px !important;
}

.search-container input.search{
    background-position: right -345px;
}

/**/

/* search form*/

.search-container{
    width: 800px;
}

.search-container input.search{
    margin: 0 0 0 0;
    width: 376px;
}

.search-container .multiSelect{
    width: 145px;
}

/**/

.a-header .wrapper{
    line-height: 0;
    position: relative;
    *z-index: 1000;
}

.a-header .inner{
    line-height: normal;
    width: 100%;
}

.a-header,
.pagination-wrap{
    background-color: #04987e;
    color: #fff;
    height: 20px;
    font-size: 18px;
    margin-bottom: 1px;
    padding: 20px 0;
}

.a-header a{
    color: #fff;
    text-decoration: none;
}

.breadcrumbs h1{
    font-size: 24px;
    line-height: 24px;
    margin-top: -2px;
}

.a-header a.crumb:hover{
    text-decoration: underline;
}

.crumb{
    float: left;
    margin-right: 8px;
}

.divider{
    background: url(../images/css/icons.png) no-repeat -163px -133px;
    float: left;
    height: 9px;
    margin-top: 8px;
    width: 4px;
}

.divider+.crumb{
    margin-left: 8px;
}

/* filters */

.filters-wrap{
    margin-right: 10px;
}

.sort,
.filters{
    background-image: url(../images/css/icons.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.sort{
    background-position: -225px 0;
}

.filters{
    background-position: -225px -42px;
    margin-left: 40px;
}

.popover.filter-pop{
    top: 180%;
}

.popover.filter-pop.users-sort{
    top: 172%;
}

.popover.filter-pop .inner-pop{
    box-shadow: 0 0 4px #222934;
}

.filter-pop label.custom-checkbox{
    display: block;
}

.filter-pop .icon-checkbox{
    float: right;
    margin-left: 7px;
}

.filter-pop p+p{
    margin-top: 20px;
}

.filter-content{
    width: 250px;
}

.filter-content .set{
    margin-bottom: 20px;
}

.filter-content .switch-group label{
    background-color: #28292e;
    cursor: pointer;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 26px;
}

.filter-content .switch-group label:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.filter-content .switch-group label:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.filter-content .switch-group label.active{
    background-color: #369999;
}

.filter-content .switch-group label.mid{
    padding: 0 8px;
}

.filter-content .switch-group label+label{
    border-left: 1px solid #000;
}

.filter-content .set+.set{
    background: url(../images/css/set-sep.png) repeat-x 0 0;
    padding-top: 20px;
}

.filter-pop h3{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
}

.price-wrap{
    padding-top: 35px;
    position: relative;
}

.price-wrap .handler{
    left: -100%;
    position: absolute;
    top: -30px;
}

.price-wrap .handler .inner{
    background-color: #369999;
    border-radius: 8px;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    text-align: center;
    width: auto;
}

.ui-slider{
    background-color: #060708;
    border: 1px solid #1c2023;
    border-radius: 5px;
    height: 6px;
    position: relative;
    width: 100%;
    z-index: 20;
}

.ui-slider-range{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47cccc, endColorstr=#287272);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#47cccc, endColorstr=#287272)";
    background-image: linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -o-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -moz-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -webkit-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -ms-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(40,114,114)),
        color-stop(0.65, rgb(71,204,204))
    );
    height: 100%;
    position: absolute;
    z-index: 5;
}

.ui-slider-handle{
    background: url(../images/css/icons.png) no-repeat -223px -77px;
    height: 12px;
    position: absolute;
    top: -3px;
    width: 12px;
    z-index: 10;
}

.users-sort input.search{
    background-position: right -345px;
    padding: 9px 12px;
    width: 60%;
}

.users-sort .f-toggle{
    margin-top: 10px;
    width: 35%;
}

.switcher{
    background: url(../images/css/icons.png) no-repeat -197px -157px;
    cursor: pointer;
    height: 21px;
    margin: 2px 3% 0;
    position: relative;
    width: 41px;
}

.switcher .switch{
    background: url(../images/css/icons.png) no-repeat -222px -115px;
    height: 16px;
    left: auto;
    position: absolute;
    right: 3px;
    top: 2px;
    width: 16px;
}

.switcher .switch.open{
    left: 3px;
    right: auto;
}

.sort-tab{
    display: none;
    overflow: hidden;
}

.sort-tab.open{
    display: block;
}

.sort-tab .col{
    width: 20%;
}

.sort-tab .select-set{
    margin-top: 5px;
    width: 53%;
}

.sort-tab .select-set .col{
    width: 48%;
}

.sort-tab .col+.col{
    margin-left: 2%;
}

.sort-tab .select-set .col+.col{
    margin-right: 2%;
}

.sort-tab .select-set p+p{
    margin-top: 10px;
}

.sort-tab .col h4{
    font-size: 18px;
    margin-bottom: 10px;
}

.sort-tab .col .icon-checkbox{
    float: left;
    margin: 2px 4px 0 0;
}

.sort-tab#alphabet{
    font-size: 18px;
    padding: 10px 0 10px;
    text-transform: uppercase;
}

.sort-tab .alphabet ul{
    float: left;
}

.sort-tab ul.alphabet li{
    float: left;
}

.sort-tab .alphabet li{
    cursor: pointer;
    list-style-type: none;
    margin: 0 40px 10px 0;
    padding: 3px 5px;
}

.sort-tab .alphabet li.active{
    border: 1px solid #fff;
    padding: 2px 4px;
}

#compare.popover .inner-pop{
    width: 252px;
}

.compare,
.add-compare{
    padding-left: 25px;
}

.compare{
    background: url(../images/css/icons.png) no-repeat -195px -208px;
    margin-left: 35px;
}

.add-compare{
    background: url(../images/css/icons.png) no-repeat -195px -183px;
}

/**/

/* pagination */

.pagination-wrap{
    bottom: 71px;
}

.pagination{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    overflow: hidden;
}

.pagination span{
    float: left;
}

.pagination a{
    color: #fff;
    float: left;
    margin-left: 32px;
    padding: 0 4px;
    text-decoration: none;
}

.pagination a:hover,
.pagination a.current{
    background-color: #15191c;
}

.pagination .next,
.pagination .prev{
    background-image: url(../images/css/icons.png);
    height: 24px;
    padding: 0;
    width: 10px;
}

.pagination .next:hover,
.pagination .prev:hover{
    background-color: transparent;
}

.pagination .next{
    background-position: -178px -124px;
}

.pagination .prev{
    background-position: -189px -124px;
}

/**/

/**/


/*footer*/

#footer{
    color: #fff;
    font-size: 18px;
}

.f-menu{
    margin-top: 15px;
}

.f-menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

.f-menu a{
    color: #fff;
    padding: 0 10px;
}

.f-social a,
.f-social span{
    float: right;
    line-height: 50px;
    margin-right: 10px;
}

.f-social span{
    margin-left: 10px;
}

.f-social a{
    background: url(../images/css/icons.png) no-repeat;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}

.f-social a.fb{
    background-position: -163px 0;
}

.f-social a.twitter{
    background-position: -163px -64px;
}

/**/


/* buttons */

.green-btn,
.grey-btn{
    background-color: #04987e;
    color: #fff;
    display: inline-block;
    *display: inline;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 27px;
    text-decoration: none;
    zoom: 1;
}

.grey-btn{
    background-color: #28292e;
}

.btns-set .green-btn,
.btns-set .grey-btn{
    padding: 0 20px;
}

/*.import-container .btns-set{*/
    /*margin-top: 20px;*/
/*}*/

.custom-file{
    left: -9999px;
    position: absolute;
}

/**/


/* raiting */

.raiting {
    background: url(../images/css/raiting.png);
    width: 80px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.raiting div {
    background: url(../images/css/raiting.png) left center;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.raiting span {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../images/css/raiting.png) 0 100%;
    width: 0;
    cursor: pointer;
}

.raiting.disabled span{
    cursor: default;
}

/**/


/* popover */

.popover{
    display: none;
    font-size: 18px;
    position: absolute;
    z-index: 1000;
}

.popover.top{
    padding-top: 10px;
}

.popover.right{
    padding-right: 10px;
}

.popover .inner-pop{
    padding: 10px;
}

.popover.filter-pop .inner-pop{
    padding: 20px 15px;
}

.popover .inner-pop{
    background-color: #15191c;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.popover.users-sort .inner-pop{
    display: block;
}

.popover .arrow-pop,
.single-trade .arrow,
.price-wrap .handler .arrow,
.private-arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 9px;
}

.private-arrow{
    display: none;
    left: 98%;
    margin-top: -6px;
    top: 50%;
}

.price-wrap .handler .arrow{
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
    top: 100%;
}

.popover.top .arrow-pop,
.single-trade .arrow{
    top: 4px;
    left: 50%;
    margin-left: -5px;
    border-width: 0 10px 8px;
}

#sort .arrow-pop{
    left: 20px;
}

#sort.users-sort .arrow-pop{
    left: 40px;
}

#compare.filter-pop .arrow-pop{
    left: 25px;
}

#filters .arrow-pop{
    left: 180px;
}

.popover.top .arrow-pop{
    border-bottom-color: #1c1d22;
}

.private-arrow{
    border-width: 8px;
    border-right-color: #1c1d22;
}

.price-wrap .handler .arrow{
    border-top-color: #369999;
}

.single-trade .arrow{
    border-bottom-color: #fff;
}

.popover.right .arrow-pop{
    top: 50%;
    right: -8px;
    margin-top: -9px;
}

.popover.right .arrow-pop:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
}


/**/


/* icons */

[class^="icon-"],
[class*=" icon-"]{
    background-image: url(../images/css/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    height: 40px;
    width: 40px;
    zoom: 1;
}

.icon-login{
    background-position: 0 -60px;
}

.icon-lang{
    background-position: 0 0;
    text-align: center;
}

.icon-lang img{
    height: 17px;
    margin-top: 11px;
    width: 22px;
}

.icon-tocat{
    background-position: -115px -65px;
    height: 30px;
    width: 30px;
}

.icon-tocart{
    background-position: -110px 0;
}

.table-dark [class^="icon-"],
.table-dark [class*=" icon-"]{
    height: 20px;
    width: 20px;
}

.icon-ok{
    background-position: -160px -151px;
}

.icon-edit{
    background-position: -221px -135px;
}

.icon-file{
    background-position: -221px -182px;
}

.icon-delete{
    background-position: -220px -92px;
}

/*.icon-checkbox{
    background-position: -161px -176px;
    height: 18px;
    width: 24px;
}

.checked .icon-checkbox{
    background-position: -161px -200px;
}*/

input[type="checkbox"].hidden,
input[type="radio"].hidden{
    display: block;
    left: -9999px;
    position: absolute;
}

/*label.custom-checkbox{
    cursor: pointer;
}*/

/**/

/* custom checkbox */

.ti-custom-checkbox .icon-checkbox,
.no-radio+.ti-custom-checkbox.radio .icon-checkbox{
    background-image: url(../images/css/icons.png);
    background-position: -161px -176px;
    display: inline-block;
    *display: inline;
    height: 18px;
    width: 24px;
    zoom: 1;
}

.ti-custom-checkbox.checked .icon-checkbox,
.no-radio+.ti-custom-checkbox.radio.checked .icon-checkbox{
    background-position: -161px -200px;
}

.ti-custom-checkbox.radio .icon-checkbox{
    background-position: -108px -154px;
    width: 18px;
}

.ti-custom-checkbox.radio.checked .icon-checkbox{
    background-position: -131px -154px;
}

.ti-custom-checkbox.checked.disabled .icon-checkbox{
    /*background-position: 0 -75px;*/
}

.ti-hidden{
    left: -9999px;
    position: absolute;
}

label.ti-custom-checkbox{
    cursor: pointer;
}

/**/


/* section colors */

.flea-market .info{
    background-color: #b31717;
}

.trades .info{
    background-color: #04987e;
}

.b2b .info{
    background-color: #980470;
}

.service .info{
    background-color: #047098;
}

/**/



@media screen and (max-width: 980px) {
    #nav-bar{
        float: right;
        position: relative;
    }

    #nav-bar .content{
        right: 15px;
        top: 15px;
    }

    #page{
        float: left;
        overflow: hidden;
        padding: 0;
        width: 910px;
    }
    #footer{
        float: left;
        padding: 0;
    }
    .ajax-pop.pop-search{
        position: absolute !important;
        right: auto !important;
    }
}



/* profile edit */

.col.width_15_pc {
    width: 15% !important;
}

.col.width_25_pc {
    width: 25% !important;
}

.col.width_29_pc {
    width: 29% !important;
}

.col.width_566_pc {
    width: 56.6% !important;
}

.profile_edit.import-container {
    margin-top: 0px;
}

.register-container {
    width: 420px;
}
.new-trade.profile_edit .row, .register-container .row {
    margin: 2px 0;
    width: 100%;
}

.new-trade.profile_edit .col, .register-container .col {
    float: left;
    width: 30%;
}

.new-trade.profile_edit .col+.col,.register-container .col+.col  {
    width: 67%;
}

.profile_edit hr.sep {
    clear: both;
    margin-bottom: 15px;
}


.checker_box {
    padding: 10px 0px;
}

.thmb .btns-set a, .thmb .btns-set label {
    display: block;
    text-align: center;
}



/**/

.home .wrapper {
    /*
    margin: 0 auto;
    padding: 10px 1%;
    width: 98%;
    max-width: 1070px;
    */
    /*
    margin: 0 auto;
    padding: 10px 1%;
    width: 98%;
    max-width: none;
    */
    max-width: none;
}

.sort.aright{background: none !important; display: block !important; padding-left: 15px!important;}
.sort_aright_radio_arrow_top{width: 14px; height: 10px;  position: relative; top:3px; margin:0 -50px 0 0px; background: url(../images/css/catalog_top_arrow.png) no-repeat center !important; cursor:pointer;}
.sort_aright_radio_arrow_bottom{width: 14px; height: 10px; position: relative; top:1px; margin:0 -50px 0 0px; background: url(../images/css/catalog_bottom_arrow.png) no-repeat center !important; cursor:pointer;}
.sort_aright_radio_arrow_top.active{background: url(../images/css/catalog_top_arrow_active.png) no-repeat !important; cursor:pointer;}
.sort_aright_radio_arrow_bottom.active{background: url(../images/css/catalog_bottom_arrow_active.png) no-repeat !important; cursor:pointer;}
.currency_div{height:20px; cursor: pointer}
.currency{position:relative; background: #15191C; left:250px; top:-60px;  display: none;}
.currency_ul{list-style:none; margin:0 0 0 15px;}
.currency_ul>li{}
.currency_ul>li:hover, .currency_ul>li.active{background: #369999;}
.currency_ul>li>label{cursor: pointer; display: block; width:100%; padding:10px;}
.currency_ul input[type="radio"]{opacity: 0;}


.dj_hide_remove{
    cursor:pointer;position: absolute;top: 0;right: 0;
}

.all_width{
width: 100%!important;
}

/* registration */
div.cleaner {
    clear: both;
    float: none;
    height: 0px;
    line-height: 0px;
}

div.registration_wrapper {
    padding: 9px 10px 19px 10px;
}

div.registration_body {
    background: #15191c;
    padding: 20px;
}

div.reg_col_1 {
    width: 360px;
    padding-right: 80px;
    float: left;
}

div.reg_col_2 {
    width: 372px;
    float: left;
}

div.reg_col_2 .form_currency {
    margin:10px 0 20px 0!important;
}

div.reg_col_2 .form_captcha{
    display: inline-block;
    margin:30px 0 10px 0!important;
}

div.reg_col .title {
    width: 140px;
    float: left;
    color: #737577;
    /*line-height: 40px;*/
}

div.reg_col .wide {
    margin-left: 145px;
    /*overflow: hidden;*/
}

div.reg_col .row {
    margin: 10px 0;
    width: 100%;
}

div.reg_col .note {
    color: #05b393;
    margin: -3px 0px 17px 143px;
}

div.reg_col .captcha_note {
    color: #05b393;
    /*margin: -3px 0px 17px 143px;*/
    float: right;
}


.reg_addr_str {
    /*width: 135px;*/
    width: 147px;
    padding-right: 10px;
    float: left;
}

.reg_addr_zip {
    width: 70px;
    float: left;
}
/*div.reg_col .form_language .col.wide, div.reg_col .form_currency .col.wide{*/
    /*overflow: auto;*/
/*}*/


div.reg_col .form_captcha .title {
    margin-top: -17px;
}

div.reg_col .form_captcha .wide {
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
}

div.captcha_block {
    width: 160px;
    height: 40px;
    background: #fff;
    float: left;
    text-align: center;
}

.registration_body img.captcha{
    width: 135px;
    height: 40px;
}
.registration_body #id_captcha_1{
    float: right;
    width: 205px;
}

div.captcha_code {
    margin-left: 170px;
}

div.registration_body div.btns-set {
    clear: both;
    text-align: right;
}
.error{
    color: red;
}
/* end registration */
