*{
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
}

@font-face {
    font-family: "Calibri Light";
    src: url("../fonts/calibril.eot"),
         url("../fonts/calibril.ttf");
    font-weight: normal;
    font-style: normal;
}


html,body{
    height: 100%;
}

body{
    background: #3a4559 url(../images/css/noise.jpg);
    color: #858585;
    font: 16px "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    min-width: 980px;
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;
}

textarea{
    resize: vertical;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"]{
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="button"],
input[type="submit"],
button{
    cursor: pointer;font-family: "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
    background-color: #fff;
    color: #1b1b1b;
    font-family: "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 9px 12px;
}

.container input[type="text"],
.container input[type="tel"],
.container input[type="password"],
.container input[type="email"],
.container input[type="search"],
.container textarea{
    padding: 9px 3%;
    width: 94%;
}

input.search{
    background-image: url(../images/css/icons.png);
    background-repeat: no-repeat;
}

input.placeholder,
textarea.placeholder{
    color: #b8b8b8;
}

::-webkit-input-placeholder{
    color: #b8b8b8;
}

:-moz-placeholder{
    color: #b8b8b8;
}

#page{
    min-height:100%;
    height:auto !important;
    min-width: 910px;
    /*padding-right: 70px;*/
}

.clear{
    display: block;
    height: 70px;
    width: 100%;
}

#header,
.footer-container{
    background-color: #15191c;
    box-shadow: 0px 2px 5px #131619 inset;
}

.wrapper{
    margin: 0 auto;
    padding: 10px 1%;
    width: 98%;
    max-width: 1070px;
}

/*#main .wrapper{*/
    /*padding: 0 1%;*/
/*}*/

#footer{
    height: 70px;
    margin-top: -70px;
    min-width: 910px;
    /*padding-right: 70px;*/
}

.footer-container{
    height: 70px;
}

.aleft{
    float: left;
}

.aright{
    float: right;
}

.o-shell{
    overflow: hidden;
}

.shell{
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.hidden{
    max-height: 0px;
    display: none !important;
}

a{
    color: #8b8c8e;
    text-decoration: underline;
}

a span,
a i{
    *cursor: pointer;
}

a.lnk{
    text-decoration: none;
}

a.lnk:hover{
    text-decoration: underline;
}

h1,
h2,
h3,
h4{
    font-weight: normal;
}


/* navigation bar */

#nav-bar{
    background-color: #15191c;
    height: 100%;
    right: 0;
    position: fixed;
    top: 0;
    *position:absolute;
    *top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
    width: 70px;
    z-index: 500;
}

#nav-bar .content{
    float: right;
    margin: 15px 15px 0 0;
    width: 40px;
}

.s-arrow{
    cursor: pointer;
    display: block;
    height: 40px;
    margin-bottom: 23px;
    width: 40px;
}

.s-arrow.to-bottom{
    background: url(../images/css/icons.png) 0 -119px;
}

.s-arrow.to-top{
    background: url(../images/css/icons.png) 0 -180px;
}

#menu a{
    background-image: url(../images/css/icons2.png);
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    float: right;
    clear: both;
    margin: 0 5px 30px 0;
    text-decoration: none;
    text-indent: -9999px;
    width: 30px;
}

#menu a.catalog{
    background-position: -65px -5px;
}

#menu a.search{
    background-position: -65px -55px;
}

#menu a.private{
    background-position: -65px -99px;
}

#menu a.favorites{
    background-position: -65px -145px;
}

#menu a.feedback{
    background-position: -65px -191px;
}

#menu a.cart{
    background-position: -65px -236px;
}

#menu a.users_ref {
    background-position: -65px -277px;
}
/**/


/* header */

#header .inner.shell{
    width: 100%;
}

.logo{
    background: url(../images/css/logo2.png) no-repeat;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 175px;
}

.h-links{
    margin-top: 5px;
}

.h-links a{
    /*color: #8b8c8e;*/
    color:#b8b8b8;
    font-size: 18px;
    line-height: 40px;
    margin: 0 10px 0 50px;
    text-decoration: none;
}

.h-links .title{
    margin-left: 25px;
}

/**/

/* main blocks */

.promo+.promo{
    margin: 20px 0;
}

.promo h1{
    background-color: #04987e;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 10px;
    padding: 0 20px;
}

/* main slider */

.promo.main-slider{
    height: 310px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#slider-home .item{
    color: #fffefe;
    float: left;
    font-size: 18px;
    height: 310px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#slider-home .desc{
    height: 230px;
    float: left;
    padding: 40px 35px 40px 40px;
    position: relative;
    width: 265px;
}

#slider-home .pict{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    margin-left: 350px;
}

.s-nav{
    background: url(../images/css/icons.png) no-repeat;
    cursor: pointer;
    height: 41px;
    position: absolute;
    top: 10px;
    width: 41px;
}

.s-nav.prev{
    background-position: -109px -108px;
    right: 62px;
}

.s-nav.next{
    background-position: -109px -177px;
    right: 10px;
}

#slider-home h3{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
}

#slider-home .excerpt{
    line-height: 22px;
    max-height: 90px;
    overflow: hidden;
}

#slider-home .item a{
    background-color: #15191c;
    bottom: 50px;
    color: #fffefe;
    left: 40px;
    line-height: 30px;
    padding: 5px 20px 5px 10px;
    position: absolute;
    text-decoration: none;
}

#slider-home .icon-tocat{
    float: left;
    margin-right: 10px;
}

/**/

/* catalog item*/

.catalog-list{
    height: 340px;
    overflow: auto;
}

.cat-item{
    /*box-shadow: 0 0 14px #2e363e;*/
    float: left;
    font-size: 24px;
    height: 313px;
    position: relative;
    width: 204px;
}

.cat-item a{
    color: #fff;
    display: block;
    height: 313px;
    position: relative;
    text-decoration: none;
    z-index: 2;
}

.cat-item+.cat-item{
    margin-left: 10px;
}

.cat-item .thmb{
    background-color: #fff;
    display: table-cell;
    height: 194px;
    padding-top: 10px;
    text-align: center;
    width: 204px;
    vertical-align: middle;
}

.cat-item .img{
    max-height: 184px;
    max-width: 165px;
}

.cat-item .info{
    bottom: 0;
    height: 89px;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 184px;
}

.cat-item h3{
    font-size: 24px;
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
}

.price{
    overflow: hidden;
    padding-right: 15px;
    position: relative;
}

.price.retail{
    color: #e51400;
}

.price.wholesale{
    color: #15191c;
    width:215px;
}

.price_num {
    width:80px;
    margin-right: 5px;
}

.cat-item .price{
    bottom: 12px;
    left: 10px;
    position: absolute;
}

.price .int{
    float: left;
    font-size: 36px;
    line-height: 36px;
    width: 65px;
    text-align: right;
}

.price.wholesale .int{
    font-size: 30px;
    line-height: 30px;
}

.price .fract{
    float: right;
    font-size: 16px;
}

.price .cy{
    bottom: 2px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
}

.price.wholesale .fract,
.price.wholesale .cy{
    font-size: 14px;
}

.add-to-cart{
    background: url(../images/css/icons.png) no-repeat -110px 0;
    display: block;
    height: 40px;
    width: 40px;
}

.cat-item .add-to-cart{
    bottom: 12px;
    height: 40px;
    position: absolute;
    right: 12px;
    z-index: 7;
}

/**/

/* catalog */

.catalog-grid-wrap{
    margin: 0 0 0 -6px;
    overflow: hidden;
    padding: 0 6px;
    width: 100%;
}

.catalog-grid{
    margin: 0 0 5px;
    width: 102%;
}

.catalog-grid .cat-item{
    margin: 5px 0px 0px 0;
    padding:5px
}

.catalog-grid .cat-item.active {
    background: rgba(0,0,0,0.4);
}

.catalog-grid .cat-item+.cat-item{
    margin-left: 0;
}

.cat-item.active .substrate{
    background: url(../images/css/cat-active.png) repeat;
    height: 328px;
    left: -6px;
    position: absolute;
    top: -7px;
    width: 216px;
    z-index: 1;
}

.catalog-grid .single-trade{
    position: relative;
    width: 100%;
    display: block;
    float: left;
}

.catalog-grid .single-trade .single-wrap{
    margin-bottom: 0;
}

.catalog-grid .single-wrap .tab .inner{
    /*height: 420px;*/
    overflow: auto;
}

/**/

/* top users */

.users-top{
    height: 144px;
    overflow: auto;
}

.users-top .item{
    background-color: #fff;
    float: left;
    height: 121px;
    width: 121px;
}

.users-top .item{
    margin-left: 16px;
}

.users-top .item:first-child{
    margin-left: 0;
}

.users-top .item img{
    max-height: 100%;
    max-width: 100%;
}

/**/

/* single trade */

.single-wrap{
    background-color: #fff;
    margin: 10px 0 20px;
    padding: 20px 1.8%;
}

.favorite-item.single-wrap{
    background-color: #15191c;
    margin: 0;
    padding: 0 0 20px 0;
}

.favorite-item.single-wrap+.favorite-item.single-wrap{
    border-top: 1px solid #2f3235;
    padding-top: 20px;
}

.single-wrap .common{
    font-size: 18px;
    margin-bottom: 40px;
}

.favorite-item.single-wrap .common{
    color: #858585;
    margin-bottom: 0;
}

.single-wrap .common a{
    color: #04987e;
    text-decoration: underline;
}

.single-wrap .preview{
    width: 29%;
}

.single-wrap.favorite-item .preview{
    width: 20.5%;
}

.single-wrap.favorite-item .preview img{
    max-width: 100%;
}

.single-wrap div.desc{
    margin: 0 18% 0 32.7%;
}

.single-wrap.favorite-item div.desc{
    margin: 0 19.5% 0 25.6%;
}

.single-wrap .owner{
    max-width: 18.7%;
    text-align: right;
}

.single-wrap.favorite-item .owner{
    max-width: 19.5%;
}

.single-wrap .preview .big{
    text-align: center;
    width: 69%;
}

.single-wrap .preview .big img{
    max-width: 100%;
}

.single-wrap .thumbs{
    width: 24.2%;
}

.single-wrap .thumbs li{
    list-style-type: none;
    margin-bottom: 10px;
}

.single-wrap .thumbs li a{
    display: block;
    text-align: center;
}

.single-wrap .thumbs li img{
    max-width: 100%;
}

.single-wrap .desc h1{
    color: #15191c;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}


.price-group, .product-group{
    margin-bottom: 15px;
}

.price-group .title, .product-group .title{
    font-size: 24px;
    margin: 6px 8px 0 0;
}

.favorite-item .price .cy{
    color: #fff;
}

.favorite-item .price.wholesale{
    color: #fff;
}

.price-group.wholesale .title{
    margin-top: 2px;
    padding-bottom:40px;
}

.status{
    margin-bottom: 20px;
}

.status.instock{
    color: #04987e;
}

.status.notavailable{
    color: #e51400;
}

.single-wrap a.add-to-cart,
.compare-wrap .item a.add-to-cart{
    background: url(../images/css/icons.png) 10px -285px no-repeat;
    color: #fff;
    display: inline-block;
    *display: inline;
    height: 40px;
    line-height: 40px;
    margin-right: 2%;
    padding: 0 20px 0 50px;
    text-decoration: none;
    width: auto;
    zoom: 1;
}

.single-wrap .owner h3{
    color: #15191c;
    font-size: 24px;
    line-height: 24px;
}

.single-wrap.favorite-item .desc h1,
.single-wrap.favorite-item .owner h3,
.single-wrap.favorite-item .desc h1 a,
.single-wrap.favorite-item .owner h3 a{
    color: #fff;
}

.single-wrap.favorite-item .desc h1 a,
.single-wrap.favorite-item .owner h3 a{
    text-decoration: none;
}

.single-wrap.favorite-item .desc h1 a:hover,
.single-wrap.favorite-item .owner h3 a:hover{
    text-decoration: underline;
}

.single-wrap .owner p{
    margin-top: 10px;
}

.single-wrap .owner .single{
    margin: 4px 0 20px;
}

.wrapper .ui-tabs .ui-tabs-nav{
    margin: 0;
    padding: 0;
}


#page .tabs ul{
    list-style-type: none;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius:0;
    border:none;
    background: none;
}

#page .tabs ul li{
    /*background: #15191c;*/
    background: #283036;
    float: left;
    margin:0 1px 0 0;
    padding:0;
    font: 16px "Calibri Light","Trebuchet MS","Helvetica CY",sans-serif;
    border-radius: 0;
    border:none;

}

#page .ui-widget-content {
    border-radius: 0;
    border:none;
    font: 16px "Calibri Light","Trebuchet MS","Helvetica CY",sans-serif;
    color: #555555;
    /*color:#fff;*/
}

#page input.ui-widget-content {
    padding: 9px 3%;
    width: 94%;
}

.private-content{
    min-height: 550px;
}

ul.basket_traders li{
    background-color: #04987e !important;
    /*padding: 12px 10px;*/
font-size: 18px;
}

/*ul.basket_traders li p.treder_name a.aright {*/
    /*float:right !important;*/
/*}*/

#page .tabs li.ui-state-active,
#page .private-content .tabs li.ui-state-active{
    /*background: #283036;*/
    background-color: #04987e;
}

#page .tabs ul a{
    color: #fff;
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    cursor:pointer;
    float:none;

}

.tabs .tab h2,
.single-wrap .promo h2{
    color: #15191c;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.single-wrap .promo{
    margin: 30px 0 10px;
}

.single-wrap .promo .cat-item{
    margin-bottom: 20px;
}

.features{
    width: 100%;
}

.features td{
    text-align: left;
    vertical-align: top;
}

.features td.name{
    color: #000;
    width: 180px;
}

.features tr+tr td{
    padding-top: 25px;
}

.features td.desc{
    padding-left: 30px;
    color: #858585;
}

.catalog-wrap .others-list{
    height: auto;
}

.others-list .cat-item,
.others-list .cat-item a{
    height: auto;
    width: 260px;
}

.others-list .offerer{
    background-color: #15191c;
    overflow: hidden;
    padding: 10px;
}

.others-list .offerer .desc{
    margin-left: 78px;
}

.others-list .thmb{
    border: 1px solid #eaeaeb;
    float: left;
    height: 68px;
    padding: 0;
    width: 68px;
}

.others-list h3{
    max-height: none;
}

.others-list .info{
    height: auto;
    padding: 10px;
    position: relative;
    width: auto;
}

.others-list .address{
    color: #b8b8b8;
    font-size: 18px;
    line-height: 18px;
}

.others-list .price{
    bottom: 2px;
    left: 0;
    position: relative;
}

.others-list .price .int{
    font-size: 32px;
    line-height: 32px;
}

.others-list .price .fract,
.others-list .price .cy{
    font-size: 14px;
}

.others-list table{
    font-size: 18px;
    line-height: 18px;
    width: 100%;
}

.others-list .info .payment li{
    float: right;
    list-style-type: none;
}

.others-list .info .payment li+li{
    margin-right: 10px;
}

.others-list .info .payment img{
    height: 16px;
    width: 16px;
}

.others-list td{
    padding-bottom: 8px;
    vertical-align: top;
}

.others-list td.desc{
    text-align: right;
    width: 100px;
}

/**/

/* users list */

.users-list{
    margin: 11px 0 10px;
}

.user-item{
    background-color: #ffffff;
    padding: 20px 20px 15px;
}

.user-item + .user-item{
    margin-top: 10px;
}

.user-item .thmb{
    float: left;
    line-height: 0;
    width: 180px;
}

.user-item .thmb .img{
    max-width: 100%;
}

.user-item .desc{
    margin-left: 200px;
}

.user-item h3{
    font-size: 30px;
    line-height: 30px;
    margin: 0 20px 5px 0;
}

.user-item h3 a{
    color: #000;
    text-decoration: none;
}

.user-item .advanced{
    border-bottom: 1px solid #d4d6d9;
    margin-bottom: 18px;
    padding-bottom: 20px;
}

.user-item a{
    color: #04987e;
}

.user-item .address{
    margin-bottom: 3px;
}

.user-item .top{
    border-bottom: 1px solid #d4d6d9;
    margin-bottom: 18px;
    padding-bottom: 15px;
}

.user-item .user-links{
    text-align: right;
    width: 30%;
}

.user-item .user-links p.big{
    color: #000;
    font-size: 18px;
    margin: 7px 0 5px;
}

.user-item .user-info h4{
    color: #8a8b8d;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}

.user-item .bottom .user-links{
    margin-top: 35px;
}

.user-item .user-links a{
    margin-bottom: 3px;
}

.user-item .user-info{
    margin-right: 35%;
}

.user-item .excerpt h4{
    color: #000;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 12px;
}

.user-item .excerpt div{
    line-height: 20px;
}

.user-item .excerpt .detail{
    margin-top: 12px;
}

/**/

/* compare */

.compare-wrap{
    margin-bottom: 40px;
}

.compare-wrap .catalog-list{
    height: auto;
    padding-bottom: 30px;
}

.compare-wrap .item{
    background-color: #fff;
    float: left;
    margin-top: 10px;
    width: 350px;
}

.compare-wrap .item+.item{
    margin-left: 10px;
}

.compare-wrap .item .inner{
    padding: 20px;
}

.thmb img{
    max-height: 100%;
    max-width: 100%;
}

.compare-wrap .thmb{
    display: block;
    height: 200px;
    margin: 30px 0;
    text-align: center;
}

.compare-wrap .thmb img{
    max-height: 200px;
    max-width: 100%;
}

.compare-wrap .item h2 a,
.compare-wrap .item h3{
    color: #15191c;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
}

.compare-wrap .item h2{
    margin-bottom: 5px;
}

.compare-wrap .item h3{
    font-weight: normal;
    margin: 14px 0;
}

.compare-wrap .price-group.wholesale,
.compare-wrap .status{
    margin-bottom: 10px;
}

.compare-wrap .feature-item+.feature-item{
    margin-top: 20px;
}

.compare-wrap .feature-item h4{
    color: #000;
    font-size: 16px;
    margin-bottom: 2px;
}

/**/

/* private */

#page .private-wrap{
    margin: 10px 0 20px;
    position: relative;
    width: 100%;
    border-radius: 0;
    border:none;
    background: none;
    padding:0;
}

#page .private-tabs{
    list-style-type: none;
    width: 22.4%;
   -wibkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:none;
    background: none;
}

#page .private-tabs li{
    background: #15191c;
    position: relative;
    border:none;

    font: 16px "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    float:none;
    margin:10px 0 0 0;
    -wibkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}

#page .private-tabs li:first-child {
    margin-top:0;
}

#page .private-tabs li.ui-state-active{
    background-color: #04987e;

    padding:0;
    float:none;
}

.private-tabs li+li{
    margin-top: 10px;
}

#page .private-tabs li a{
    color: #fffefe;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    /*padding-left: 20px;*/
    padding:0 0 0 20px;
    text-decoration: none;
    cursor:pointer;
    float:none;
    border:none;
    background: none;
}

#page .private-content,#page .profile-content{
    background-color: #15191c;
    font-size: 18px;
    color: #fff;
    margin-left: 23.4%;
    font: 16px "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    padding:0;
}

.profile-content{
    margin-left: 0 !important;
}


.private-content .inner,.profile-content .inner{
    padding: 20px 2.4%;

}

.private-content .tab .inner{
    padding: 10px 0 0;
}

#page .data-content{
    font-size: 18px;
}

.data-content .thmb{
    width: 180px;
}

.data-content .m-side{
    margin-left: 200px;
}

.data-content h3{
    color: #f7f7f7;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 12px;
}

.data-content .excerpt,
.data-content .title{
    color: #737577;
}

.data-content .row{
    margin-top: 10px;
}

.data-content .row .title{
    margin-bottom: 10px;
}

.data-content .row .title.aleft{
    margin-bottom: 0;
}

.data-content .row .title.aleft+.desc{
    margin-left: 190px;
}

.data-content p+p{
    margin-top: 22px;
}

.orders-tab .item .title{
    cursor: pointer;
    padding: 10px;
}

.orders-tab .item h3,
.orders-tab .item .title{
    font-size: 18px;
}

.orders-tab .item .title .total-price{
    color: #04987e;
    margin-right: 60px;
}

.orders-tab .item.open{
    margin-bottom: 10px;
}

.orders-tab .item.open h3{
    font-size: 24px;
}

.orders-tab .item.open .title .date{
    font-size: 16px;
}

.orders-tab .item.open .title .total-price{
    display: none;
}

.orders-tab .item .content, .item .content{
    border-bottom: 1px solid #28292e;
    display: none;
    padding: 10px 0 20px;
}

.import-container .item .content{
    display: none;
}

.orders-tab .item.open .content,
.import-container .item.open .content, .item.open .content{
    display: block;
}

.orders-tab .item .description .set{
    font-size: 16px;
    margin: 30px 0 0 20px;
}

.orders-tab .item .description .o-shell+.o-shell{
    margin-top: 12px;
}

.orders-tab .item .description .aleft+.aleft{
    color: #04987e;
    margin-left: 5px;
}

.orders-tab .item .description .address .aleft{
    color: #fff;
}

.btns-set{
    margin-top: 10px;
}

.btns-set .aright+.aright{
    margin-right: 20px;
}

.table-dark{
    border-spacing: 0;
    width: 100%;
}

.table-dark th,
.table-dark td{
    font-size: 16px;
    padding: 13px 10px;
    text-align: left;
}

.table-dark th{
    background-color: #28292e;
    color: #fff;
    font-weight: normal;
}

.table-dark th+th,
.table-dark td+td{
    border-left: 1px solid #15191c;
}

.table-dark td{
    background-color: #fff;
    border-top: 1px solid #15191c;
    color: #15191c;
}

.table-dark.table-orders .name,
.table-dark.table-orders .amount{
    width: 26%;
}

.table-dark.table-orders .sum{
    width: 24%;
}

.table-dark .action a{
    margin: 0 8px 0 8px;
}

.tab#import-trade{
    font-size: 18px;
}

.tab#import-trade h3{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
}

.import-container{
    margin-top: 30px;
}

.import-container h3{
    background: url(../images/css/icons.png) no-repeat 0 -393px;
    cursor: pointer;
    padding-left: 25px;
}

.import-container .open h3{
    background: url(../images/css/icons.png) no-repeat 0 -427px;
}

.import-container .item+.item{
    margin-top: 15px;
}

.import-container .item .row+.row,
.import-container .item .row .row{
    margin-top: 35px;
}

.import-container .item .title{
    color: #737577;
    width: 200px;
}

.import-container .item .controllers{
    margin-left: 220px;
}

.import-container .item .controllers .col{
    float: left;
    width: 29.7%;
}

.import-container .item .controllers .col p+p{
    margin-top: 15px;
}

.import-container .item .controllers .col+.col{
    margin-left: 5%;
}

.import-container .item .controllers .icon-checkbox{
    float: left;
    margin-top: 3px;
}

.table-trades th.check_all,
.table-trades td.check_all{
    width: 20px!important;
}

.table-trades .action{
    width: 120px;
}

.table-trades .pos{
    text-align: center;
}

.private-content .tab h3{
    font-size: 24px;
    margin-bottom: 15px;
}

.new-trade .row{
    margin: 10px 0;
    width: 100%;
}

.new-trade .col{
    float: left;
    width: 25.8%;
}

.new-trade .col.small-col{
    float: left;
    width: 6%;
}

.new-trade .col_large{
    float: left;
    width: 45%;
}


.new-trade .col.title{
    color: #737577;
    line-height: 40px;
}

.new-trade .col+.col{
    margin-left: 2.6%;
}

.new-trade .col_large+.col_large{
    margin-left: 2.6%;
}

.new-trade select,
.new-trade .c-sel{
    width: 100% !important;
}

.new-trade .col.wide{
    float: none;
    margin: 0 0 0 28.4%;
    width: auto;
}

.add-row{
    background: url(../images/css/icons.png) no-repeat 0 -399px;
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 10px 0 0 2.6%;
    width: 15px;
}

.icon-false{
    background: url(../images/css/icons.png) no-repeat 0 -432px;
}

.del-row, .delete-row  {
    background: url(../images/css/icons.png) no-repeat 0 -432px;
    cursor: pointer;
    float: left;
    height: 15px;
    margin: 10px 0 0 2.6%;
    width: 15px;
}

/**/

/* auth form */

.login-container{
    color: #fff;
    width: 390px;
}

.login-container form{
    border-bottom: 1px dotted #5c5e61;
    font-size: 14px;
    padding-bottom: 10px;
    width: 100%;
}

.login-container input[type="text"],
.login-container input[type="password"]{
    width: 166px;
}

.login-container a{
     color: #fff;
}

.login-container .links-set{
    margin-top: 20px;
}

.login-container .links-set span{
    color: #fff;
    padding: 0 5px;
}

.social-set{
    padding-top: 10px;
    width: 100%;
}

.social-set a{
    margin-left: 12px;
}

.data-content .social-list a{
    margin-right: 12px;
}

.data-content hr.sep{
    background-color: #2d3033;
    height: 1px;
    margin-top: 15px;
}

.data-content .row h3{
    font-size: 24px;
}

/**/

/* settings form */

.settings-container{
    width: 390px;
}

.settings-container div.shell{
    margin-bottom: 10px;
}

.settings-container .custom-sel{
    width: 390px;
    border:3px solid rgb(21, 25, 28);
}

.settings-container .custom-sel.two-col{
    width: 190px;
}

.settings-container .custom-sel.lang{
    margin-right: 6px;
}

.search-container .ui-multiselect{
    float: right;
    margin-right: 10px;
    width: 190px !important;
}

.search-container input.search{
    background-position: right -345px;
}

/**/

/* search form*/

.search-container{
    width: 800px;
}

.search-container input.search{
    margin: 0 0 0 0;
    width: 376px;
}

.search-container .multiSelect{
    width: 145px;
}

/**/

.a-header .wrapper{
    line-height: 0;
    position: relative;
    *z-index: 1000;
}

#page .a-header .inner{
    line-height: normal;
    width: 100%;
}

.a-header,
.pagination-wrap{
    background-color: #04987e;
    color: #fff;
    height: 20px;
    font-size: 18px;
    margin-bottom: 1px;
    padding: 20px 0;
}

#page .a-header a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}
.pagination-wrap a span{
    color: #ffffff;
}

.breadcrumbs h1{
    font-size: 24px;
    line-height: 24px;
    margin-top: -2px;
}

.a-header a.crumb:hover{
    text-decoration: underline;
}

.crumb{
    float: left;
    margin-right: 8px;
}

.divider{
    background: url(../images/css/icons.png) no-repeat -163px -133px;
    float: left;
    height: 9px;
    margin-top: 8px;
    width: 4px;
}

.divider+.crumb{
    margin-left: 8px;
}

/* filters */

.filters-wrap{
    margin-right: 10px;
}

.sort,
.filters{
    background-image: url(../images/css/icons.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.sort{
    background-position: -225px 0;
}

.filters{
    background-position: -225px -42px;
    margin-left: 40px;
}

.popover.filter-pop{
    top: 180%;
}

.popover.filter-pop.users-sort{
    top: 172%;
}

.popover.filter-pop .inner-pop{
    box-shadow: 0 0 4px #222934;
}

.filter-pop label.custom-checkbox{
    display: block;
}

.filter-pop .icon-checkbox{
    float: right;
    margin-left: 7px;
}

.filter-pop p+p{
    margin-top: 20px;
}

.filter-content{
    width: 250px;
}

.filter-content .set{
    margin-bottom: 20px;
}

.filter-content .switch-group label{
    background-color: #28292e;
    cursor: pointer;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 26px;
}

.filter-content .switch-group label:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.filter-content .switch-group label:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.filter-content .switch-group label.active{
    background-color: #04987e;
}

.filter-content .switch-group label.mid{
    padding: 0 8px;
}

.filter-content .switch-group label+label{
    border-left: 1px solid #000;
}

.filter-content .set+.set{
    background: url(../images/css/set-sep.png) repeat-x 0 0;
    padding-top: 20px;
}

.filter-pop h3{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
}

.price-wrap{
    padding-top: 35px;
    position: relative;
}

.price-wrap .handler, .pager_slide_wrap .handler{
    left: -100%;
    position: absolute;
    top: -30px;
}
.pager_slide_wrap .handler{
    left: -30%;
}

#catalog_pager .handler{
    left: -50%;
}

#page .price-wrap .handler .inner, #page .pager_slide_wrap .handler .inner{
    background-color: #04987e;
    border-radius: 8px;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    text-align: center;
    width: auto;
    font: 16px "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
}

#page .pager_slide_wrap .handler div.inner {
    background-color: #000;
}

.ui-slider{
    background-color: #060708;
    border: 1px solid #1c2023;
    border-radius: 5px;
    height: 6px;
    position: relative;
    width: 100%;
    z-index: 20;
}

.ui-slider-range{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47cccc, endColorstr=#287272);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#47cccc, endColorstr=#287272)";
    background-image: linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -o-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -moz-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -webkit-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);
    background-image: -ms-linear-gradient(bottom, rgb(40,114,114) 18%, rgb(71,204,204) 65%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(40,114,114)),
        color-stop(0.65, rgb(71,204,204))
    );
    height: 100%;
    position: absolute;
    z-index: 5;
}

#page .ui-slider-handle{
    background: url(../images/css/icons.png) no-repeat -223px -77px;
    height: 12px;
    position: absolute;
    top: -3px;
    width: 12px;
    z-index: 10;
    border:none;
}

#page .popover{
    font-size: 18px;
}

.users-sort input.search{
    background-position: right -345px;
    padding: 9px 12px;
    width: 60%;
}

.users-sort .f-toggle{
    margin-top: 10px;
    width: 35%;
}

.switcher{
    background: url(../images/css/icons.png) no-repeat -197px -157px;
    cursor: pointer;
    height: 21px;
    margin: 2px 3% 0;
    position: relative;
    width: 41px;
}

.switcher .switch{
    background: url(../images/css/icons.png) no-repeat -222px -115px;
    height: 16px;
    left: auto;
    position: absolute;
    right: 3px;
    top: 2px;
    width: 16px;
}

.switcher .switch.open{
    left: 3px;
    right: auto;
}

.sort-tab{
    display: none;
    /*overflow: hidden;*/
    min-height: 100px;
}

.sort-tab.open{
    display: block;
}

.sort-tab .col{
    width: 20%;
}

.sort-tab .select-set{
    margin-top: 5px;
    width: 53%;
}

.sort-tab .select-set .col{
    width: 48%;
}

.sort-tab .col+.col{
    margin-left: 2%;
}

.sort-tab .select-set .col+.col{
    margin-right: 2%;
}

.sort-tab .select-set p+p{
    margin-top: 10px;
}

.sort-tab .col h4{
    font-size: 18px;
    margin-bottom: 10px;
}

.sort-tab .col .icon-checkbox{
    float: left;
    margin: 2px 4px 0 0;
}

.sort-tab#alphabet{
    font-size: 18px;
    padding: 10px 0 10px;
    text-transform: uppercase;
}

.sort-tab .alphabet ul{
    float: left;
}

.sort-tab ul.alphabet li{
    float: left;
}

.sort-tab .alphabet li{
    cursor: pointer;
    list-style-type: none;
    margin: 0 40px 10px 0;
    padding: 3px 5px;
}

.sort-tab .alphabet li.active{
    border: 1px solid #fff;
    padding: 2px 4px;
}

#compare.popover .inner-pop{
    width: 252px;
}

.compare,
.add-compare{
    padding-left: 25px;
}

.compare{
    background: url(../images/css/icons.png) no-repeat -195px -208px;
    margin-left: 35px;
}

.add-compare{
    background: url(../images/css/icons.png) no-repeat -195px -183px;
}

/**/

/* pagination */

.pagination-wrap{
    bottom: 71px;
}

.pagination{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    /*overflow: hidden;*/
}

.pagination span{
    float: left;
}

.pagination a{
    color: #ffffff!important;
    /*float: left;*/
    margin-left: 32px;
    padding: 0 4px;
    text-decoration: none;
    display: inline-block;
}

.pagination a:hover,
.pagination a.current{
    background-color: #15191c;
}

.pagination .next,
.pagination .prev{
    background-image: url(../images/css/icons.png);
    height: 20px;
    padding: 0;
    width: 10px;
}

.pagination .next:hover,
.pagination .prev:hover{
    background-color: transparent;
}

.pagination .next{
    background-position: -178px -124px;
}

.pagination .prev{
    background-position: -189px -124px;
}

/**/

/**/


/*footer*/

#footer{
    color: #fff;
    font-size: 18px;
}

.f-menu, .h-menu{
    margin-top: 15px;
}

.f-menu li, .h-menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

.f-menu a, .h-menu a{
    color: #fff;
    padding: 0 10px;
}

.f-social a,
.f-social span{
    float: right;
    line-height: 50px;
    margin-right: 10px;
}

.f-social span{
    margin-left: 10px;
}

.f-social a{
    background: url(../images/css/icons.png) no-repeat;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}

.f-social a.fb{
    background-position: -163px 0;
}

.f-social a.twitter{
    background-position: -163px -64px;
}

/**/


/* buttons */

.green-btn,
.purple-btn,
.grey-btn{
    background-color: #04987e;
    color: #fff;
    display: inline-block;
    *display: inline;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 27px;
    text-decoration: none;
    zoom: 1;
}

.purple-btn{
    background-color: #431f55;
}

.grey-btn{
    background-color: #28292e;
}

.btns-set .green-btn,
.btns-set .grey-btn{
    padding: 0 20px;
}

/*.import-container .btns-set{*/
    /*margin-top: 20px;*/
/*}*/

.custom-file{
    left: -9999px;
    position: absolute;
}

/**/


/* raiting */

.raiting {
    background: url(../images/css/raiting.png);
    width: 80px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.raiting div {
    background: url(../images/css/raiting.png) left center;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.raiting span {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../images/css/raiting.png) 0 100%;
    width: 0;
    cursor: pointer;
}

.raiting.disabled span{
    cursor: default;
}

/**/


/* popover */

.popover{
    display: none;
    font-size: 18px;
    position: absolute;
    z-index: 1000;
}

.popover.top{
    padding-top: 10px;
}

.popover.right{
    padding-right: 10px;
}

.popover .inner-pop{
    padding: 10px;
}

.popover.filter-pop .inner-pop{
    padding: 20px 15px;
}

.popover .inner-pop{
    background-color: #15191c;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.popover.users-sort .inner-pop{
    display: block;
}

.popover .arrow-pop,
.single-trade .arrow,
.price-wrap .handler .arrow,
.pager_slide_wrap .handler .arrow,
.private-arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 9px;
}

.private-arrow{
    display: none;
    left: 98%;
    margin-top: -6px;
    top: 50%;
}

.price-wrap .handler .arrow, .pager_slide_wrap .handler .arrow {
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
    top: 100%;
}

.popover.top .arrow-pop,
.single-trade .arrow{
    top: 4px;
    left: 50%;
    margin-left: -5px;
    border-width: 0 10px 8px;
}



#sort.users-sort .arrow-pop{
    left: 40px;
}

#compare.filter-pop .arrow-pop{
    left: 25px;
}

#filters .arrow-pop{
    left: 180px;
}

.popover.top .arrow-pop{
    border-bottom-color: #1c1d22;
}

.private-arrow{
    border-width: 8px;
    border-right-color: #1c1d22;
}

.price-wrap .handler .arrow{
    border-top-color: #04987e;
}

.pager_slide_wrap .handler .arrow{
    border-top-color: #000;
    margin-top:-1px;
}

.single-trade .arrow{
    border-bottom-color: #fff;
}

.popover.right .arrow-pop{
    /*top: 50%;*/
    top:30px;
    right: -8px;
    margin-top: -9px;
}

.popover.right .arrow-pop:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
}


/**/


/* icons */

[class^="icon-"],
[class*=" icon-"]{
    background-image: url(../images/css/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    height: 40px;
    width: 40px;

    zoom: 1;
}

.browsing {
    background-image: url(../images/css/browsing-icon.png);
    display: inline-block;
    width: 18px;
    height: 18px;
}

.icon-delete.small {
    width: 20px;
    height:20px;
}

.icon-edit.small {
    width: 20px;
    height:20px;
}

.icon-login{
    background-position: 0 -60px;
}

.icon-lang{
    background-position: 0 0;
    text-align: center;
}

.icon-lang img{
    height: 17px;
    margin-top: 11px;
    width: 22px;
}

.icon-tocat{
    background-position: -115px -65px;
    height: 30px;
    width: 30px;
}

.icon-tocart{
    background-position: -110px 0;
}

.table-dark [class^="icon-"],
.table-dark [class*=" icon-"]{
    height: 20px;
    width: 20px;
}

.icon-ok, .icon-true{
    background-position: -160px -151px;
}

.icon-edit{
    background-position: -221px -135px;
}

.icon-file{
    background-position: -221px -182px;
}

.icon-delete{
    background-position: -220px -92px;
}

.socials_row .col.width_29_pc {
    width: 170px !important;
}

.socials_row  .col.width_25_pc {
    width: 155px !important;
}


/*.icon-checkbox{
    background-position: -161px -176px;
    height: 18px;
    width: 24px;
}

.checked .icon-checkbox{
    background-position: -161px -200px;
}*/

input[type="checkbox"].hidden,
input[type="radio"].hidden{
    display: block;
    left: -9999px;
    position: absolute;
}

/*label.custom-checkbox{
    cursor: pointer;
}*/

/**/

/* custom checkbox */

.ti-custom-checkbox .icon-checkbox,
.no-radio+.ti-custom-checkbox.radio .icon-checkbox{
    background-image: url(../images/css/icons.png);
    background-position: -161px -176px;
    display: inline-block;
    *display: inline;
    height: 18px;
    width: 24px;
    zoom: 1;
}

.ti-custom-checkbox.checked .icon-checkbox,
.no-radio+.ti-custom-checkbox.radio.checked .icon-checkbox{
    background-position: -161px -200px;
}

.ti-custom-checkbox.radio .icon-checkbox{
    background-position: -108px -154px;
    width: 18px;
}

.ti-custom-checkbox.radio.checked .icon-checkbox{
    background-position: -131px -154px;
}

.ti-custom-checkbox.checked.disabled .icon-checkbox{
    /*background-position: 0 -75px;*/
}

.ti-hidden{
    left: -9999px;
    position: absolute;
}

label.ti-custom-checkbox{
    cursor: pointer;
}

/**/


/* section colors */

.flea-market .info, .categories_title.flea-market .title_bg{
    background-color: #b31717;
}

.trades .info, .categories_title.trades .title_bg{
    background-color: #04987e;
}

.b2b .info, .categories_title.b2b .title_bg{
    background-color: #980470;
}

.service .info, .categories_title.service .title_bg{
    background-color: #047098;
}

.other .info, .categories_title.other .title_bg{
    background-color: #FF9200;
}


/**/



@media screen and (max-width: 980px) {
    #nav-bar{
        float: right;
        position: relative;
    }

    #nav-bar .content{
        right: 15px;
        top: 15px;
    }

    #page{
        float: left;
        overflow: hidden;
        padding: 0;
        width: 910px;
    }
    #footer{
        float: left;
        padding: 0;
    }
    .ajax-pop.pop-search{
        position: absolute !important;
        right: auto !important;
    }
}



/* profile edit */

.col.width_15_pc {
    width: 15% !important;
}

.col.width_25_pc {
    width: 25% !important;
}

.col.width_29_pc {
    width: 29% !important;
}

.col.width_566_pc {
    width: 85% !important;
}

.profile_edit.import-container {
    margin-top: 0px;
}

.register-container {
    width: 420px;
}
.new-trade.profile_edit .row, .register-container .row {
    margin: 2px 0;
    width: 100%;
}

.new-trade.profile_edit .col, .register-container .col {
    float: left;
    width: 30%;
}

.new-trade.profile_edit .col+.col,.register-container .col+.col  {
    width: 67%;
}

.profile_edit hr.sep {
    clear: both;
    margin-bottom: 15px;
}


.checker_box {
    padding: 10px 0px;
}

.thmb .btns-set a, .thmb .btns-set label {
    display: block;
    text-align: center;
}



/**/

.home .wrapper {
    /*
    margin: 0 auto;
    padding: 10px 1%;
    width: 98%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 10px 1%;
    width: 98%;
    max-width: none;
    */
    max-width: none;
}

.landscape .wrapper{
    max-width: none;
}

.sort.aright{background: none !important; display: block !important; padding-left: 15px!important;}
.sort_arrow_item{display: block;}
.sort_aright_radio_arrow_top{display: block; width: 14px; height: 10px;  position: relative; top:3px; margin:0 -50px 0 0px; background: url(../images/css/catalog_top_arrow.png) no-repeat center !important; cursor:pointer;}
.sort_aright_radio_arrow_bottom{display: block; width: 14px; height: 10px; position: relative; top:1px; margin:0 -50px 0 0px; background: url(../images/css/catalog_bottom_arrow.png) no-repeat center !important; cursor:pointer;}
.sort_aright_radio_arrow_top.active{display: block; background: url(../images/css/catalog_top_arrow_active.png) no-repeat !important; cursor:pointer;}
.sort_aright_radio_arrow_bottom.active{display: block; background: url(../images/css/catalog_bottom_arrow_active.png) no-repeat !important; cursor:pointer;}
.currency_div{height:20px; cursor: pointer}
.currency{position:relative; background: #15191C; left:250px; top:-60px;  display: none;}
.currency_ul{list-style:none; margin:0 0 0 15px;}
.currency_ul>li{}
.currency_ul>li:hover, .currency_ul>li.active{background: #369999;}
.currency_ul>li>label{cursor: pointer; display: block; width:100%; padding:10px;}
.currency_ul input[type="radio"]{opacity: 0;}


.dj_hide_remove{
    cursor:pointer;position: absolute;top: 0;right: 0;
}

.all_width{
width: 100%!important;
}

/* registration */
div.cleaner {
    clear: both;
    float: none;
    height: 0px;
    line-height: 0px;
}

div.registration_wrapper {
    padding: 9px 10px 19px 10px;
}

div.registration_body {
    background: #15191c;
    padding: 20px;
}

div.reg_col_1 {
    width: 500px;
    padding-right: 20px;
    float: left;
}

div.reg_col_2 {
    width: 485px;
    float: left;
}

div.reg_col_2 .form_currency {
    margin:10px 0 20px 0!important;
}

div.reg_col_2 .form_captcha{
    display: inline-block;
    margin:30px 0 10px 0!important;
}

div.reg_col .title {
    width: 165px;
    float: left;
    color: #737577;
    /*line-height: 40px;*/
}

div.reg_col .wide {
    margin-left: 170px;
    /*overflow: hidden;*/
}

div.reg_col .row {
    margin: 10px 0;
    width: 100%;
}

div.reg_col .note {
    color: #05b393;
    margin: -3px 0px 17px 143px;
}

div.reg_col .captcha_note {
    color: #05b393;
    /*margin: -3px 0px 17px 143px;
    float: right;*/
    width: 200px;
    display: block;
}


.reg_addr_str {
    /*width: 135px;*/
    width: 215px;
    padding-right: 10px;
    float: left;
}

.reg_addr_zip {
    width: 90px;
    float: left;
}
/*div.reg_col .form_language .col.wide, div.reg_col .form_currency .col.wide{*/
    /*overflow: auto;*/
/*}*/


div.reg_col .form_captcha .title {
    margin-top: -17px;
}

div.reg_col .form_captcha .wide {
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
}

div.captcha_block {
    width: 160px;
    height: 40px;
    background: #fff;
    float: left;
    text-align: center;
}

.registration_body img.captcha{
    width: 135px;
    height: 40px;
    margin-bottom: 10px;
}
.registration_body #id_captcha_1{
    float: right;
    width: 205px;
    margin-top:0;
}

div.captcha_code {
    margin-left: 170px;
}

div.registration_body div.btns-set {
    clear: both;
    text-align: right;
}
.error{
    color: red;
}
/* end registration */


/* ----------------------------------------------------------------------- */

.wrap_selectable.aright {
    margin-right: 5px;;
}


.wrap_selectable.aright input{
    padding:9px 5px;
    width:185px;
    margin-bottom:0;
    border:none;

}

.wrap_selectable.aright a {
    background: url(../images/css/icons.png) no-repeat -190px -227px;
    width: 30px;
    height: 40px;
    border:none;
}

.wrap_selectable.aright a span {
   background: none;
}

.tabs.ui-tabs.ui-widget.ui-widget-content {
    background: none;
}

.ui-tabs-active.ui-state-active .private-arrow {
    display:block;
}

.private-content .inner {
    min-height: 300px;
}

.wrap_selectable.aright {
    width:195px;
}

.wrap_selectable.aright ul {
    font: 16px "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    color:#6F6F6F;
}

.wrap_selectable.aright ul a {
    background: url(../images/css/icons.png) no-repeat -223px -93px;
    width: 15px;
    height: 18px;
}

.wrap_selectable.aright ul .selectable-deck-item{
    padding:5px 3px;
}

.filter_settings .popover{
    position:absolute;
    background: #15191c;
    width: 245px;
    padding: 18px;
    margin: 0 0 0 -297px;
    box-shadow: 0 0 4px #222934;
    display:none;
    overflow-y: auto;
    top:10px;
}

.filter_settings .set{
    cursor: pointer;
}

.filter_settings .set span{
    display:inline-block;
    background: url(../images/css/icons.png) -190px -131px no-repeat;
    width: 10px;
    height: 12px;
    margin: 0 10px 0 0;

}
.filter_settings .popover ul{
    list-style: none;
}

#page .col.wide input {
    color: #1b1b1b;
    font-family: "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 18px;
}

ul.ui-autocomplete{
    z-index: 1000;
}
.ui-widget-content a {
    color:#8b8c8d;
}

.private-content .col textarea {
    font-family: "Calibri Light", "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size:18px;
}

.comment_vote_container {
    color:#C73B3B;
}

.comment_vote_container textarea {
    /*border:10px solid #15191c;*/
    background:#eeeeee;
    resize:none;
}

.comment_vote_container div.shell {
    display:block;
    width:54%;
}

#product-comment-vote-form input[type=submit] {
    background: #04987e;
    color: #fff;
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
}

div.rateit-reset {
    display:none !important;
}

#registration-form .title span {
    /*color:#EEEEEE;*/
}

#registration-form .form_captcha .separate {
    clear:none;
}

#map-canvas {
    color: #000000;
}
.mark-form-container{
    display: block;
    width: 515px;

    position: absolute;
    margin: 0 auto;
    /*top: 25%;*/
    background:rgba(100,100,100,0.6);
    z-index: 9;
    height:470px;

    padding-top:130px;
    padding-left:265px;
}
#create-mark-form{
    background: #000;
    width: 300px!important;
    /*height: 100px!important;*/
    color: #fff;
    padding: 10px;
}

#create-mark-form select {
    width:95%;
}

#create-mark-form .map_type_mark_conteiner, #create-mark-form .map_button_conteiner {
    padding: 0 2% 3%;

}

#create-mark-form .map_type_mark_conteiner {
    width: 100%;
}

.mark-form-container p {
    background: #15191C;
    color:#fff;
    padding: 5px;

}

.mark-form-container input[type=text], .mark-form-container textarea{
    resize:none;
    border: 5px solid #15191C;
    width:272px;
    margin-bottom: 0;
}

.mark-form-container input[type=submit] {
    color:#fff;
    background-color: #04987E;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}

.mark-form-container i.select-mark {
    border: 5px solid #15191C;
    display:block;

}

.mark-form-container div.error {
    background: #15191C;

}

.mark-form-container div.error ul.errorlist {
    margin-left: 30px;
}

.mark-form-container .hide-mark-form-container {
    float:right;
    background-color:  #283036;
    color: #FFFFFF;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}

.pager_slide_wrap {
    display: inline-block;
    width:250px;
    margin: 0 -20px 0 20px;
    vertical-align: middle;
}

.masseger_num {
    display: inline-block;
    background: #d00505;
    padding: 9px;
    height: 11px;
    line-height: 10px;
    margin-left:10px;
}

.tabs1 ul a {
    color: #fff;
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}

.tabs1 ul li {

    background: #283036;
    float: left;
    margin-right: 1px;
}

.tabs1 ul li {

}

.tabs1 ul {
    list-style-type: none;
    margin-bottom: 30px;
    overflow: hidden;

}

li.active_li {
    background-color: #04987e !important;
}

.stom-check input{
    opacity:0;
    filter: alpha(opacity=0);
    height: 18px;
    width: 24px;
    cursor:pointer;
}

.stom-check {
    background: url(../images/css/icons.png) no-repeat;
    background-position: -161px -176px;
    display: inline-block;
    height: 18px;
    width: 24px;
}

.stom-checked {
    background-position: -161px -200px;
}

.massenger_content .stom-check {
    margin:4px 0 0 0
}

.massenger_content p {
    padding:5px 0;
}

.buttom_massenger {
    padding:10px 0 0;
}

.buttom_massenger input {
    color: #fff;
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    float:left;
    margin-right:10px;
    background-color: #04987e;
    border:none;

}

.feedback_container {
    /*background:#99d106;*/
    width:300px;
    /*height:265px;*/
    /*padding:10px;*/
    /*position:absolute;margin: 215px 0 0 -348px;*/
    /*display:none;*/
}

.pop-feedback .arrow-pop {

    top: 30px !important;

}

.pop-feedback input[type=text], .pop-feedback textarea, .feedback_container  textarea,  .feedback_container input[type=text],
.feedback_wind input[type=text], .feedback_wind textarea, .feedback_wind input[type=email] {
    width:270px;
}

.pop-feedback textarea, .feedback_container  textarea {
    height:100px;
    resize:none;
}

.pop-feedback input[type=submit] {
    background:#739e05;
    color:#fff;
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    float: right;
    margin-right: 7px;
    margin-top: -4px;
}

/* cart popup */

.cart-container {
    color: #fff;
}

.popup_title {
    background: #431f55;
    font-size: 18px;
    color: #fff;
    margin: -10px -10px 0px -10px;
    padding: 6px 16px;
    text-transform: uppercase;
}

.cart_popup_box {
    width: 286px;
    color: #fff;
    padding: 7px 0px 0px 0px;
    max-height: 300px;
overflow-y: auto;
}

.cart_popup_box li {
    background: url("../images/css/cart_popup_row.png") repeat-x left bottom;
    padding: 8px 9px;
}

.cart_popup_box li img {
    vertical-align: top;
}

div.popup_product_image,
div.cart_popup_box .price {
    float: left;
}

div.popup_product_info {
    margin-left: 82px;
}

div.popup_product_name {
    font-size: 18px;
    line-height: 18px;
}

div.popup_product_short {
    font-size: 14px;
    line-height: 18px;
}

div.cart_popup_box .price {
    margin-top: -7px;
}

div.cart_popup_box .price .int {
    font-size: 25px;
}

div.cart_popup_box .price .fract,
div.cart_popup_box .price .cy {
    font-size: 12px;
    font-weight: normal;
}

div.cart_popup_box .price .fract {
    margin-top: 6px;
}

div.cart_popup_box .price .cy {
    right: 10px;
    bottom: 7px;
}

div.cart_popup_totals {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: right;
    padding: 3px 0px 1px 0px;
}

div.cart_popup_totals span {
    font-weight: bold;
}

.popup_messages_container{
    display: none;
}

.pop_up.mess{
    margin: -100px;
}

.messages_container{
    z-index: 1000;
    margin: 0 auto;
    max-width: 1070px;
    width: 25%;
    min-height: 50px;
    background: none repeat scroll 0 0 #15191C;
    padding: 10px;
    color:#fff;
}

.messages_container .popup_mess_close{
    margin:0 0 10px 10px;
}

.messages{
    padding: 9px 10px 19px;

}

/* catalog settings */

.catalog_settings_wind {
    background:#000000;
    width:900px;
    height:265px;
    padding:10px;
    left: 50%;
    margin: -140px 0 0 -460px;
    position: absolute;
    top: 50%;
    display:none;
}



/* доработки mic --------------------------------- */

#profile_filter {
    left: 0;
    padding: 10px 1% 0;
    width: 98%;
    max-width: 1070px;
    margin: 0 auto;
    right:0 !important;

}

#profile_filter .sort-tab .custom-sel {
	width:200px;
}

#profile_filter .arrow-pop{
    left: 93% !important;
}

.otzivi h2, .user_unit h2 {
	background-color: #04987e;
	color: #fff;
	font-size: 30px;
	line-height: 60px;
	margin: 10px 0;
	padding: 0 20px;
	font-weight: normal;
}

.otziv_content {
	margin-left:200px;
	padding:10px
}

.otziv_unit img {
	float:left;
	max-width:180px;
	max-height:180px;
	width:auto;
	height:auto;

}

.otziv_unit {
	min-height:190px;
	background:#fff;
	margin:10px 0;
}
.otziv_unit  .commment_image{
    padding: 10px 0 10px 10px;
}


.otziv_unit span.white_arrow {
	display:block;
	position:absolute;
	width:6px;
	height:16px;
	margin:15px 0 0 184px;
	background:url(../images/white_arrow.png) 0 0 no-repeat;
}

.otziv_unit h3 a{
	color: #000;
text-decoration: none;
font-size: 24px;
line-height: 24px;
margin: 0px 20px 5px 0px;
display: block;

}

.otziv_unit .raiting {
	/*margin-left:10px;*/
}

.otziv_text {
	padding-top:10px;
	border-top:1px solid #d4d6d9;
	color:#8a8b8d;
	font-size:16px;
}

.otziv_unit .title {
	padding-bottom:10px;
}

.otziv_left {
	margin:10px 0;
	background:#fff;
	padding:10px;
	min-height:180px;
}

.otziv_left p {
	display:block;
	font-size:24px;
	color:#000;
	margin-bottom:15px
}

.otziv_left textarea, .otziv_left input[type=text] {
	/*width:47.5%;*/
	/*background:#fff;*/
	border-radius: 0px;
	resize:none;
	/*border:1px solid #d4d6d9;*/
	padding:9px;
}


.otziv_left textarea.placeholder {
	color:#b8b8b8;
}

.otziv_left textarea {
	height:70px
}
.otziv_left input[type=text] {
	height:20px;
}

.sort-tab .col {
	width:37%;
}

.sort-tab .select-set .col {
	width:100%;
}

.sort-tab .select-set {
	width:22%;
}

.col.alfavit_sort {
	width:20%;
	font-size:14px;
}

.alphabet.latinic {
	display:none;
}

.alphabet {
	width:74%;
	/*height:150px;*/
    margin-top: -35px;
    overflow: hidden;
}

.sort-tab ul.alphabet li {
	width:20px;
	text-align:center;
}

.social_icon {
	display:inline-block;
	width:23px;
	height:23px;
	background:url(../images/soc_panel.png) no-repeat;
	margin:5px 2px 0;
}

.social_icon.facebook, .social_icon.F, .social_icon.Facebook{
	background-position:0 0;
}

.social_icon.twiter, .social_icon.T, .social_icon.Twitter{
	background-position:-32px 0;
}
.social_icon.google, .social_icon.G, .social_icon.Google{
	background-position:-62px 0;
}

.text_more .clearboth {
	/*display:inline-block;*/
	height:30px;

}
.text_more .clearboth a{
	float:right;
}

.ref_clone {
	color: #04987e;
	text-decoration: underline;
}

.text_more.short {
	height:120px;
	overflow:hidden;
}

.gredient_shadow {
	position:relative;
	height:50px;
	width:100%;
	margin-top:-45px;
    background: url("../images/gradi.png") repeat-x;
	/*background: rgba(250,250,250,0.9); *//* Для старых браузров */
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(250,250,250,0.9)); *//* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    /*background: -webkit-gradient(linear, left top, left bottom,*/
                /*color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(250,250,250,0.9)));*/
    /* Chrome 10+, Safari 5.1+ */
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(250,250,250,0.9));*/
    /*background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(250,250,250,0.9)); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(250,250,250,0.9)); *//* IE10 */
    /*background: linear-gradient(top, rgba(0,0,0,0), rgba(250,250,250,0.9)); *//* CSS3 */
    display:none;
}

.show_detail_otzivi {
    padding-bottom:10px
}
/* ----mic end*/


/*  ----mic new*/
.private-content .inner ul{
    list-style-type: none;
}

.private-content .inner ul li{
    list-style-type: none;
}

.private-content .inner #tree_list_base {
    list-style-type: none;
}

.private-content .inner #tree_list_base li {
	float:none;
	background:none;
}

.private-content .inner #tree_list_base li .ravenst {
	display:inline-block;
	width:8px;
	height:8px;
	background-image: url(../images/tree_icons.png);
	background-repeat:no-repeat;
	background-position: 3px 4px;
	cursor:pointer;
	padding: 3px 3px 2px 3px;
	margin-right:10px;
}

.private-content .inner #tree_list_base li .ravenst.open {
	background-position:3px -9px;
}

.private-content .inner #tree_list_base li a {
	display:inline-block;
	padding:0;
}

.private-content .inner #tree_list_base li a:hover {
	text-decoration:underline;
}

.private-content .inner #tree_list_base li .setting_tree {
	float:right;
	background-image:url(../images/tree_icons.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:16px;
	height:18px;
	margin:0 4px;
	cursor:pointer;
}

.private-content .inner #tree_list_base li .setting_tree.open_set_tree {
	background-position: -34px 0;
}

.private-content .inner #tree_list_base li .setting_tree.add_item_tree {
	background-position: -55px 0;
}

.private-content .inner #tree_list_base li .setting_tree.del_item_tree {
	background-position: -14px 0;
}

.private-content .inner #tree_list_base li ul.tree_lvl_two {
	padding-left:35px;
	margin-bottom:0;
	display:none;
}

.private-content .inner #tree_list_base li .tree_lvl_two li {
	background: url(../images/tree_bg.png) 0 0 repeat-y;
	padding-left:10px;
}

.private-content .inner #tree_list_base li .tree_lvl_two li:last-child {
	background:url(../images/tree_bg_last.png) 0 -44px no-repeat;
}

/* стили для всплывающих окон в продажах------------------------------------------------------------ */

.hidden_sale {
	background-color: #15191C;
	min-height:40px;
	min-width:100px;
	position:absolute;
	padding:5px;
	border:3px solid #283036;

	right:0;
	margin-right:5px;
	z-index:10;
	display:none;
}

.hidden_sale.static {
	width:280px;
}

.hidden_sale.lastic {
	width:auto;
	max-width:795px;

}

.hidden_sale input[type=submit], .hidden_sale input[type=button] {
	margin:5px 8px;
}

.hidden_sale input {
	display:inline-block;
}

.green-btn.cencel_pop, .trader_table thead{
	background-color: #283036;

}

.hidden_sale p.etensh {
	font-size:16px;
}

.icon-purple {
	background:url(../images/tree_icons.png) 0 -24px no-repeat !important;
	width:25px !important;
    cursor: pointer;
}

.basket_traders li{
	float:none !important;
    margin:5px 0 !important;


	margin:5px 0;
}

.basket_traders li p {
	/*padding:12px 10px;*/
	/*font-size:18px;*/
}

.item.selling_orders .title .total-price, .item.my_orders .title .total-pricet_traders .cencel_pop{
	margin-top:-9px;
}

.treder_name b {
	color: #000;
margin: 0 20px;
display: inline-block;
font-size: 18px;

height: 40px;
line-height: 40px;
padding: 0 20px;
margin-top: -9px;
}

/*.treder_name span {*/
	/*width:300px;*/
	/*display:inline-block;*/
	/*cursor:pointer;*/
    /*color:#fff;*/
/*}*/

.treder_name span.int {
    text-align: right;
    color: #000000;
    width:70px;
}

.trader_table {
	background-color: #15191c;
	width:100%;
}

.trader_table tbody {
	background:#fff;
	color: #15191c;
}

.trader_table tbody td {
	padding:10px;
}

.trader_table .thmb {
	display: table-cell;
	height: 100px;
	padding-top: 10px;
	text-align: center;
	width: 100px;
	vertical-align: middle;
}

.trader_table .image_td {
	padding:0;
}

.trader_table .numbers {

}

.trader_table .numbers {
}

.center_ag {
	text-align:center;
	padding:0 !important;
}

.change_number {
	/*width:8px;*/
	/*height:8px;*/
    /*background-image:url(../images/tree_icons.png);*/
    width:16px;
    height:16px;
	display:inline-block;
	vertical-align:middle;
	background: url("../images/plus_minus_icon.png") no-repeat;
	cursor:pointer;
}

.change_number.minus {
	background-position:0 0;
}

.change_number.plus {
	background-position:-52px 0;
}

.trader_table  .input_change {
	width: 33px !important;
	text-align: center;
	background: #999;
	padding: 0px !important;
	margin: 0 6px;
	color: #fff;
}

.trader_table [class^="icon-"], .trader_table [class*=" icon-"] {
	width:20px;
	height:20px;
}

#page .treder_name .refresh_price {
	display:none;
}

.trader_table .image_td {
	padding:0 !important;
}

#cart .basket_traders .trader_table a {
	padding:0;
}

.company_name{
    font-size: 24px;
    color: #000000;
}

.tree_list_title {
    font-size: 30px;
    color:#fff;
}


.profile_filter.with_back {
    background: url(../images/css/icons.png) -225px 2px no-repeat !important;
    padding-left: 15px !important;

}

.profile_filter.open-pop.with_back {
    background: url("../images/css/arrows_shine.png") -2px 0 no-repeat !important;
}
#filter_container{
    /*overflow: hidden;*/
    margin: -30px 0 0 0;
}

.submit_search {
    right: 20px;
    position: absolute;
    background: url(../images/css/icons.png) -213px -353px no-repeat;
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-top: 8px;
}

.static_width_input {
    width: 20px !important;
    display: inline-block !important;
}

.hidden_sub{
    /*display: block;*/
    /*width: 0px!important;*/
    /*height: 0px!important;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*opacity: 0;*/
    /*filter:alpha(opacity=0);*/
    /*line-height: 0px;*/
}

.submit_search {
    right: 20px;
    position: absolute;
    background: url(../images/css/icons.png) -213px -353px no-repeat;
    width: 30px;
    height: 30px;
    background-color: #fff;
    margin-top: 8px;
}

#filter_container .submit_search{
    position: static;
    margin-left: -32px;
    /*margin: 0 600px 0 0;*/
}

.single-wrap .common a.grey-btn {
    color:#fff;
    text-decoration: none;
    margin: 0 2px 2px 0;
}

.single-wrap .common a.green-btn {
    color:#fff;
    text-decoration: none;
    margin: 0 2px 2px 0;
}

input[type=radio].mic_check, input[type=checkbox].mic_check {
    position:absolute;
    opacity: 0;
    filter:alpha(opacity=0);
}

.black_bg .new_check {
    position:relative;
}

.black_bg .new_check:before {
    content:'';
    width: 11px;
    height:11px;
    position:absolute;
    top:1px;
    left:1px;
    border:3px solid #666;
}

.dark_back {
    background: #000;
    padding: 10px;;
}


.new_check {
    display: inline-block;
    background: url(../images/css/icons.png)  -161px -176px no-repeat;
    height: 18px;
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.new_check.checked {
    background-position: -161px -200px;
}

.low_high_price {
    float: left;
    font-size: 20px;
    display: inline-block;
    padding-top: 7px;
}

#header .wrapper {
    max-width:100%;
}

.tabs_history ul li{
    display: inline-block;
    list-style-type: none;
    margin:0 1px;
    background: #283036;
    font: 16px "Calibri Light","Trebuchet MS","Helvetica CY",sans-serif;
    border-radius: 0;
    border: none;
}

.tabs_history ul li a {
    color: #fff;
    font-size: 18px;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
    float: none;
}

.tabs_history ul li a.active {
    background-color: #04987e;
}

.opacity {
    opacity: 0;
    filter:alpha(opacity=0);
}

.product_image_row{
    margin: 0 0 10px;
}
.product_image_row .delete-row{
    float: right;
}
.propery_fields ul li{
    display: block;
    background: none;
}

.item.my_orders .title,  .item.selling_orders .title, .item.basket_item .title{
    background-color: #04987e;
    padding: 12px 10px;
    font-size: 18px;
}

.item.my_orders .title .title_name, .item.selling_orders .title .title_name, .item.basket_item .title .title_name{
    width: 300px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}

.item.my_orders .title .date, .item.selling_orders .title .date, .item.basket_item .title .date{
    text-align: right;
    color: #000000;
    width: 250px;
    margin-top:2px;
}

.item.selling_orders .title .total-price, .item.my_orders .title .total-price, .item.basket_item .title .total-price {
    text-align: right;
    color: #000000;
    /*width: 150px;*/

    font-weight: bold;
}

.item.selling_orders .title .total-price, .item.my_orders .title .total-price {
    margin-top:2px;
}

.item.basket_item .title .total-price {
     margin-top:-2px;
 }

.order_status {
    color: #000000;
    /*width: 100px;*/
}


.ui-widget-content a.green-btn {
    color:#fff;
}
#tree_list_base .active_catalog.item_tree{
    color:#04987E !important;
    font-weight: bold;
}
.pr_module_section_cont{
    margin-left: -10px;
}
.select_cont{
    padding: 0 0 10px 0px;
}


.pr_module_section_cont .select_cont{
    float: left;
    width: 250px;
    padding: 0 0 10px 13px;
}


/*.select_cont+.select_cont{*/
    /*margin-left: 15px;*/
/*}*/

.region select {
    height: 30px;
}

.login-container .error ul, .errorlist{
    float: left;
    padding-left: 5px;
    height: 30px;
    margin-right: 5px;
    list-style-type: none;
}
.login-container .error ul{
    width:185px !important;
}


.select_region {
    padding: 0 0 10px 0;
}

.popover.pop-search {
    top:123px !important;
}


.search_wrapper {
    background: #000;
    margin:10px 0;
    padding:10px;
    min-height: 500px;
    position: relative;
}

.search_wrapper .search-container {
    width:auto;
}

.search_wrapper .wrap_selectable.aright{
    width: 240px;
    margin-right: 60px;
}

.search_wrapper .selectable-deck-item {
    font-weight: bold;
    border-bottom: 1px solid #6F6F6F;
    color: #fff;
}

.wrapper_login {
    background: #000;
    margin:10px auto;
    padding:10px;
    min-height: 200px;
    width: 590px;
}

.wrapper_login .login-container {
    width:590px;
}

.wrapper_login .login-container .error ul, .wrapper_login .errorlist {
    width: 280px;
}

.wrapper_login .login-container input[type="text"],.wrapper_login  .login-container input[type="password"] {
    width:250px;
}

.single-wrap .wrapper {
    max-width:1070px;
}


.comment_container textarea, .comment_container input[type="text"], .otziv_left textarea, .otziv_left input[type=text] {
    background: #F5F5F5;
    resize: none;
    display: block;
    border: 1px solid rgb(21, 25, 28);
}

.otziv_left .form_captcha input[type=text], .comment_container .form_captcha input[type=text]{
display: inline;
    width: 100px !important;
}

.product_comment_captcha img.captcha, .form_captcha  img.captcha{
    width: 150px;
    float:left;
}

#otzivi img.captcha{
    width: 150px;
}
.submit_review {
    margin: 22px 0 0 10px;
    vertical-align: top;
}

.comment_item {
    padding: 10px 0;
    border-bottom: 1px solid #879199;
}

.comment_item h4 {
    font-weight: bold;
}

.comment_item p{
    color:#000;
}

.comment_item p.date {
    text-align: right;
    font-size: 14px;
    color:#879199;
}

.errorlist {
    list-style-type: none;
}

.errorlist li {
    background: none !important;
    color:#ff0000;
}

.reviews_container #comment_list_pager{
    background: 0;
}

.reviews_container #comment_list_pager ul {
    width:550px !important;
}

.reviews_container #comment_list_pager li {
    /*background: 0 !important;*/
    float:left !important;
    margin:0 !important;
}

.reviews_container #comment_list_pager li a {
    background: 0;
    border:0;
    border-radius: 0;
}

.reviews_container #comment_list_pager li a.active {
    background-color: #04987e;
}

.reviews_container #comment_list_pager .short {
    width:110px !important;

}

.reviews_container #comment_list_pager .short input[type=text] {
    background: #E9E9E9;
    text-align: center;
}

.reviews_container #comment_list_pager .short input[type=button] {
    background-color: #04987e;
    border: 0px;
    border-radius: 0px;
    width: 40px;
    height: 36px;
    color:#fff;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;

}
#pm_messages{
    width: 100%;
}
#pm_messages td{
    padding: 0 2px 0 2px;
}

#pm_buttons .green-btn.aleft{
    margin: 0 10px 0 0;
}

#pm_messages .mess_inf{
    width: 100px;
    line-height: 11px;
}
#pm_messages .mess_inf a{
    font-size: 12px;
}
#pm_messages .mess_inf .mess_date{
    font-size: 11px;
}
#pm_messages .mess_short{
    word-break: break-all;
    vertical-align: top;
}

.message_row{
    min-height: 80px;
}

.message_row .mess_avatar{
    padding: 0 5px 5px 0;

}
.message_row .mess_body{
    word-break: break-all;
    margin: 0 0 0 85px;
}
.message_row .mess_date{
    font-size: 12px;
    color: #999999;
}

.message_row .mess_sender{
    font-weight: bold;
    color: #04987E;
    font-size: 14px;
}

.postman_list {
    max-height: 380px;
    overflow-y: auto;
}

.mark_content {
    max-width:400px;
    height:auto;
}

.product_choose {
    /*padding-left: 5px;*/
}

.similar_products, .associated_products {
    padding-bottom:10px;
}

#product-update .product_choose .ui-button{
    background: url(../images/css/icons.png) -180px -230px;
    border:0;
}

#product-update .product_choose .ui-button.selectable-deck-remove {
    background: url(../images/css/icons.png) no-repeat -223px -93px;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-top: 10px;
    margin-right: -25px;
    top:0;
    right:0;
}

#product-update .product_choose .selectable-deck-item {
    min-height: 37px;
    padding: 3px;
    display:block;
    margin:4px 0;
    position: relative;
}

.error.reg_email {
    height:50px;

}

.private-content .inner ul li .item_tree {
    cursor:pointer;
}

.item.basket_item .check_out {
    margin-top: -9px;
    margin-left:5px;
}

#product-update {
    margin-top:15px;
}

#product-update .row {
    margin:0;
}

.item {
    margin:5px 0;
}

#import_product {

    padding-bottom: 70px;
}

#profile-settings-update .add-row{
    display: none !important;
}

#profile-region-update .add-row{
    display: none !important;
}

.custom-sel.without_bg {
    background: none;
    color:#fff;
    height: 21px;
    vertical-align: bottom;
    margin-right:30px;

}

.custom-sel.without_bg .cusel-scroll-wrap {
    background:#000;
    color:#fff;
}

.custom-sel.without_bg .cuselText {
    padding: 0;
    color:#fff;
}

.custom-sel.without_bg .cuselFrameRight {
    background-position: -184px -237px;
}

.data-content .user-item {
    padding:0;
    border-bottom: 3px double #d4d6d9;
    background:#000;
}

.handler .inner{
    min-height: 0;
}

.comment_container .errorlist{
    width: auto;
}

#product-comment-form textarea, .otziv_left textarea, .otziv_left input[type=text], #product-comment-form input[type=text] {
    width:510px;
}

.form_captcha input[type=text] {
    width:100px;
    margin: 12px 10px 0;
    float: left;
}

.comment_container, .otziv_left form{
    width:550px;
}

.captch_refresh_conteiner {
    position: absolute;
margin: 0 0 0 160px;
}

.comment_container .submit_review{
    margin:36px 3px 0 10px;
}

.otziv_left input[type=submit] {
    margin: 22px 32px 0 10px;
}

#postman .ui-button{

    z-index: 2;
    top: 0;
    right: 0;
    height: 40px;
    width: 30px;
    background: url(../images/css/icons.png) -194px -230px;
    border:0
}

.landscape.wrapper {
    max-width: none;
}
.change_region_filter_form{
    width: 100%;
}

.settings-container input[type=text] {
    width:366px;
    border: 3px solid rgb(21, 25, 28);

}

.categories_conteiner {
    min-width: 1070px;
    padding:10px 1%;
}

.categories_title {
    /*width:48%;*/

    padding:10px 1%;
    color:#fff;
}


.categories_title .title_bg {
    text-align: center;
    height: 160px;
}

.categories_title.business .title_bg {
    background: #980470;
}

.categories_title.for_all .title_bg {
    background: #04987e;
}

.categories_title .title_bg img {
    margin: 20px 0 10px;
}

.categories_title .title_bg p {
    font-family: "Calibri Light";
}

.categories_title .title_bg p.title {
    font-size:30px;
    padding-bottom:5px;
}

.categories_body {
    background:#fff;
    min-height: 300px;
    padding:10px 10px 30px;
}

.categories_list {
    list-style-type: none;
    color:#15191c;
    font-size:18px;
    font-family: "Calibri Light";
}
.categories_list a {

    color:#15191c;
    padding-left:30px;
    display: block;
}

.categories_list li {
    padding:15px 0;
    width:100%;
    float: left;
    border-bottom:  1px solid #e5e5e5;
}

.categories_list li .icon_bg {
    width:10px;
    height: 10px;
    float: left;
    background: url("../images/categories_icon.png") 0 0 no-repeat;
    margin:7px;
    /*position: absolute;*/
}

.categories_list li .icon_bg.last {
    background-position: 0 -33px;
}

.categories_list li .icon_bg.open {
    background-position: 0 -18px;
}

.categories_inner_list {
    list-style-type: none;
    display: none;
    width:100%;
    float: left;
}

.categories_inner_list li {
    border-bottom:0;
    padding: 5px 0;
    width: 46%;
    float: left;
}

.categories_item {
    width:50%;
}
.category_module{
    text-decoration: none;
}

.profile_edit{
    padding:10px 0 0 ;

}

.tabs_history {
    margin-bottom:10px;
}

.col label {
    display: inline-block;
margin-top: 6px;
}

.sizes label {
    float: left;
    width:100px;
    margin-bottom:10px;
}

.quantity_row {
    width: 51%;
}

.quantity_row select {
    width:70%;
}

.quantity_row  .delete-row {   /*.del-row, .delete-row*/
    float:right;
}
.propeties_filter_field{
    width: 250px;
}

.comment_list_container {
    margin-top: 30px;
padding-top: 20px;
border-top: 1px dotted #1b1b1b;
}

.with_sort_arrow .price {
    width:19%;
}

.with_sort_arrow .name, .with_sort_arrow .price{
    padding-left: 30px;

}

.with_sort_arrow .name .arrow_up, .with_sort_arrow .price .arrow_up, .with_sort_arrow .name .arrow_down, .with_sort_arrow .price .arrow_down {
    border:5px solid transparent;
    position: absolute;
    margin-left: -18px;
}

.with_sort_arrow .name .arrow_up, .with_sort_arrow .price .arrow_up {
    border-bottom: 5px solid #fff;
    margin-top: -3px;
}

.with_sort_arrow .name .arrow_down, .with_sort_arrow .price .arrow_down {
    border-top: 5px solid #fff;
    margin-top: 10px;
}

.with_sort_arrow .sort_up .arrow_up:before, .with_sort_arrow .sort_down .arrow_down:before  {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    box-shadow: 0 0 6px 3px #fff;

}

.with_sort_arrow .sort_up .arrow_up:before {
    margin-top: 2px;
}

 .with_sort_arrow .sort_down .arrow_down:before {
     margin-top:-3px;
 }

.custom-sel.without_bg span {
    color:#fff;
}

.sort-content {
    min-height:160px;
}


.profile_edit .add-row, #product_update .add-row{
    display: none!important;
}

.feedback_hidden {
    display:none;
}

.feedback_container .feedback_icon{
    width: 40px;
    height: 40px;
    background: url("../images/feedback_icon.png")no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.feedback_container .messeger .feedback_icon {
    background-position: -60px 0;
}

.feedback_container .pop_feedback .feedback_icon {
    background-position: 0 0;
}

.feedback_container .feedback_choise {
    height: 40px;
    padding: 5px;
    display: block;
    color:#fff;
    text-decoration: none;
    border-radius: 2px;

}

.feedback_container .feedback_choise.active {
    background: rgb(108, 148, 3);
}

.wrapper_feedback {
    background-color: #15191c;
    min-height: 500px;
    margin-top:20px;
    padding: 20px;
}

.wrapper_feedback .feedback_container .feedback_choise.active {
    background: #474C50;
}

.feedback_hidden {
    margin-top:5px;
}

ul.tree_sections li{padding: 0px 0px 0px 20px; list-style: none;}
ul.tree_sections li ul{padding: 0px 0px 0px 20px}


/*09.01.14 страница заглушки начало*/
/*начало главного блока с картинкой*/
.for_padding_bottom_block{
    padding-bottom: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
}
.welcome_background_image{
    background: url("../images/welcome_page_main_bg.jpg") no-repeat;
    background-size: cover;
    background-position: left top;
    width: 100%;
    min-width: 900px;
    height: 550px;
    min-height: 360px;
    margin-top: 7px;
}
.welcome_background_image_text_inside_block{
    max-width: 700px;
    text-align: center;
    left: 50%;
    margin:0 auto;
    padding-top: 55px;
}
.welcome_background_image_text_inside_block h1{
    font-family: Calibri;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 22px;
}
.welcome_background_image_text_inside_block p{
    font-family: Calibri;
    font-size: 16px;
    color: #ffffff;
    line-height: 23px;
    margin-bottom: 38px;
}
.welcome_background_image_text_inside_block a{
    font-family: Calibri;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 28px;
    background:#05B393 ;
}
/*конец главного блока с картинкой*/

/*начало черного блока с контентом*/
.black_welcome_block{
    width: 100%;
    min-width: 900px;
    height: 230px;
    background: #15191C;
    margin-top: 10px;
}
.inside_black_block h2{
    font-family: Calibri;
    font-size: 24px;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 8%;
}
.inside_black_block{
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 20px;
    min-width: 900px;
    max-width: 100%;
}
.inside_black_block ul li{
    float: left;
    padding-left: 10px;
    height: 165px;
    list-style: none;
    padding: 0 2% 0 8%;
    width: 23%;
}
.inside_black_block ul li h4{
    font-family: Calibri;
    font-size: 18px;
    color: #05b393;
    font-weight: normal;
    padding-top: 24px;
    padding-bottom: 20px;
}
.inside_black_block ul li h5{
    font-family: Calibri;
    font-size: 16px;
    color: #fefefe;
    font-weight: normal;
}
/*.last_lishka{*/
    /*float: right;*/
/*}*/
/*конец черного блока с контентом*/
/*09.01.14 страница заглушки конец*/

/*09.01.14 страница 404 начало*/
.foty_four_block{
    width: 100%;
    min-width: 900px;
    background: #15191C;
    margin-top: 9px;
    height: 790px;
    overflow: hidden;
    display: table;
}
.foty_inside_block{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.foty_inside_block h1{
    font-family: "Calibri Light";
    font-size: 100px;
    color: #ffffff;
}
.foty_inside_block h2{
    font-family: "Calibri Light";
    font-size: 24px;
    color: #ffffff;
}
.line_foty_block{
    width: 60px;
    border-bottom: 1px solid #313538;
    margin: 40px auto 40px;
}
.foty_inside_block p{
    font-family: "Calibri Light";
    font-size: 18px;
    color: #ffffff;
}
.foty_inside_block a{
    font-family: "Calibri Light";
    font-size: 18px;
    color: #0AA98C;
    text-decoration: none;
}
.foty_inside_block a:hover{
    text-decoration: underline;
}
/*09.01.14 страница 404 конец*/


.container .wrapper {
    background-color: hsl(206, 14%, 10%);
    box-shadow: 0px 2px 5px hsl(210, 14%, 9%) inset;
    margin: 15px auto;
    min-height: 600px;
}



.main_menu{
    padding: 10px 0;
}


.main_menu a, .payment_systems_menu a {
    color: hsl(0, 100%, 100%);
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
    display:block;
}

.history a.active {
    background-color: hsl(169, 95%, 31%);
    cursor: default;
}

.main_menu li{
    display: inline-block;
    list-style-type: none;
    margin: 0 1px;
    background: hsl(206, 15%, 18%);
    font: 18px "Calibri Light","Trebuchet MS","Helvetica CY",sans-serif;
    border-radius: 0;
    border: none;

}

.account_menu.history, .action_menu.history {
    list-style-type: none;
}

.action_menu.history {
    padding:10px 10px 10px 0;
}

.account_menu.history li, .action_menu.history li{
    float: left;
}

.account_menu.history li a.active, .action_menu.history li a.active{
    cursor: default;
    color:hsl(169, 95%, 31%);
    font-weight: bold;
    text-decoration: none;
    background: none;
}

.account_menu.history li a:hover, .action_menu.history li a:hover{
    text-decoration: none;
}

.account_menu.history li + li, .action_menu.history li + li{
    border-left: 1px solid hsl(220, 1%, 55%);
    padding: 0 0 0 5px;
    margin:0 0 0 5px;
}

.payment_systems_menu {
    display:block;
    list-style-type: none;
    width: 240px;
    border-radius: 0;
    border: none;
    background: none;
    margin-right:10px;
}

.payment_systems_menu li {
    display: block;
    list-style-type: none;

    background: hsl(206, 15%, 18%);
    font: 18px "Calibri Light","Trebuchet MS","Helvetica CY",sans-serif;
    border-radius: 0;
    border: none;
    margin: 0 0 5px 0;
}

.conteiner_right {
    margin-left: 250px;
}

.conteiner_right .row, .form_container .row  {
    display:block;
    width: 100%;
    vertical-align: top;
    margin-top: 5px;
}

.conteiner_right .row .col, .form_container .row .col {
    display: inline-block;
    vertical-align: top;
}

.conteiner_right .row .col.title,  .form_container .row .col.title {
    width: 25%;
}

.conteiner_right .row .col.wide, .form_container .row .col.wide {
    width: 75%;
}

.conteiner_right .row .col.wide input[type=text], .conteiner_right .row .col.wide textarea, .form_container .row .col.wide textarea, .form_container .row .col.wide  input[type=text] {
    width:94%;
    padding: 9px 3%;
    margin-bottom:0;
}

.conteiner_right .row .col.wide select, .form_container .row .col.wide select{
    width: 100%;
}



.mess_info_block{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sort_bt {
    position: relative;
}

.sort_bt:before {
    content: "";
    position: absolute;
    right:-15px;
    width:0;
    height:0;
    border:5px solid transparent;
    top:0;
}

.sort_bt.sort_up:before {
    border-bottom: 5px solid #8b8c8e;
    margin-top:4px;
}

.sort_bt.sort_down:before {
    border-top: 5px solid #8b8c8e;
    margin-top:10px;
}
.form_cell1, .form_cell2{
    width: 525px;
    padding-right: 20px;
    float: left;
}
.form_cell2{
    padding-right: 0;
}

.regular_payment_create{
    /*width: 500px;*/
}
.field_recipient{
    /*position: absolute;*/
}
.cont_ok_grid{
    display: block;
    width: 100%;
}

.ok_grid td{
    max-width: 200px;
    word-wrap: break-word;

}
