#page,
#footer{
    float: none !important;
    padding-right: 70px !important;
    width: auto !important;
}
#nav-bar{
    float: none !important;
    right: 0 !important;
    position: fixed !important;
    top: 0 !important;
}
#nav-bar .content{
    float: right;
    margin: 15px 15px 0 0;
    width: 40px;
    top: 0;
    right: 0;
}
.ajax-pop.pop-search{
    position: fixed !important;
    right: auto !important;
}