{% spaceless %}
{% load i18n %}
{% load grid %}
{% if request.is_ajax %}
    <script type="text/javascript">
        $(".calendar").datepicker(calendar_congig);
    </script>
    {% if messages %}
        {% include "messages.html" %}
    {% endif %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}

    <div class="cleaner"></div>
    <h1>{% trans "Financial statment" %}</h1>
    {% include "includes/grid_date_range_form.html" %}
    {% if not object_list or object_list|length == 0 %}
        {% trans "No entries in your statement" %}
    {% else %}
        {% grid_view object_list=object_list object_columns=object_columns items_on_page=10 %}
    {% endif %}
</div>
{% endspaceless %}
