{% extends "base.html" %}
{% block content %}
    <div class="wrapper">
        <form method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp">
            {{ form }}
            <input id="email" name="email" value="alexandr.okunovich@gmail.com">
            <input id="some_field" name="some_field" value="111111111">
            <input type="submit" value="submit" />
        </form>
    </div>
{% endblock %}