{% extends 'base.html' %}
{% spaceless %}
{% load i18n %}
{% block title %}{% trans "Verifair | adding funds" %}{% endblock %}
{% block content %}
{% if request.is_ajax %}
<script type="text/javascript">
    $(document).ready(function(){
        init_cusel();
    });
</script>
    {% if messages %}
        {% include "messages.html" %}
    {% endif %}
{% endif %}
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Adding funds" %}</h1>
    {% include "account/adding_funds/menu.html" %}
    <div class="aleft">
        {% include "account/adding_funds/create/_payment_systems_menu.html" %}
    </div>
        {% if bill.status == "waiting" %}
            {% blocktrans %}
                At the time of the payment status information is not certified.<br>
                Now the status of your order is defined as: {{ bill.status }}<br>
                Check the status of the link
            {% endblocktrans %}
            <a href="{% url "qiwi_success" %}?order={{ order.id }}"> {% trans "Check bill status" %}</a>
        {% else %}
            {% blocktrans %}
                Your payment number {{ id }} is successfully procceded.
            {% endblocktrans %}
        {% endif %}
</div>
{% endblock %}
{% endspaceless %}