{% spaceless %}
{% load i18n %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.errors }}

    {% for field_obj in form %}
        <div class="row {% if field_obj.field.required %}required{% endif %} field_{{ field_obj.name }}  ">
            <div class="col title">
                <label>
                    {{ field_obj.label }} {% if field_obj.field.required %}*{% endif %}:
                </label>
            </div>
            <div class="col wide">
                <div class="field_{{ field_obj.name }}">{{ field_obj }}</div>
                {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
    {% endfor %}
   <div class="row">
        <input type="submit" class="aright green-btn" id="enter" name="pay" value="{% trans "Send" %}">
   </div>
</form>
<div class="cleaner"></div>
{% endspaceless %}