{% spaceless %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
<style type="text/css">
    .invoice_discussion_cont{
        height:400px;
        overflow-y: scroll;
    }

.submit-row .default{
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../img/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
}


</style>

{% if moderator %}
    <script type="text/javascript" src="{% static "financial_system/js/jquery-1.8.3.min.js"%}"></script>
    {#<script type="text/javascript" src="{{ STATIC_URL }}"></script>#}
    <script type="text/javascript">

        $(document).ready(function(){
            $('.invoice_discussion_cont').scrollTop($('.invoice_discussion_cont')[0].scrollHeight);
            function updateDiscussion() {
                $.ajax({
                    url: "{{ request.path }}",
                    type: "GET",
                    async: false,
                    success: function(data){
                        var html = $.parseHTML(data);
                        console.log($(html);
                        var invoice_discussion_cont = $(html).find(".invoice_discussion_cont").html();
                        $(".invoice_discussion_cont").html(invoice_discussion_cont);
                        $('.invoice_discussion_cont').scrollTop($('.invoice_discussion_cont')[0].scrollHeight);
                        return false;
                    }
                });
                setTimeout(function(){updateDiscussion()}, 5000);
            }
            setTimeout(function(){updateDiscussion()}, 5000);
        });
    </script>

    <div class="invoice_discussion_cont">
    {% include "admin/financial_system/invoice/discussion/_list.html" %}
    </div>
    {% if invoice.completed %}
        {% trans "The invoice completed" %}<br>
    {% else %}
    <div class="form_container">
        {% include "admin/financial_system/invoice/discussion/_form.html" %}
    </div>
        {% if invoice.paid and invoice.payment_coupon == "E" %}
            {% trans "This is invoce has escrow mode." %}<br>
    {#        #{% url "invoice_complete_in_favor_owner" object.id %}#}
    {#        {% url "invoice_complete_in_favor_payer" object.id %}#}
            {% if request.user == moderator %}
                <div class="submit-row">
                    <a href="/admin/financial_system/invoice/invoice_complete_in_favor_owner/{{ invoice.id }}/" class="default">{% trans "Credit funds for owner invoice account" %}</a>
                    &nbsp;
                    <a href="/admin/financial_system/invoice/invoice_complete_in_favor_payer/{{ invoice.id }}/" class="default">{% trans "Credit funds for payer" %}</a>
                </div>
            {% endif %}

        {% endif %}
    {% endif %}
{% else %}
    {% trans "You must appoint a moderator to this discussion" %}
{% endif %}
{% endspaceless %}