{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="regular_payment action_menu history">
    <li>
        <a href="{% url "regular_payment_list" %}" class="{% active request "list"  %} {% active request "update"  %}">{% trans "Regular payments" %}</a>
    </li>
    <li>
        <a href="{% url "regular_payment_order_list" "my" %}" class="{% active request "my"  %}">{% trans "My orders of regular payments" %}</a>
    </li>
    <li>
        <a href="{% url "regular_payment_order_list" "for_me" %}" class="{% active request "for_me"  %}">{% trans "Orders of regular payments for me" %}</a>
    </li>
    <li>
        <a href="{% url "regular_payment_create" %}" class="{% active request "create"  %}">{% trans "Create a regular payment" %}</a>
    </li>
</ul>
<div class="cleaner"></div>
{% endspaceless %}
