{% load i18n %}{% load url from future %}{% autoescape off %}
    {% blocktrans %}Invoice was billed for you {{ site_name }}.{% endblocktrans %}
    <br>
    {% trans "You invoice:" %}<br>
    <b>{% trans "Amount" %}:</b> {{ options.invoice.amount }}<br>
    <b>{% trans "Currency" %}:</b> {{ options.invoice.currency }}<br>
    {% trans "You can view the invoice" %}
{#   this code crash with we need use celery tasks  <a href="http://{{ domain }}{% url "invoice_view_in_email" pk=options.invoice_id %}">http://{{ domain }}{% url "invoice_view_in_email" pk=options.invoice_id %}</a>#}
    {% if current_site.id == 1 %}
        <a href="http://{{ domain }}/account/invoice/view/{{ options.invoice.id }}/">http://{{ domain }}/account/invoice/view/{{ options.invoice.id }}/</a><br>
        {% trans "You can pay the invoice" %} <a href="http://{{ domain }}/account/invoice/pay/{{ options.invoice.id }}/">http://{{ domain }}/account/invoice/pay/{{ options.invoice.id }}/</a><br>
    {% else %}
        <a href="http://{{ domain }}/invoice/view/{{ options.invoice.id }}/">http://{{ domain }}/invoice/view/{{ options.invoice.id }}/</a><br>
        {% trans "You can pay the invoice" %} <a href="http://{{ domain }}/invoice/pay/{{ options.invoice.id }}/">http://{{ domain }}/invoice/pay/{{ options.invoice.id }}/</a><br>
    {% endif %}
    {% trans "Thank you for using our service" %}
    <br>
    {% blocktrans %}team {{ site_name }}.{% endblocktrans %}
    <br>
{% endautoescape %}
