{% spaceless %}
{% load i18n %}
<form method="POST" action="{{ shop.success_url }}"  class="shop_product_success" id="shop_product_success">
    {% for field_obj in form %}
        <div class="row field_{{ field_obj.name }}  ">
            <label>
                {{ field_obj.label }} {% if field_obj.field.required %}*{% endif %}:
            </label>
            {{ field_obj }}
        </div>
    {% endfor %}
    <input type="submit" class="aright green-btn" id="enter" name="transfer" value="{% trans "Send" %}">
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $("#shop_product_success").submit();
    });
</script>
{% endspaceless %}