{% spaceless %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>{{ shop.name }}</title>
        <script type="text/javascript" src="{% static "financial_system/js/jquery-1.8.3.min.js"%}"></script>
    </head>
    <body>
    <h1> {% trans "Expect is a redirect..." %}</h1>
    <div style="display:none;">
        {% include "shop/perform_payment/_payment_system.html" %}
    </div>
    </body>
 </html>
{% endspaceless %}