{% load i18n %}{% load url from future %}{% autoescape off %}
    {% blocktrans %}You added funds to {{ site_name }}.{% endblocktrans %}
    <br>
    {% trans "You adding funds in sustem:" %}<br>
    <b>Amount:</b> {{ options.amount }}<br>
    <b>Currency:</b> {{ options.currency }}<br>
    {% trans "Thank you for using our service" %}
    <br>
    {% blocktrans %}team {{ site_name }}.{% endblocktrans %}
    <br>
{% endautoescape %}
