{% spaceless %}
{% load i18n %}

{% if request.is_ajax %}
    <script type="text/javascript">
        init_cusel();
    </script>

{% endif %}

{#{% load selectable_tags %}#}
{#{{ form.media.css }}#}
{#{{ form.media.js }}#}
{# <script type="text/javascript">#}
{#    $(document).ready(function() {#}
{#        $('.recipients').djselectable();#}
{#    });#}
{#</script>#}
<form method="POST" action="{% url "conversion_funds_create" %}"  class="conversion_funds_create" id="conversion_funds_create">
    {% csrf_token %}
    {% for field_obj in form %}
        <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %} hidden {% endif %} field_{{ field_obj.name }}">
            <div class="col title"><label>{{ field_obj.label }}:</label></div>
            <div class="col wide">
                <div class="field_{{ field_obj.name }}">{{ field_obj }}</div>
                {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
            </div>
        </div>
        {% if field_obj.field.widget.attrs.hidden == "hidden" %}
            <div class="row">
            {% if field_obj.errors %} <div class="error">{{ field_obj.label }} {{ field_obj.errors }}</div>{% endif %}
            </div>
        {% endif %}
    {% endfor %}

    {% if exchange_rate %}
        <div class="row">
            <div class="col title"><label></label></div>
            <div class="col wide">
            {% blocktrans %}
                Exchange rate will be: {{ exchange_rate}} <br>
                You exchange: {{ credit_amount }} {{ credit_currency }}<br>
                The commission will be: {{ credit_commission }} {{ credit_currency }}<br>
                Withdrawn from your account: {{ credit_amount_with_commission }} {{ credit_currency }}<br>
                You obtain:  {{ debit_amount }} {{ debit_currency }}
            {% endblocktrans %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <input type="submit" class="aright green-btn" value="{% trans "Send" %}">
    </div>
</form>
<div class="cleaner"></div>
{% endspaceless %}