{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}

<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}

    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Conversion funds" %}</h1>
    <div class="form_container">
        {% include "account/conversion_funds/create/_form.html" %}
    </div>
</div>
{% endspaceless %}
