{% spaceless %}
{% load i18n %}
{% load custom_tags %}
<ul>
{% for item in object.invoicediscussion_set.all %}
    <li>
        <span class="username">{{ item.user|display_name }} {% if item.is_moderator %} {% trans "Moderator" %} {% endif %}</span><br>
        <span class="comment">{{ item.comment|safe }}</span><br>
        <span class="date">{{ item.date_create }}</span>
    </li>
{% empty %}
    <li>{% trans "Send your comment" %}</li>
{% endfor %}
</ul>
{% endspaceless %}

