{% spaceless %}
{% load i18n %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <h1>{% trans "Invoice discussion" %} #{{ object.id }}</h1>
    {% include "account/invoice/menu.html" %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.invoice_discussion_cont').scrollTop($('.invoice_discussion_cont')[0].scrollHeight);
            function updateDiscussion() {
                $.ajax({
                    url: "{% url "invoice_discussion" object.id %}",
                    type: "GET",
                    async: false,
                    success: function(data){
                        var invoice_discussion_cont = $(data).find(".invoice_discussion_cont").html();
                        $(".invoice_discussion_cont").html(invoice_discussion_cont);
                        $('.invoice_discussion_cont').scrollTop($('.invoice_discussion_cont')[0].scrollHeight);
{#                        setTimeout(updateDiscussion, 3000);#}
                        return false;
                    }
                });
                setTimeout(updateDiscussion, 4000);
{#                console.log("update_discussion");#}
            }
            setTimeout(updateDiscussion, 4000);
        });
    </script>
    <div class="invoice_discussion_cont">
       {% include "account/invoice/discussion/_list.html" %}
    </div>
    {% if invoice.completed %}
            {% trans "The invoice completed" %}<br>
        {% else %}
        <div class="form_container">
            {% include "account/invoice/discussion/_form.html" %}
        </div>
            {% if invoice.paid and invoice.payment_coupon == "E" %}
                {% trans "This is invoce has escrow mode." %}<br>
                {% if object.payer == request.user %}
                    {% trans "The funds don't received to owner invoice" %}<br>
                    <a href="{% url "invoice_complete_in_favor_owner" object.id %}" class="green-btn a_history">{% trans "Credit funds for owner invoice account" %}</a>
                {% elif object.owner == request.user %}
                    {% trans "You can return the funds to the buyer" %}<br>
                    <a href="{% url "invoice_complete_in_favor_payer" object.id %}" class="green-btn a_history">{% trans "Credit funds for payer" %}</a>
                {% endif %}
            {% endif %}
    {% endif %}
</div>
{% endspaceless %}