{% spaceless %}
{% load i18n %}
{% load thumbnail %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<div class="wrapper">
    {% for slide in slides %}
        <div>
            {% if slide.image %}
                 {% thumbnail slide.image  "150x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            {% endif %}
            <p>{{ slide.name }}</p>
            <p><a href="{% url "inform_block_detail" slide.id %}" title="{{ slide.title }}"> {{ slide.title }}</a></p>
            <p>{{ slide.short_description }}</p>
        </div>
    {% endfor %}

    <hr>
    {% for inform_block in information_blocks %}
        <div>
            {% if inform_block.image %}
                 {% thumbnail inform_block.image  "150x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            {% endif %}
            <p>{{ inform_block.name }}</p>
            <p><a href="{% url "inform_block_detail" inform_block.id %}" title="{{ inform_block.title }}"> {{ inform_block.title }}</a></p>
            <p>{{ inform_block.short_description }}</p>
        </div>
    {% endfor %}
</div>
{% endspaceless %}