{% extends 'base.html' %}
{% spaceless %}
{% load thumbnail %}
{% load i18n %}
{% block title %}{% trans "Verifair - financial system" %}{% endblock %}
{% block content %}
<div class="wrapper">
    {% if object.image %}
         {% thumbnail object.image  "300x300" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% endif %}
    <p>{{ object.name }}</p>
    <p>{{ object.title }}</p>
    <p>{{ object.description }}</p>
    <p>{{ object.image }}</p>
</div>
{% endblock %}
{% endspaceless %}
