{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Withdrawal funds" %}</h1>
    {% include "account/withdrawal_funds/menu.html" %}
    <div class="form_container">
        <div class="row">
            <div class="col title"><label>{% trans "Withderawal funds" %}: </label></div>
            <div class="col wide"> #ID {{ object.id }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount to withdrawal" %}:</label></div>
            <div class="col wide">{{ object.amount_to_withdrawal}} {{ object.currency_to_withdrawal }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Commission" %}:</label></div>
            <div class="col wide">{{ object.commission_to_withdrawal }} {{ object.currency_to_withdrawal }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount to withdrawal with commission" %}:</label></div>
            <div class="col wide">{{ object.amount_with_commission_to_withdrawal }} {{ object.currency_to_withdrawal }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Commission" %}:</label></div>
            <div class="col wide">{{ object.commission_to_withdrawal }} {{ object.currency_to_withdrawal }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Amount to withdrawal with commission" %}:</label></div>
            <div class="col wide">{{ object.amount_with_commission_to_withdrawal }} {{ object.currency_to_withdrawal }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Amount to obtain" %}:</label></div>
            <div class="col wide">{{ object.amount_to_obtain }} {{ object.currency_to_obtain }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Number purse/Bill" %}:</label></div>
            <div class="col wide">{{ object.purse }}</div>
        </div>

        {% if object.purse_from %}
        <div class="row">
            <div class="col title"><label>{% trans "Number purse/Bill payer" %}:</label></div>
            <div class="col wide">{{ object.purse_from }}</div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col title"><label>{% trans "Status" %}:</label></div>
            <div class="col wide">{{ object.status }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Paid" %}:</label></div>
            <div class="col wide">{{ object.paid }}</div>
        </div>

        {% if object.date_pay %}
         <div class="row">
            <div class="col title"><label>{% trans "Date pay" %}:</label></div>
            <div class="col wide">{{ object.date_pay }}</div>
        </div>
        {% endif %}
    </div>
</div>
{% endspaceless %}




