{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    {% include "account/_account_menu.html" %}
    {% include "account/_user_balance.html" %}
    {% include "account/_account_action_menu.html" %}
    <div class="cleaner"></div>
    <h1>{% trans "Order of regural payment funds" %}</h1>
    {% include "account/regular_payment/menu.html" %}
    <div class="form_container">
        <div class="row">
            <div class="col title"><label>{% trans "Order of regular payment" %}: </label></div>
            <div class="col wide"> #ID {{ object.id }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Recipient" %}:</label></div>
            <div class="col wide">{{ object.regular_payment.recipient }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount" %}:</label></div>
            <div class="col wide">{{ object.amount }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Commission" %}:</label></div>
            <div class="col wide">{{ object.commission }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Amount with commission" %}:</label></div>
            <div class="col wide">{{ object.amount_with_commission }} {{ object.currency }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Paid" %}:</label></div>
            <div class="col wide">{{ object.paid }}</div>
        </div>
    </div>
</div>
{% endspaceless %}
