{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="account_menu history aright">
    <li><a href="{% url "financial_statement" %}" class="{% active request "financial_statement" %} {% active request "account" %}">{% trans "Financial statement" %}</a></li>
    <li><a href="{% url "regular_payment_list" %}" class="{% active request "regular_payment" %}">{% trans "Regular payments" %}</a></li>
</ul>
{% endspaceless %}