{% spaceless %}
{% load i18n %}
{% load finance_tags %}
<ul class="account action_menu history">
    <li><a href="{% url "adding_funds_list" %}" class="{% active request "adding_funds" %}">{% trans "Adding funds" %}</a></li>
    <li><a href="{% url "transfer_funds_list" "my" %}" class="{% active request "transfer_funds" %}">{% trans "Transfer funds" %}</a></li>
    <li><a href="{% url "withdrawal_funds_list" %}" class="{% active request "withdrawal_funds" %}">{% trans "Withdrawal funds" %}</a></li>
    <li><a href="{% url "invoice_list" "my" %}" class="{% active request "invoice" %}">{% trans "Invoiceis" %}</a></li>
    {% if not operation_mode or operation_mode.code == "MP" %}
        <li><a href="{% url "conversion_funds_list" %}" class="{% active request "conversion_funds" %}">{% trans "Conversion funds" %}</a></li>
    {% endif %}
</ul>
<div class="cleaner"></div>
{% endspaceless %}
