{% spaceless %}
{% load i18n %}
{% if not user_balance or user_balance|length == 0 %}
    {% blocktrans %}
        Your account has not  funds.<br>
        To full-time work in the system, please add it to your account.
    {% endblocktrans %}
{% else %}
    <span>{% trans "On your account" %}:</span>
    <ul>
        {% for balance in user_balance %}
            <li>
                {{ balance.state }} {{ balance.currency.iso_code }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endspaceless %}