{% spaceless %}
{% load i18n %}
{% load finance_tags %}
{% load custom_tags %}
{% load grid %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    <h1>{% trans "Shop payment" %}</h1>
    {% include "shop/menu.html" %}
    {% if request.is_ajax %}
        <script type="text/javascript">
            $(".calendar").datepicker(calendar_congig);
        </script>
        {% include "messages.html" %}
    {% endif %}

    {% include "includes/grid_date_range_form.html" %}

    {% if not object_list or object_list|length == 0 %}
        {% trans "You don't have shop payment" %}
    {% else %}
        {% grid_view object_list=object_list object_columns=object_columns object_options=object_options multiple_action=multiple_action items_on_page=10  %}
    {% endif %}
</div>
{% endspaceless %}