{% spaceless %}
{% load i18n %}
{% load grid %}
    <form method="POST" action=""  class="grid_filter_form" id="grid_filter_form">
        {% csrf_token %}
        {% for field_obj in form %}
            <div class="form_{% cycle "cell1" "cell2" %}{% if field_obj.field.widget.attrs.hidden == "hidden" %} hidden {% endif %}" >
                <div class="col title"><label>{{ field_obj.label }}:</label></div>
                <div class="col wide">
                    {{ field_obj }}
                    {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                    {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
                </div>
            </div>
        {% endfor %}
        <input type="submit" id="save_to_xml" name="save_to_xml" class="green-btn aright" value="Save to xml"/>
        <input type="submit" id="enter" name="filter" class="green-btn aright" style="margin-right: 20px;" value="Enter" />
    </form>
{% endspaceless %}