{% spaceless %}
{% load i18n %}
{% load custom_tags %}


{% if request.is_ajax %}
<script type="text/javascript">
$(document).ready(function() {
    init_cusel();

});
</script>
{% endif %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}

<script type="text/javascript">
    {% if not operation_mode.code == "MP" and request.method == "GET"  %}
        $(document).ready(function() {
            send_html_post($("#invoice_pay").closest("form"), "#main .container");
        });
    {% endif %}
</script>
{% if object.status == "paid" %}
    <p>{% trans "This invoice has already been paid" %}</p>
{% else %}
    {% if object.payer != request.user %}
        {% trans "You can't pay this invoice" %}
    {% else %}
        <form method="POST" action="{% url "invoice_pay" object.id %}"  class="invoice_pay main_send_html_post" id="invoice_pay">
            {% csrf_token %}

            {% if object.payment_coupon == "E" %}
                {% trans "This invoice created when user worked in escrow mode" %}
            {% endif %}

            {% if object %}
                <div class="row">
                    <div class="col title"><label>{% trans "Sender" %}</label></div>
                    <div class="col wide">{{ object.sender|display_name }}</div>
                </div>

                <div class="row">
                    <div class="col title"><label>{% trans "Amount" %}</label></div>
                    <div class="col wide">{{ object.amount }} {{ object.currency }}</div>
                </div>
                <div class="row">
                    <div class="col title"><label>{% trans "Short description" %}</label></div>
                    <div class="col wide">{{ object.short_description }}</div>
                </div>
                {% if object.comment %}
                    <div class="row">
                        <div class="col title"><label>{% trans "Comment" %}</label></div>
                        <div class="col wide">{{ object.comment }}</div>
                    </div>
                {% endif %}
            {% endif %}


            {% for field_obj in form %}
                <div class="row {% if field_obj.field.widget.attrs.hidden == "hidden" %}hidden{% endif %}  {% if field_obj.field.required %}required{% endif %} field_{{ field_obj.name }}  ">
                    <div class="col title">
                        <label>
                            {{ field_obj.label }} {% if field_obj.field.required %}*{% endif %}:
                        </label>
                    </div>
                    <div class="col wide">
                        <div class="field_{{ field_obj.name }}">{{ field_obj }}</div>
                        {% if  field_obj.help_text %}<span class="help_text">{{ field_obj.help_text }}</span>{% endif %}
                        {% if field_obj.errors %} <div class="error">{{ field_obj.errors }}</div>{% endif %}
                    </div>
                </div>
                {% if field_obj.field.widget.attrs.hidden == "hidden" %}
                    <div class="row">
                    {% if field_obj.errors %} <div class="error">{{ field_obj.label }} {{ field_obj.errors }}</div>{% endif %}
                    </div>
                {% endif %}



            {% endfor %}



            {% if payment_amount %}
            <div class="row">
                <div class="col title">
                </div>
                <div class="col wide">
                {% blocktrans %}
                    You invoice payment {{ payment_amount }} {{ payment_currency }}<br>
                    The commission will be {{ payment_commission }} {{ payment_currency }}<br>
                    Invoice payment with commission {{ payment_amount_with_commission }} {{ payment_currency }}<br>
                {% endblocktrans %}
                </div>
            </div>
            {% endif %}

            <div class="row">
                <input type="submit" class="aright green-btn" id="enter" name="pay" value="{% trans "Send" %}">
            </div>

        </form>
    {% endif %}
 {% endif %}
<div class="cleaner"></div>
{% endspaceless %}