{% spaceless %}
{% load i18n %}
{% load custom_tags %}
<div class="wrapper">
    {% include "menu.html" %}
    {{ profile }}<br>
    {{ profile.user.first_name }}
    {{ profile.user.last_name }}
    </br>
    {{ profile.user.email }} </br>
    {% if profile.company_business_type%}
        {{ profile.company_business_type }}
    {% endif %}
</div>
{% endspaceless %}