{% spaceless %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% if request.is_ajax and messages %}
    {% include "messages.html" %}
{% endif %}
<span class="hidden page_path">{{ request.path }}</span>
<div class="wrapper">
    {% include "menu.html" %}
    <h1>{% trans "Shop" %}</h1>
    {% include "shop/menu.html" %}
    <div class="form_container">
        <div class="row">
            <div class="col title"><label>{% trans "Shop" %}: </label></div>
            <div class="col wide"> #ID {{ object.id }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "User" %}:</label></div>
            <div class="col wide">{{ object.user }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "User" %}:</label></div>
            <div class="col wide">{{ object.user }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Description" %}:</label></div>
            <div class="col wide">{{ object.description }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Secret key" %}:</label></div>
            <div class="col wide">{{ object.secret_key }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Success url" %}:</label></div>
            <div class="col wide">{{ object.success_url }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Success url" %}:</label></div>
            <div class="col wide">{{ object.fail_url }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Status" %}:</label></div>
            <div class="col wide">{{ object.get_status }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Date create" %}:</label></div>
            <div class="col wide">{{ object.date_create }}</div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Date uipdate" %}:</label></div>
            <div class="col wide">{{ object.date_update }}</div>
        </div>

        <div class="row">
            <div class="col title"><label>{% trans "Informer preview" %}:</label></div>
            <div class="col wide"><a href="{% url "balance_informer" object.id %}" target="_blank">{% trans "Informer" %}</a> </div>
        </div>
        <div class="row">
            <div class="col title"><label>{% trans "Default css" %}:</label></div>
             <div class="col wide">
                <a href="{% static "financial_system/css/informer.css" %}" target="_blank">{% trans "Informers css" %}</a>
             </div>
        </div>




    </div>
</div>
{% endspaceless %}